<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA121</key><string>æ</string>
<key>hA128</key><string>ð</string>
<key>hA12B</key><string>ŋ</string>
<key>hA130</key><string>œ</string>
<key>hA137</key><string>ç</string>
<key>hA138</key><string>Č</string>
<key>hA139</key><string>ř</string>
<key>hA13C</key><string>ă</string>
<key>hA13D</key><string>ĕ</string>
<key>hA13E</key><string>ŏ</string>
<key>hA13F</key><string>É</string>
<key>hA140</key><string>á</string>
<key>hA141</key><string>é</string>
<key>hA142</key><string>í</string>
<key>hA143</key><string>ó</string>
<key>hA144</key><string>à</string>
<key>hA145</key><string>è</string>
<key>hA146</key><string>ǽ</string>
<key>hA151</key><string>Á</string>
<key>hA153</key><string>Ć</string>
<key>hA155</key><string>É</string>
<key>hA159</key><string>Í</string>
<key>hA15A</key><string>Ĺ</string>
<key>hA15C</key><string>Ó</string>
<key>hA15F</key><string>Ŕ</string>
<key>hA160</key><string>Ś</string>
<key>hA162</key><string>Ú</string>
<key>hA164</key><string>Ẃ</string>
<key>hA166</key><string>Ý</string>
<key>hA167</key><string>Ź</string>
<key>hA168</key><string>á</string>
<key>hA16A</key><string>é</string>
<key>hA16B</key><string>í</string>
<key>hA16C</key><string>ń</string>
<key>hA16D</key><string>ó</string>
<key>hA170</key><string>ŕ</string>
<key>hA172</key><string>ú</string>
<key>hA173</key><string>ý</string>
<key>hA17C</key><string>À</string>
<key>hA17E</key><string>È</string>
<key>hA222</key><string>Ì</string>
<key>hA224</key><string>Ò</string>
<key>hA229</key><string>Ù</string>
<key>hA22B</key><string>à</string>
<key>hA22C</key><string>è</string>
<key>hA22D</key><string>ì</string>
<key>hA22E</key><string>ò</string>
<key>hA22F</key><string>ù</string>
<key>hA230</key><string>ỳ</string>
<key>hA231</key><string>ä</string>
<key>hA232</key><string>ë</string>
<key>hA233</key><string>ï</string>
<key>hA234</key><string>ö</string>
<key>hA235</key><string>ü</string>
<key>hA236</key><string>â</string>
<key>hA237</key><string>ê</string>
<key>hA238</key><string>î</string>
<key>hA239</key><string>ô</string>
<key>hA23A</key><string>ā</string>
<key>hA23B</key><string>ē</string>
<key>hA23C</key><string>ō</string>
<key>hA241</key><string>ã</string>
<key>hA242</key><string>ñ</string>
<key>hA243</key><string>õ</string>
<key>hA249</key><string>‘</string>
<key>hA24A</key><string>’</string>
<key>hA24B</key><string>“</string>
<key>hA24C</key><string>”</string>
<key>hA24D</key><string>・</string>
<key>hA24E</key><string>〔</string>
<key>hA24F</key><string>〕</string>
<key>hA250</key><string>〖</string>
<key>hA251</key><string>〗</string>
</dict>
</plist>
