<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA124</key><string>˚</string>
<key>hA125</key><string>˘</string>
<key>hA126</key><string>〖</string>
<key>hA127</key><string>〗</string>
<key>hA128</key><string>〔</string>
<key>hA129</key><string>〕</string>
<key>hA12A</key><string>~</string>
<key>hA12B</key><string>-</string>
<key>hA133</key><string>¸</string>
<key>hA134</key><string>Ç</string>
<key>hA135</key><string>ə́</string>
<key>hA136</key><string>ɚ́</string>
<key>hA137</key><string>ɪ́</string>
<key>hA138</key><string>ɔ́</string>
<key>hA139</key><string>ʊ́</string>
<key>hA13A</key><string>ɑ́</string>
<key>hA13B</key><string>´</string>
<key>hA13C</key><string>É</string>
<key>hA13D</key><string>á</string>
<key>hA13E</key><string>é</string>
<key>hA13F</key><string>í</string>
<key>hA140</key><string>ó</string>
<key>hA141</key><string>ú</string>
<key>hA142</key><string>ʌ́</string>
<key>hA143</key><string>ə̀</string>
<key>hA144</key><string>ɚ̀</string>
<key>hA145</key><string>ɪ̀</string>
<key>hA146</key><string>ɔ̀</string>
<key>hA147</key><string>ʊ̀</string>
<key>hA148</key><string>ɑ̀</string>
<key>hA149</key><string>`</string>
<key>hA14A</key><string>à</string>
<key>hA14B</key><string>è</string>
<key>hA14C</key><string>ì</string>
<key>hA14D</key><string>ò</string>
<key>hA14E</key><string>ù</string>
<key>hA14F</key><string>ʌ̀</string>
<key>hA150</key><string>ʌ</string>
<key>hA151</key><string>Á</string>
<key>hA152</key><string>B́</string>
<key>hA153</key><string>Ć</string>
<key>hA154</key><string>D́</string>
<key>hA155</key><string>É</string>
<key>hA156</key><string>F́</string>
<key>hA157</key><string>Ǵ</string>
<key>hA158</key><string>H́</string>
<key>hA159</key><string>Í</string>
<key>hA15A</key><string>Ĺ</string>
<key>hA15B</key><string>Ḿ</string>
<key>hA15C</key><string>Ó</string>
<key>hA15D</key><string>Ṕ</string>
<key>hA15E</key><string>Q́</string>
<key>hA15F</key><string>Ŕ</string>
<key>hA160</key><string>Ś</string>
<key>hA161</key><string>T́</string>
<key>hA162</key><string>Ú</string>
<key>hA163</key><string>V́</string>
<key>hA164</key><string>X́</string>
<key>hA165</key><string>Ý</string>
<key>hA166</key><string>Ź</string>
<key>hA167</key><string>á</string>
<key>hA168</key><string>é</string>
<key>hA169</key><string>í</string>
<key>hA16A</key><string>ó</string>
<key>hA16B</key><string>ú</string>
<key>hA16C</key><string>ý</string>
<key>hA16D</key><string>À</string>
<key>hA16E</key><string>È</string>
<key>hA16F</key><string>Ì</string>
<key>hA170</key><string>Ò</string>
<key>hA171</key><string>ǽ</string>
<key>hA172</key><string></string>
<key>hA173</key><string>æ̀</string>
<key>hA174</key><string></string>
<key>hA175</key><string>æ</string>
<key>hA176</key><string></string>
<key>hA177</key><string>S̀</string>
<key>hA178</key><string>T̀</string>
<key>hA179</key><string>Ù</string>
<key>hA17A</key><string>V̀</string>
<key>hA17B</key><string>à</string>
<key>hA17C</key><string>è</string>
<key>hA17D</key><string>ì</string>
<key>hA17E</key><string>ò</string>
<key>hA221</key><string>ù</string>
<key>hA222</key><string>ỳ</string>
<key>hA223</key><string>ɛ̃</string>
<key>hA224</key><string>ɔ̃</string>
<key>hA225</key><string>ɑ̃</string>
<key>hA226</key><string>ə</string>
<key>hA227</key><string>ɚ</string>
<key>hA228</key><string>ɪ</string>
<key>hA229</key><string>ɔ</string>
<key>hA22A</key><string>ʊ</string>
<key>hA22B</key><string>θ</string>
<key>hA22C</key><string>ð</string>
<key>hA22D</key><string>ʃ</string>
<key>hA22E</key><string>ʒ</string>
<key>hA22F</key><string>ŋ</string>
<key>hA230</key><string>ʇ</string>
<key>hA231</key><string>ɸ</string>
<key>hA232</key><string>ʔ</string>
<key>hA233</key><string>ː</string>
<key>hA234</key><string>ɑ</string>
<key>hA235</key><string>ł</string>
<key>hA236</key><string>~</string>
<key>hA237</key><string>ã</string>
<key>hA238</key><string>ñ</string>
<key>hA239</key><string>ø</string>
<key>hA23A</key><string>Å</string>
<key>hA23B</key><string>ṭ</string>
<key>hA23C</key><string>˙</string>
<key>hA23D</key><string>¨</string>
<key>hA23E</key><string>Ö</string>
<key>hA23F</key><string>ä</string>
<key>hA240</key><string>ë</string>
<key>hA241</key><string>ï</string>
<key>hA242</key><string>ö</string>
<key>hA243</key><string>ü</string>
<key>hA244</key><string>^</string>
<key>hA245</key><string>â</string>
<key>hA246</key><string>ê</string>
<key>hA247</key><string>î</string>
<key>hA248</key><string>ô</string>
<key>hA249</key><string>ˉ</string>
<key>hA24A</key><string>ā</string>
<key>hA24B</key><string>ē</string>
<key>hA24C</key><string>ī</string>
<key>hA24D</key><string>ō</string>
<key>hA24E</key><string>ū</string>
<key>hA250</key><string>ă</string>
<key>hA251</key><string>ĕ</string>
<key>hA252</key><string>ŏ</string>
<key>hA253</key><string>Č</string>
<key>hA254</key><string>ǎ</string>
<key>hA255</key><string>č</string>
<key>hA256</key><string>ě</string>
<key>hA257</key><string>ǐ</string>
<key>hA258</key><string>ř</string>
<key>hA259</key><string>š</string>
<key>hA25B</key><string>4́</string>
<key>hA25C</key><string>8́</string>
<key>hA25D</key><string>b́</string>
<key>hA25E</key><string>f́</string>
<key>hA25F</key><string>h́</string>
<key>hA260</key><string>n</string>
<key>hA261</key><string>ṕ</string>
<key>hA262</key><string>q́</string>
<key>hA263</key><string>ŕ</string>
<key>hA264</key><string>t́</string>
<key>hA265</key><string>1̇</string>
<key>hA266</key><string>3̇</string>
<key>hA26C</key><string>Ñ</string>
<key>hA26D</key><string>È</string>
<key>hA26E</key><string>C̀</string>
<key>hA26F</key><string>D̀</string>
<key>hA270</key><string>G̀</string>
<key>hA271</key><string>Ǹ</string>
<key>hA272</key><string>P̀</string>
<key>hA273</key><string>Q̀</string>
<key>hA274</key><string>œ̀</string>
<key>hA275</key><string></string>
<key>hA276</key><string>œ̃</string>
<key>hA277</key><string></string>
<key>hA278</key><string>œ</string>
<key>hA279</key><string></string>
<key>zA34E</key><string>―</string>
<key>zA37C</key><string>©</string>
<key>zA37D</key><string>®</string>
</dict>
</plist>
