<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA121</key><string>æ</string>
<key>hA122</key><string>ɔ</string>
<key>hA123</key><string>ʌ</string>
<key>hA124</key><string>ɚ</string>
<key>hA125</key><string>ə</string>
<key>hA126</key><string>ɛ</string>
<key>hA127</key><string>θ</string>
<key>hA128</key><string>ð</string>
<key>hA129</key><string>ʃ</string>
<key>hA12A</key><string>ʒ</string>
<key>hA12B</key><string>Ŋ</string>
<key>hA12C</key><string>ː</string>
<key>hA12D</key><string>ɑ</string>
<key>hA12F</key><string>ʇ</string>
<key>hA130</key><string>œ</string>
<key>hA131</key><string>ɸ</string>
<key>hA132</key><string>ɯ</string>
<key>hA133</key><string>¸</string>
<key>hA136</key><string>ç</string>
<key>hA137</key><string>Č</string>
<key>hA138</key><string>ř</string>
<key>hA13B</key><string>ă</string>
<key>hA13C</key><string>ĕ</string>
<key>hA13D</key><string>ŏ</string>
<key>hA13E</key><string>E̋</string>
<key>hA13F</key><string>a̋</string>
<key>hA140</key><string>é</string>
<key>hA141</key><string>ı̋</string>
<key>hA142</key><string>ő</string>
<key>hA143</key><string>ȁ</string>
<key>hA144</key><string>ȅ</string>
<key>hA145</key><string>ǽ</string>
<key>hA146</key><string>ɔ́</string>
<key>hA147</key><string>ʌ́</string>
<key>hA148</key><string>ɚ́</string>
<key>hA149</key><string>ə́</string>
<key>hA14A</key><string>έ</string>
<key>hA14B</key><string>ά</string>
<key>hA150</key><string>Á</string>
<key>hA151</key><string>É</string>
<key>hA152</key><string>Í</string>
<key>hA153</key><string>Ó</string>
<key>hA154</key><string>Ú</string>
<key>hA155</key><string>Ý</string>
<key>hA156</key><string>á</string>
<key>hA157</key><string>é</string>
<key>hA158</key><string>í</string>
<key>hA159</key><string>ó</string>
<key>hA15A</key><string>ú</string>
<key>hA15B</key><string>ý</string>
<key>hA15C</key><string>æ̀</string>
<key>hA15D</key><string>ɔ̀</string>
<key>hA15E</key><string>ʌ̀</string>
<key>hA15F</key><string>ɚ̀</string>
<key>hA160</key><string>ə̀</string>
<key>hA161</key><string>ɛ̀</string>
<key>hA162</key><string>ɑ̀</string>
<key>hA164</key><string>À</string>
<key>hA165</key><string>È</string>
<key>hA166</key><string>Ì</string>
<key>hA167</key><string>Ò</string>
<key>hA168</key><string>Ù</string>
<key>hA169</key><string>à</string>
<key>hA16A</key><string>è</string>
<key>hA16B</key><string>ì</string>
<key>hA16C</key><string>ò</string>
<key>hA16D</key><string>ù</string>
<key>hA16F</key><string>ä</string>
<key>hA170</key><string>ë</string>
<key>hA171</key><string>ï</string>
<key>hA172</key><string>ö</string>
<key>hA173</key><string>ü</string>
<key>hA174</key><string>â</string>
<key>hA175</key><string>ê</string>
<key>hA176</key><string>î</string>
<key>hA177</key><string>ô</string>
<key>hA178</key><string>ā</string>
<key>hA179</key><string>ē</string>
<key>hA17A</key><string>ō</string>
<key>hA17B</key><string>ɔ̃</string>
<key>hA17C</key><string>ɛ̃</string>
<key>hA17D</key><string>ɑ̃</string>
<key>hA17E</key><string>œ̃</string>
<key>hA221</key><string>ã</string>
<key>hA222</key><string>ñ</string>
<key>hA223</key><string>õ</string>
<key>hA228</key><string>◆</string>
<key>hA229</key><string>‘</string>
<key>hA22A</key><string>’</string>
<key>hA22B</key><string>“</string>
<key>hA22C</key><string>”</string>
<key>hA22E</key><string>〔</string>
<key>hA22F</key><string>〕</string>
<key>hA230</key><string>〖</string>
<key>hA231</key><string>〗</string>
<key>hA232</key><string>〈</string>
<key>hA233</key><string>〉</string>
<key>hA234</key><string>《</string>
<key>hA235</key><string>》</string>
<key>hA236</key><string>【</string>
<key>hA237</key><string>】</string>
<key>hA238</key><string>〔</string>
<key>hA239</key><string>〕</string>
<key>zA279</key><string>━</string>
<key>zA27B</key><string> </string>
</dict>
</plist>
