<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA121</key><string>Ç</string>
<key>hA122</key><string>œ</string>
<key>hA123</key><string>ç</string>
<key>hA124</key><string>â</string>
<key>hA125</key><string>ã</string>
<key>hA126</key><string>ɑ</string>
<key>hA127</key><string>ə</string>
<key>hA128</key><string>ɔ</string>
<key>hA129</key><string>ɛ</string>
<key>hA12A</key><string>ɡ</string>
<key>hA12B</key><string>ɲ</string>
<key>hA12C</key><string>ŋ</string>
<key>hA12D</key><string>ø</string>
<key>hA12E</key><string>ʃ</string>
<key>hA12F</key><string>ʒ</string>
<key>hA130</key><string>ː</string>
<key>hA131</key><string>ɑ̀</string>
<key>hA132</key><string>ɑ̃</string>
<key>hA133</key><string>æ̃</string>
<key>hA134</key><string>ɔ̃</string>
<key>hA135</key><string>ɛ̃</string>
<key>hA136</key><string>ɥ</string>
<key>hA137</key><string>¸</string>
<key>hA138</key><string>ī</string>
<key>hA139</key><string>ñ</string>
<key>hA13A</key><string>õ</string>
<key>hA13B</key><string>œ̃</string>
<key>hA13C</key><string>É</string>
<key>hA13D</key><string>á</string>
<key>hA13E</key><string>é</string>
<key>hA13F</key><string>´</string>
<key>hA140</key><string>À</string>
<key>hA141</key><string>È</string>
<key>hA142</key><string>à</string>
<key>hA143</key><string>è</string>
<key>hA144</key><string>ù</string>
<key>hA145</key><string>`</string>
<key>hA146</key><string>ä</string>
<key>hA147</key><string>ë</string>
<key>hA148</key><string>ö</string>
<key>hA149</key><string>ü</string>
<key>hA14A</key><string>¨</string>
<key>hA14B</key><string>ï</string>
<key>hA14C</key><string>Â</string>
<key>hA14D</key><string>Ê</string>
<key>hA14E</key><string>Ô</string>
<key>hA14F</key><string>ê</string>
<key>hA150</key><string>î</string>
<key>hA151</key><string>ô</string>
<key>hA152</key><string>û</string>
<key>hA153</key><string>^</string>
<key>hA154</key><string>Î</string>
<key>hA156</key><string>æ</string>
<key>hA157</key><string>ı</string>
<key>hA158</key><string>ß</string>
<key>hA159</key><string>í</string>
<key>hA15A</key><string>ó</string>
<key>hA15B</key><string>ú</string>
<key>hA15C</key><string>ă</string>
<key>hA15D</key><string>ı̌</string>
<key>hA15E</key><string>ŭ</string>
<key>hA15F</key><string>θ</string>
<key>hA160</key><string>ʌ</string>
<key>hA161</key><string>ò</string>
<key>hA162</key><string>ɑ́</string>
<key>hA163</key><string>ǽ</string>
<key>hA164</key><string>ə́</string>
<key>hA165</key><string>ɔ́</string>
<key>hA166</key><string>ɛ́</string>
<key>hA167</key><string>ʌ́</string>
<key>hA169</key><string>ɪ</string>
<key>hA16C</key><string>ʏ</string>
<key>hA176</key><string>ɐ</string>
<key>hA177</key><string>ɐ̌</string>
<key>hA178</key><string>ñ</string>
<key>hA179</key><string>ɐ̃</string>
<key>hA17A</key><string>Č</string>
<key>hA17B</key><string>č</string>
<key>hA17C</key><string>ž</string>
<key>hA17D</key><string>y̆</string>
<key>hA17E</key><string>ĭ</string>
<key>hA221</key><string>ɛ̆</string>
<key>hA222</key><string>ń</string>
<key>hA223</key><string>ý</string>
<key>hA224</key><string>œ́</string>
<key>hA225</key><string>Ý</string>
<key>hA226</key><string>ǿ</string>
<key>hA227</key><string>Ö</string>
<key>hA228</key><string>Ü</string>
<key>hA229</key><string>ß̈</string>
<key>hA22A</key><string>Ä</string>
<key>hA22B</key><string>Ú</string>
<key>hA22C</key><string>ˈ</string>
<key>hA22D</key><string>ɐ̆</string>
<key>hA22E</key><string>Ü</string>
<key>hA22F</key><string>ŏ</string>
<key>hA230</key><string>ˇ</string>
<key>hA231</key><string>¥</string>
<key>zA423</key><string>*</string>
<key>zA428</key><string>≤</string>
<key>zA44F</key><string>©</string>
<key>zA450</key><string>Œ</string>
</dict>
</plist>
