<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA121</key><string> </string>
<key>hA122</key><string>¡</string>
<key>hA123</key><string>¢</string>
<key>hA124</key><string>£</string>
<key>hA125</key><string>¤</string>
<key>hA126</key><string>¥</string>
<key>hA127</key><string>¦</string>
<key>hA128</key><string>§</string>
<key>hA129</key><string>¨</string>
<key>hA12A</key><string>©</string>
<key>hA12B</key><string>ª</string>
<key>hA12C</key><string>«</string>
<key>hA12D</key><string>¬</string>
<key>hA12E</key><string>­</string>
<key>hA12F</key><string>®</string>
<key>hA130</key><string>¯</string>
<key>hA131</key><string>°</string>
<key>hA132</key><string>±</string>
<key>hA133</key><string>²</string>
<key>hA134</key><string>³</string>
<key>hA135</key><string>´</string>
<key>hA136</key><string>µ</string>
<key>hA137</key><string>¶</string>
<key>hA138</key><string>·</string>
<key>hA139</key><string>¸</string>
<key>hA13A</key><string>¹</string>
<key>hA13B</key><string>º</string>
<key>hA13C</key><string>»</string>
<key>hA13D</key><string>¼</string>
<key>hA13E</key><string>½</string>
<key>hA13F</key><string>¾</string>
<key>hA140</key><string>¿</string>
<key>hA141</key><string>À</string>
<key>hA142</key><string>Á</string>
<key>hA143</key><string>Â</string>
<key>hA144</key><string>Ã</string>
<key>hA145</key><string>Ä</string>
<key>hA146</key><string>Å</string>
<key>hA147</key><string>Æ</string>
<key>hA148</key><string>Ç</string>
<key>hA149</key><string>È</string>
<key>hA14A</key><string>É</string>
<key>hA14B</key><string>Ê</string>
<key>hA14C</key><string>Ë</string>
<key>hA14D</key><string>Ì</string>
<key>hA14E</key><string>Í</string>
<key>hA14F</key><string>Î</string>
<key>hA150</key><string>Ï</string>
<key>hA151</key><string>Ð</string>
<key>hA152</key><string>Ñ</string>
<key>hA153</key><string>Ò</string>
<key>hA154</key><string>Ó</string>
<key>hA155</key><string>Ô</string>
<key>hA156</key><string>Õ</string>
<key>hA157</key><string>Ö</string>
<key>hA158</key><string>×</string>
<key>hA159</key><string>Ø</string>
<key>hA15A</key><string>Ù</string>
<key>hA15B</key><string>Ú</string>
<key>hA15C</key><string>Û</string>
<key>hA15D</key><string>Ü</string>
<key>hA15E</key><string>Ý</string>
<key>hA15F</key><string>Þ</string>
<key>hA160</key><string>ß</string>
<key>hA161</key><string>à</string>
<key>hA162</key><string>á</string>
<key>hA163</key><string>â</string>
<key>hA164</key><string>ã</string>
<key>hA165</key><string>ä</string>
<key>hA166</key><string>å</string>
<key>hA167</key><string>æ</string>
<key>hA168</key><string>ç</string>
<key>hA169</key><string>è</string>
<key>hA16A</key><string>é</string>
<key>hA16B</key><string>ê</string>
<key>hA16C</key><string>ë</string>
<key>hA16D</key><string>ì</string>
<key>hA16E</key><string>í</string>
<key>hA16F</key><string>î</string>
<key>hA170</key><string>ï</string>
<key>hA171</key><string>ð</string>
<key>hA172</key><string>ñ</string>
<key>hA173</key><string>ò</string>
<key>hA174</key><string>ó</string>
<key>hA175</key><string>ô</string>
<key>hA176</key><string>õ</string>
<key>hA177</key><string>ö</string>
<key>hA178</key><string>÷</string>
<key>hA179</key><string>ø</string>
<key>hA17A</key><string>ù</string>
<key>hA17B</key><string>ú</string>
<key>hA17C</key><string>û</string>
<key>hA17D</key><string>ü</string>
<key>hA17E</key><string>ý</string>
<key>hA221</key><string>þ</string>
<key>hA222</key><string>ÿ</string>
<key>hA223</key><string>Ā</string>
<key>hA224</key><string>ā</string>
<key>hA225</key><string>Ă</string>
<key>hA226</key><string>ă</string>
<key>hA227</key><string>Ą</string>
<key>hA228</key><string>ą</string>
<key>hA229</key><string>Ć</string>
<key>hA22A</key><string>ć</string>
<key>hA22B</key><string>Ĉ</string>
<key>hA22C</key><string>ĉ</string>
<key>hA22D</key><string>Ċ</string>
<key>hA22E</key><string>ċ</string>
<key>hA22F</key><string>Č</string>
<key>hA230</key><string>č</string>
<key>hA231</key><string>Ď</string>
<key>hA232</key><string>ď</string>
<key>hA233</key><string>Đ</string>
<key>hA234</key><string>đ</string>
<key>hA235</key><string>Ē</string>
<key>hA236</key><string>ē</string>
<key>hA237</key><string>Ĕ</string>
<key>hA238</key><string>ĕ</string>
<key>hA239</key><string>Ė</string>
<key>hA23A</key><string>ė</string>
<key>hA23B</key><string>Ę</string>
<key>hA23C</key><string>ę</string>
<key>hA23D</key><string>Ě</string>
<key>hA23E</key><string>ě</string>
<key>hA23F</key><string>Ĝ</string>
<key>hA240</key><string>ĝ</string>
<key>hA241</key><string>Ğ</string>
<key>hA242</key><string>ğ</string>
<key>hA243</key><string>Ġ</string>
<key>hA244</key><string>ġ</string>
<key>hA245</key><string>Ģ</string>
<key>hA246</key><string>ģ</string>
<key>hA247</key><string>Ĥ</string>
<key>hA248</key><string>ĥ</string>
<key>hA249</key><string>Ħ</string>
<key>hA24A</key><string>ħ</string>
<key>hA24B</key><string>Ĩ</string>
<key>hA24C</key><string>ĩ</string>
<key>hA24D</key><string>Ī</string>
<key>hA24E</key><string>ī</string>
<key>hA24F</key><string>Ĭ</string>
<key>hA250</key><string>ĭ</string>
<key>hA251</key><string>Į</string>
<key>hA252</key><string>į</string>
<key>hA253</key><string>İ</string>
<key>hA254</key><string>ı</string>
<key>hA255</key><string>Ĳ</string>
<key>hA256</key><string>ĳ</string>
<key>hA257</key><string>Ĵ</string>
<key>hA258</key><string>ĵ</string>
<key>hA259</key><string>Ķ</string>
<key>hA25A</key><string>ķ</string>
<key>hA25B</key><string>ĸ</string>
<key>hA25C</key><string>Ĺ</string>
<key>hA25D</key><string>ĺ</string>
<key>hA25E</key><string>Ļ</string>
<key>hA25F</key><string>ļ</string>
<key>hA260</key><string>Ľ</string>
<key>hA261</key><string>ľ</string>
<key>hA262</key><string>Ŀ</string>
<key>hA263</key><string>ŀ</string>
<key>hA264</key><string>Ł</string>
<key>hA265</key><string>ł</string>
<key>hA266</key><string>Ń</string>
<key>hA267</key><string>ń</string>
<key>hA268</key><string>Ņ</string>
<key>hA269</key><string>ņ</string>
<key>hA26A</key><string>Ň</string>
<key>hA26B</key><string>ň</string>
<key>hA26C</key><string>ŉ</string>
<key>hA26D</key><string>Ŋ</string>
<key>hA26E</key><string>ŋ</string>
<key>hA26F</key><string>Ō</string>
<key>hA270</key><string>ō</string>
<key>hA271</key><string>Ŏ</string>
<key>hA272</key><string>ŏ</string>
<key>hA273</key><string>Ő</string>
<key>hA274</key><string>ő</string>
<key>hA275</key><string>Œ</string>
<key>hA276</key><string>œ</string>
<key>hA277</key><string>Ŕ</string>
<key>hA278</key><string>ŕ</string>
<key>hA279</key><string>Ŗ</string>
<key>hA27A</key><string>ŗ</string>
<key>hA27B</key><string>Ř</string>
<key>hA27C</key><string>ř</string>
<key>hA27D</key><string>Ś</string>
<key>hA27E</key><string>ś</string>
<key>hA321</key><string>Ŝ</string>
<key>hA322</key><string>ŝ</string>
<key>hA323</key><string>Ş</string>
<key>hA324</key><string>ş</string>
<key>hA325</key><string>Š</string>
<key>hA326</key><string>š</string>
<key>hA327</key><string>Ţ</string>
<key>hA328</key><string>ţ</string>
<key>hA329</key><string>Ť</string>
<key>hA32A</key><string>ť</string>
<key>hA32B</key><string>Ŧ</string>
<key>hA32C</key><string>ŧ</string>
<key>hA32D</key><string>Ũ</string>
<key>hA32E</key><string>ũ</string>
<key>hA32F</key><string>Ū</string>
<key>hA330</key><string>ū</string>
<key>hA331</key><string>Ŭ</string>
<key>hA332</key><string>ŭ</string>
<key>hA333</key><string>Ů</string>
<key>hA334</key><string>ů</string>
<key>hA335</key><string>Ű</string>
<key>hA336</key><string>ű</string>
<key>hA337</key><string>Ų</string>
<key>hA338</key><string>ų</string>
<key>hA339</key><string>Ŵ</string>
<key>hA33A</key><string>ŵ</string>
<key>hA33B</key><string>Ŷ</string>
<key>hA33C</key><string>ŷ</string>
<key>hA33D</key><string>Ÿ</string>
<key>hA33E</key><string>Ź</string>
<key>hA33F</key><string>ź</string>
<key>hA340</key><string>Ż</string>
<key>hA341</key><string>ż</string>
<key>hA342</key><string>Ž</string>
<key>hA343</key><string>ž</string>
<key>hA344</key><string>ſ</string>
<key>hA34D</key><string>ƒ</string>
<key>hA34E</key><string>ˆ</string>
<key>hA34F</key><string>˜</string>
</dict>
</plist>
