<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA121</key><string>ɑ</string>
<key>hA122</key><string>ä</string>
<key>hA123</key><string>á</string>
<key>hA124</key><string>ā</string>
<key>hA125</key><string>ă</string>
<key>hA126</key><string>ã</string>
<key>hA127</key><string>â</string>
<key>hA128</key><string>à</string>
<key>hA129</key><string>ɑ́</string>
<key>hA12A</key><string>ɑ̀</string>
<key>hA12B</key><string>ɑ̃</string>
<key>hA12E</key><string>Ç</string>
<key>hA12F</key><string>Ć</string>
<key>hA130</key><string>C̀</string>
<key>hA131</key><string>d́</string>
<key>hA132</key><string>ë</string>
<key>hA133</key><string>é</string>
<key>hA134</key><string>ē</string>
<key>hA135</key><string>ě</string>
<key>hA136</key><string>ê</string>
<key>hA137</key><string>è</string>
<key>hA138</key><string>ḗ</string>
<key>hA139</key><string>ɛ́</string>
<key>hA13A</key><string>f́</string>
<key>hA13B</key><string>g</string>
<key>hA13C</key><string>ǵ</string>
<key>hA13D</key><string>g̀</string>
<key>hA13E</key><string>h́</string>
<key>hA13F</key><string>h̀</string>
<key>hA140</key><string>ĥ</string>
<key>hA141</key><string>ï</string>
<key>hA142</key><string>í</string>
<key>hA143</key><string>î</string>
<key>hA144</key><string>ì</string>
<key>hA145</key><string>ı</string>
<key>hA147</key><string>ḿ</string>
<key>hA148</key><string>ṃ</string>
<key>hA149</key><string>ń</string>
<key>hA14A</key><string>ñ</string>
<key>hA14B</key><string>ǹ</string>
<key>hA14C</key><string>ö</string>
<key>hA14D</key><string>ó</string>
<key>hA14E</key><string>ô</string>
<key>hA14F</key><string>ō</string>
<key>hA150</key><string>ò</string>
<key>hA151</key><string>p̀</string>
<key>hA152</key><string>ṕ</string>
<key>hA153</key><string>q̀</string>
<key>hA154</key><string>ŕ</string>
<key>hA155</key><string>ř</string>
<key>hA156</key><string>r̀</string>
<key>hA158</key><string>ș</string>
<key>hA159</key><string>ś</string>
<key>hA15A</key><string>t́</string>
<key>hA15B</key><string>ü</string>
<key>hA15C</key><string>ú</string>
<key>hA15D</key><string>ù</string>
<key>hA15E</key><string>ū</string>
<key>hA15F</key><string>Ū</string>
<key>hA160</key><string>ẁ</string>
<key>hA161</key><string>ẃ</string>
<key>hA162</key><string>x́</string>
<key>hA163</key><string>ý</string>
<key>hA164</key><string>ỳ</string>
<key>hA165</key><string>ȳ</string>
<key>hA221</key><string>Á</string>
<key>hA222</key><string>À</string>
<key>hA223</key><string>B́</string>
<key>hA224</key><string>B̀</string>
<key>hA225</key><string>Ć</string>
<key>hA226</key><string>C̀</string>
<key>hA227</key><string>D́</string>
<key>hA228</key><string>D̀</string>
<key>hA229</key><string>É</string>
<key>hA22A</key><string>È</string>
<key>hA22B</key><string>F́</string>
<key>hA22C</key><string>F̀</string>
<key>hA22D</key><string>Ǵ</string>
<key>hA22E</key><string>G̀</string>
<key>hA22F</key><string>H́</string>
<key>hA230</key><string>H̀</string>
<key>hA231</key><string>Í</string>
<key>hA232</key><string>Ǐ</string>
<key>hA233</key><string>Î</string>
<key>hA234</key><string>Ì</string>
<key>hA235</key><string>Ĺ</string>
<key>hA236</key><string>L̀</string>
<key>hA237</key><string>Ḿ</string>
<key>hA238</key><string>Ñ</string>
<key>hA239</key><string>Ǹ</string>
<key>hA23A</key><string>Ö</string>
<key>hA23B</key><string>Ó</string>
<key>hA23C</key><string>Ô</string>
<key>hA23D</key><string>Ò</string>
<key>hA23E</key><string>Ō</string>
<key>hA23F</key><string>P̀</string>
<key>hA240</key><string>Q̀</string>
<key>hA241</key><string>Ś</string>
<key>hA242</key><string>S̀</string>
<key>hA243</key><string>T́</string>
<key>hA244</key><string>T̀</string>
<key>hA245</key><string>Ü</string>
<key>hA246</key><string>Ú</string>
<key>hA247</key><string>Ù</string>
<key>hA248</key><string>V́</string>
<key>hA249</key><string>Ẃ</string>
<key>hA24A</key><string>X́</string>
<key>hA24B</key><string>Ỳ</string>
<key>hA24C</key><string>Ź</string>
<key>hA24D</key><string>C̄</string>
<key>hA24E</key><string>L̄</string>
<key>hA24F</key><string>M̄</string>
<key>hA250</key><string>V̄</string>
<key>hA251</key><string>X̄</string>
<key>hA262</key><string>ɔ</string>
<key>hA263</key><string>ʌ</string>
<key>hA264</key><string>ð</string>
<key>hA265</key><string>ŋ</string>
<key>hA266</key><string>θ</string>
<key>hA268</key><string>ʒ</string>
<key>hA269</key><string>ǝ</string>
<key>hA26A</key><string>ʃ</string>
<key>hA26C</key><string>ǽ</string>
<key>hA26D</key><string>æ̀</string>
<key>hA26E</key><string>ɔ́</string>
<key>hA26F</key><string>ɔ̀</string>
<key>hA270</key><string>ʌ́</string>
<key>hA271</key><string>ʌ̀</string>
<key>hA272</key><string>ə́</string>
<key>hA273</key><string>ə̀</string>
<key>hA274</key><string>ɛ</string>
<key>hA275</key><string>æ</string>
<key>zA121</key><string>ɑ</string>
<key>zA122</key><string>ä</string>
<key>zA123</key><string>á</string>
<key>zA124</key><string>ā</string>
<key>zA125</key><string>ă</string>
<key>zA126</key><string>ã</string>
<key>zA127</key><string>â</string>
<key>zA128</key><string>à</string>
<key>zA129</key><string>ɑ́</string>
<key>zA12A</key><string>ɑ̀</string>
<key>zA12B</key><string>ɑ̃</string>
<key>zA12E</key><string>Ç</string>
<key>zA12F</key><string>Ć</string>
<key>zA130</key><string>C̀</string>
<key>zA131</key><string>d́</string>
<key>zA132</key><string>ë</string>
<key>zA133</key><string>é</string>
<key>zA134</key><string>ē</string>
<key>zA135</key><string>ě</string>
<key>zA136</key><string>ê</string>
<key>zA137</key><string>è</string>
<key>zA138</key><string>ḗ</string>
<key>zA139</key><string>ɛ́</string>
<key>zA13A</key><string>f́</string>
<key>zA13B</key><string>g</string>
<key>zA13C</key><string>ǵ</string>
<key>zA13D</key><string>g̀</string>
<key>zA13E</key><string>h́</string>
<key>zA13F</key><string>h̀</string>
<key>zA140</key><string>ĥ</string>
<key>zA141</key><string>ï</string>
<key>zA142</key><string>í</string>
<key>zA143</key><string>î</string>
<key>zA144</key><string>ì</string>
<key>zA145</key><string>ı</string>
<key>zA147</key><string>ḿ</string>
<key>zA148</key><string>ṃ</string>
<key>zA149</key><string>ń</string>
<key>zA14A</key><string>ñ</string>
<key>zA14B</key><string>ǹ</string>
<key>zA14C</key><string>ö</string>
<key>zA14D</key><string>ó</string>
<key>zA14E</key><string>ô</string>
<key>zA14F</key><string>ō</string>
<key>zA150</key><string>ò</string>
<key>zA151</key><string>p̀</string>
<key>zA152</key><string>ṕ</string>
<key>zA153</key><string>q̀</string>
<key>zA154</key><string>ŕ</string>
<key>zA155</key><string>ř</string>
<key>zA156</key><string>r̀</string>
<key>zA158</key><string>ș</string>
<key>zA159</key><string>ś</string>
<key>zA15A</key><string>t́</string>
<key>zA15B</key><string>ü</string>
<key>zA15C</key><string>ú</string>
<key>zA15D</key><string>ù</string>
<key>zA15E</key><string>ū</string>
<key>zA15F</key><string>Ū</string>
<key>zA160</key><string>ẁ</string>
<key>zA161</key><string>ẃ</string>
<key>zA162</key><string>x́</string>
<key>zA163</key><string>ý</string>
<key>zA164</key><string>ỳ</string>
<key>zA165</key><string>ȳ</string>
<key>zA221</key><string>Á</string>
<key>zA222</key><string>À</string>
<key>zA223</key><string>B́</string>
<key>zA224</key><string>B̀</string>
<key>zA225</key><string>Ć</string>
<key>zA226</key><string>C̀</string>
<key>zA227</key><string>D́</string>
<key>zA228</key><string>D̀</string>
<key>zA229</key><string>É</string>
<key>zA22A</key><string>È</string>
<key>zA22B</key><string>F́</string>
<key>zA22C</key><string>F̀</string>
<key>zA22D</key><string>Ǵ</string>
<key>zA22E</key><string>G̀</string>
<key>zA22F</key><string>H́</string>
<key>zA230</key><string>H̀</string>
<key>zA231</key><string>Í</string>
<key>zA232</key><string>Ǐ</string>
<key>zA233</key><string>Î</string>
<key>zA234</key><string>Ì</string>
<key>zA235</key><string>Ĺ</string>
<key>zA236</key><string>L̀</string>
<key>zA237</key><string>Ḿ</string>
<key>zA238</key><string>Ñ</string>
<key>zA239</key><string>Ǹ</string>
<key>zA23A</key><string>Ö</string>
<key>zA23B</key><string>Ó</string>
<key>zA23C</key><string>Ô</string>
<key>zA23D</key><string>Ò</string>
<key>zA23E</key><string>Ō</string>
<key>zA23F</key><string>P̀</string>
<key>zA240</key><string>Q̀</string>
<key>zA241</key><string>Ś</string>
<key>zA242</key><string>S̀</string>
<key>zA243</key><string>T́</string>
<key>zA244</key><string>T̀</string>
<key>zA245</key><string>Ü</string>
<key>zA246</key><string>Ú</string>
<key>zA247</key><string>Ù</string>
<key>zA248</key><string>V́</string>
<key>zA249</key><string>Ẃ</string>
<key>zA24A</key><string>X́</string>
<key>zA24B</key><string>Ỳ</string>
<key>zA24C</key><string>Ź</string>
<key>zA24D</key><string>C̄</string>
<key>zA24E</key><string>L̄</string>
<key>zA24F</key><string>M̄</string>
<key>zA250</key><string>V̄</string>
<key>zA251</key><string>X̄</string>
<key>zA262</key><string>ɔ</string>
<key>zA263</key><string>ʌ</string>
<key>zA264</key><string>ð</string>
<key>zA265</key><string>ŋ</string>
<key>zA266</key><string>θ</string>
<key>zA268</key><string>ʒ</string>
<key>zA269</key><string>ǝ</string>
<key>zA26A</key><string>ʃ</string>
<key>zA26C</key><string>ǽ</string>
<key>zA26D</key><string>æ̀</string>
<key>zA26E</key><string>ɔ́</string>
<key>zA26F</key><string>ɔ̀</string>
<key>zA270</key><string>ʌ́</string>
<key>zA271</key><string>ʌ̀</string>
<key>zA272</key><string>ə́</string>
<key>zA273</key><string>ə̀</string>
<key>zA274</key><string>ɛ</string>
<key>zA275</key><string>æ</string>
<key>zA426</key><string>Æ</string>
<key>zA42C</key><string>Œ</string>
<key>zA57B</key><string>Ⅰ</string>
<key>zA57C</key><string>Ⅱ</string>
<key>zA57D</key><string>Ⅲ</string>
<key>zA57E</key><string>Ⅳ</string>
<key>zA621</key><string>Ⅴ</string>
</dict>
</plist>
