<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA221</key><string>Æ</string>
<key>hA222</key><string>Á</string>
<key>hA223</key><string>À</string>
<key>hA225</key><string>Ć</string>
<key>hA227</key><string>‡</string>
<key>hA228</key><string>É</string>
<key>hA229</key><string>È</string>
<key>hA22A</key><string>Ē</string>
<key>hA22F</key><string>Í</string>
<key>hA230</key><string>Ì</string>
<key>hA232</key><string>Ĺ</string>
<key>hA234</key><string>Ó</string>
<key>hA235</key><string>Ò</string>
<key>hA236</key><string>Ṕ</string>
<key>hA238</key><string>Ŕ</string>
<key>hA239</key><string>Ś</string>
<key>hA23C</key><string>Ú</string>
<key>hA23D</key><string>Ù</string>
<key>hA241</key><string>Ý</string>
<key>hA242</key><string>Ź</string>
<key>hA245</key><string>á</string>
<key>hA246</key><string>â</string>
<key>hA247</key><string>´</string>
<key>hA248</key><string>ǽ</string>
<key>hA24A</key><string>æ</string>
<key>hA24B</key><string>à</string>
<key>hA24C</key><string>ā</string>
<key>hA24D</key><string>&amp;</string>
<key>hA24E</key><string>ã</string>
<key>hA24F</key><string>ä</string>
<key>hA250</key><string>˘</string>
<key>hA251</key><string>¦</string>
<key>hA252</key><string>ˇ</string>
<key>hA253</key><string>ç</string>
<key>hA254</key><string>¸</string>
<key>hA255</key><string>ˆ</string>
<key>hA256</key><string>♣</string>
<key>hA257</key><string>©</string>
<key>hA258</key><string>†</string>
<key>hA25B</key><string>é</string>
<key>hA25D</key><string>ê</string>
<key>hA25E</key><string>è</string>
<key>hA25F</key><string>ē</string>
<key>hA260</key><string>ŋ</string>
<key>hA262</key><string>ʃ</string>
<key>hA263</key><string>ð</string>
<key>hA264</key><string>ë</string>
<key>hA265</key><string>€</string>
<key>hA267</key><string>ﬁ</string>
<key>hA268</key><string>`</string>
<key>hA26A</key><string>♥</string>
<key>hA26C</key><string>í</string>
<key>hA26D</key><string>î</string>
<key>hA26E</key><string>ì</string>
<key>hA270</key><string>ḱ</string>
<key>hA271</key><string>ː</string>
<key>hA272</key><string>ł</string>
<key>hA273</key><string>¯</string>
<key>hA274</key><string>ḿ</string>
<key>hA275</key><string>—</string>
<key>hA321</key><string>ń</string>
<key>hA322</key><string>♮</string>
<key>hA325</key><string>ñ</string>
<key>hA327</key><string>ó</string>
<key>hA328</key><string>ɵ</string>
<key>hA329</key><string>ô</string>
<key>hA32A</key><string>œ</string>
<key>hA32B</key><string>ò</string>
<key>hA32C</key><string>ō</string>
<key>hA32D</key><string>ɔ</string>
<key>hA330</key><string>ø</string>
<key>hA331</key><string>õ</string>
<key>hA332</key><string>ö</string>
<key>hA333</key><string>ṕ</string>
<key>hA335</key><string>ŕ</string>
<key>hA336</key><string>ř</string>
<key>hA337</key><string>®</string>
<key>hA338</key><string>ə</string>
<key>hA33F</key><string>ς</string>
<key>hA340</key><string>ß</string>
<key>hA342</key><string>˜</string>
<key>hA344</key><string>ú</string>
<key>hA345</key><string>û</string>
<key>hA346</key><string>ù</string>
<key>hA347</key><string>ū</string>
<key>hA348</key><string>¨</string>
<key>hA349</key><string>ü</string>
<key>hA34D</key><string>ý</string>
<key>hA34E</key><string>ỳ</string>
<key>hA355</key><string>Č</string>
<key>hA356</key><string>⅓</string>
<key>zB121</key><string>Ⅰ</string>
<key>zB122</key><string>Ⅱ</string>
<key>zB123</key><string>Ⅲ</string>
<key>zB124</key><string>Ⅳ</string>
<key>zB125</key><string>Ⅴ</string>
<key>zB126</key><string>Ⅵ</string>
<key>zB127</key><string>Ⅶ</string>
<key>zB222</key><string>①</string>
<key>zB223</key><string>②</string>
<key>zB224</key><string>③</string>
<key>zB225</key><string>④</string>
<key>zB226</key><string>⑤</string>
<key>zB227</key><string>〰</string>
<key>zB228</key><string>嗉</string>
<key>zB229</key><string>炻</string>
<key>zB22A</key><string>瘙</string>
<key>zB22B</key><string>瘭</string>
<key>zB22C</key><string>癤</string>
<key>zB22D</key><string>絇</string>
<key>zB22E</key><string>翈</string>
<key>zB22F</key><string>胳</string>
<key>zB230</key><string>蒴</string>
<key>zB231</key><string>鄧</string>
<key>zB232</key><string>鍰</string>
<key>zB233</key><string>閩</string>
<key>zB234</key><string>駃</string>
<key>zB235</key><string>騠</string>
<key>zB236</key><string>骶</string>
<key>zB237</key><string>鬐</string>
<key>zB238</key><string>¶</string>
<key>zB239</key><string>θ</string>
<key>zB23B</key><string>☞</string>
<key>zB321</key><string>拼</string>
<key>zB322</key><string>捥</string>
<key>zB323</key><string>擤</string>
<key>zB324</key><string>昻</string>
<key>zB325</key><string>杮</string>
<key>zB326</key><string>癰</string>
<key>zB327</key><string>鱲</string>
<key>zB33D</key><string>Ⅰ</string>
<key>zB33E</key><string>Ⅱ</string>
<key>zB33F</key><string>Ⅲ</string>
<key>zB340</key><string>Ⅳ</string>
<key>zB341</key><string>Ⅴ</string>
<key>zB342</key><string>Ⅵ</string>
<key>zB343</key><string>Ⅶ</string>
<key>zB344</key><string>Ⅷ</string>
<key>zB345</key><string>Ⅸ</string>
<key>zB346</key><string>Ⅹ</string>
<key>zB359</key><string>嘘</string>
<key>zB35A</key><string>拼</string>
<key>zB35B</key><string>捥</string>
<key>zB35C</key><string>摑</string>
<key>zB35D</key><string>擤</string>
<key>zB35E</key><string>杮</string>
<key>zB35F</key><string>瘭</string>
<key>zB360</key><string>蠟</string>
<key>zB361</key><string>骶</string>
<key>zB362</key><string>鱏</string>
<key>zB363</key><string>鱲</string>
<key>hA224</key><string>B́</string>
<key>hA226</key><string>D́</string>
<key>hA22B</key><string>F́</string>
<key>hA22C</key><string>F̀</string>
<key>hA22D</key><string>Ǵ</string>
<key>hA22E</key><string>H́</string>
<key>hA231</key><string>J̀</string>
<key>hA233</key><string>M̀</string>
<key>hA236</key><string>Ṕ</string>
<key>hA237</key><string>Q́</string>
<key>hA23A</key><string>S̀</string>
<key>hA23B</key><string>T́</string>
<key>hA23E</key><string>V́</string>
<key>hA23F</key><string>V̀</string>
<key>hA240</key><string>X́</string>
<key>hA243</key><string>á</string>
<key>hA244</key><string>à</string>
<key>hA249</key><string>æ̀</string>
<key>hA259</key><string>é</string>
<key>hA25A</key><string>è</string>
<key>hA25C</key><string>ȩ</string>
<key>hA261</key><string>ŋ́</string>
<key>hA262</key><string>ʃ</string>
<key>hA266</key><string>f́</string>
<key>hA269</key><string>h́</string>
<key>hA26B</key><string>í</string>
<key>hA26F</key><string>ḯ</string>
<key>hA270</key><string>ḱ</string>
<key>hA274</key><string>ḿ</string>
<key>hA276</key><string>―́</string>
<key>hA277</key><string>―̀</string>
<key>hA279</key><string>m̥</string>
<key>hA27A</key><string>1́</string>
<key>hA27B</key><string>3́</string>
<key>hA27C</key><string>4́</string>
<key>hA27D</key><string>8́</string>
<key>hA27E</key><string>9́</string>
<key>hA322</key><string>♮</string>
<key>hA323</key><string>～</string>
<key>hA324</key><string>n̥</string>
<key>hA326</key><string>ó</string>
<key>hA328</key><string>Ɵ</string>
<key>hA32E</key><string>ɔ́</string>
<key>hA32F</key><string>ɔ̀</string>
<key>hA333</key><string>ṕ</string>
<key>hA334</key><string>q́</string>
<key>hA339</key><string>ə́</string>
<key>hA33A</key><string>ə̀</string>
<key>hA33B</key><string>ɑ</string>
<key>hA33C</key><string>ɑ́</string>
<key>hA33D</key><string>ɑ̀</string>
<key>hA33E</key><string>ɡ</string>
<key>hA341</key><string>t́</string>
<key>hA34A</key><string>ʌ</string>
<key>hA34B</key><string>ʌ́</string>
<key>hA34C</key><string>ʌ̀</string>
<key>hA34F</key><string>ʒ</string>
<key>hA350</key><string>ú</string>
<key>hA351</key><string>‘</string>
<key>hA352</key><string>ṃ</string>
<key>hA353</key><string>ú</string>
<key>hA354</key><string>ù</string>
<key>hA422</key><string>ʊ́</string>
<key>zB128</key><string>❶</string>
<key>zB129</key><string>❷</string>
<key>zB12A</key><string>❸</string>
<key>zB12B</key><string>❹</string>
<key>zB12C</key><string>❺</string>
<key>zB12D</key><string>❻</string>
<key>zB12E</key><string>❼</string>
<key>zB12F</key><string>❽</string>
<key>zB130</key><string>❾</string>
<key>zB131</key><string>❿</string>
<key>zB132</key><string>⓫</string>
<key>zB133</key><string>⓬</string>
<key>zB134</key><string>⓭</string>
<key>zB135</key><string>⓮</string>
<key>zB136</key><string>⓯</string>
<key>zB137</key><string>⓰</string>
<key>zB138</key><string>⓱</string>
<key>zB139</key><string>⓲</string>
<key>zB13A</key><string>⓳</string>
<key>zB13B</key><string>⓴</string>
<key>zB13C</key><string>㉑</string>
<key>zB13D</key><string>㉒</string>
<key>zB13E</key><string>㉓</string>
<key>zB13F</key><string>㉔</string>
<key>zB140</key><string>㉕</string>
<key>zB141</key><string>㉖</string>
<key>zB142</key><string>㉗</string>
<key>zB143</key><string>㉘</string>
<key>zB144</key><string>㉙</string>
<key>zB145</key><string>㉚</string>
<key>zB221</key><string>√</string>
<key>zB23A</key><string>✓</string>
<key>zB23C</key><string>…́</string>
<key>zB24F</key><string>⁂</string>
<key>zB253</key><string>♭♭</string>
<key>zB255</key><string>✡</string>
<key>zB257</key><string>&gt;</string>
<key>zB258</key><string>&lt;</string>
<key>zB25B</key><string>―</string>
<key>zB25C</key><string>▷</string>
<key>zB25D</key><string>―́</string>
<key>zB25E</key><string>―̀</string>
<key>zB25F</key><string>❖</string>
<key>zB260</key><string>卐</string>
<key>zB261</key><string>⤵</string>
<key>zB262</key><string>⤵→</string>
<key>zB263</key><string>⤵↗</string>
<key>zB264</key><string>⤴</string>
<key>zB265</key><string>℉</string>
<key>zB266</key><string>～́</string>
<key>zB267</key><string>～̀</string>
<key>zB328</key><string>①</string>
<key>zB329</key><string>②</string>
<key>zB32A</key><string>③</string>
<key>zB32B</key><string>④</string>
<key>zB32C</key><string>⑤</string>
<key>zB32D</key><string>⑥</string>
<key>zB32E</key><string>⑦</string>
<key>zB32F</key><string>⑧</string>
<key>zB330</key><string>⑨</string>
<key>zB331</key><string>⑩</string>
<key>zB332</key><string>⑪</string>
<key>zB333</key><string>⑫</string>
<key>zB334</key><string>⑬</string>
<key>zB335</key><string>⑭</string>
<key>zB336</key><string>⑮</string>
<key>zB337</key><string>⑯</string>
<key>zB338</key><string>⑰</string>
<key>zB339</key><string>⑱</string>
<key>zB33A</key><string>⑲</string>
<key>zB33B</key><string>⑳</string>
<key>zB33C</key><string>㉑</string>
<key>zB347</key><string>《</string>
<key>zB348</key><string>》</string>
<key>zB349</key><string>㉒</string>
<key>zB34A</key><string>㉓</string>
<key>zB34B</key><string>㉔</string>
<key>zB34C</key><string>㉕</string>
<key>zB34D</key><string>㉖</string>
<key>zB34E</key><string>㉗</string>
<key>zB34F</key><string>㉘</string>
<key>zB350</key><string>㉙</string>
<key>zB351</key><string>㉚</string>
<key>zB352</key><string>㉛</string>
<key>zB364</key><string>√</string>
<key>hA278</key><string> </string>
<key>zB146</key><string>⑴</string>
<key>zB147</key><string>⑵</string>
<key>zB148</key><string>⑶</string>
<key>zB149</key><string>⑷</string>
<key>zB14A</key><string>⑸</string>
<key>zB14B</key><string>⑹</string>
<key>zB14C</key><string>⑺</string>
<key>zB14D</key><string>⑻</string>
<key>zB14E</key><string>⑼</string>
<key>zB14F</key><string>⑽</string>
<key>zB151</key><string>a)</string>
<key>zB152</key><string>b)</string>
<key>zB153</key><string>c)</string>
<key>zB154</key><string>d)</string>
<key>zB155</key><string>e)</string>
<key>zB156</key><string>f)</string>
<key>zB157</key><string>g)</string>
<key>zB158</key><string>h)</string>
<key>zB159</key><string>i)</string>
<key>zB15A</key><string>j)</string>
<key>zB15B</key><string>k)</string>
<key>zB15C</key><string>l)</string>
<key>zB15D</key><string>m)</string>
<key>zB15E</key><string>n)</string>
<key>zB15F</key><string>⑴</string>
<key>zB160</key><string>⑵</string>
<key>zB161</key><string>⑶</string>
<key>zB162</key><string>⑷</string>
<key>zB163</key><string>⑸</string>
<key>zB164</key><string>⑹</string>
<key>zB165</key><string>⑺</string>
<key>zB166</key><string>⑻</string>
<key>zB167</key><string>⑼</string>
<key>zB168</key><string>⑽</string>
<key>zB169</key><string>⑾</string>
<key>zB16A</key><string>⑿</string>
<key>zB16B</key><string>⒀</string>
<key>zB16C</key><string>⒁</string>
<key>zB16D</key><string>⒂</string>
<key>zB16E</key><string>⒃</string>
<key>zB16F</key><string>⒄</string>
<key>zB170</key><string>⒅</string>
<key>zB171</key><string>⒆</string>
<key>zB172</key><string>⒇</string>
<key>zB173</key><string>b)</string>
<key>zB174</key><string>c)</string>
<key>zB23D</key><string> </string>
<key>zB23E</key><string> </string>
<key>zB23F</key><string> </string>
<key>zB240</key><string> </string>
<key>zB241</key><string>用例</string>
<key>zB242</key><string> </string>
<key>zB249</key><string> </string>
<key>zB24A</key><string> </string>
<key>zB353</key><string>ａ</string>
<key>zB354</key><string>ｂ</string>
<key>zB355</key><string>ｃ</string>
<key>zB356</key><string>ｄ</string>
<key>zB357</key><string>ｅ</string>
<key>zB358</key><string>ｆ</string>
</dict>
</plist>
