<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA121</key><string>á</string>
<key>hA122</key><string>à</string>
<key>hA123</key><string>ɑ</string>
<key>hA124</key><string>ɑ́</string>
<key>hA125</key><string>ɑ̀</string>
<key>hA126</key><string>ɑ̃</string>
<key>hA127</key><string>ʌ</string>
<key>hA128</key><string>ʌ́</string>
<key>hA129</key><string>ʌ̀</string>
<key>hA12A</key><string>ə</string>
<key>hA12B</key><string>ə́</string>
<key>hA12C</key><string>ə̀</string>
<key>hA12E</key><string>é</string>
<key>hA12F</key><string>è</string>
<key>hA130</key><string>ɛ</string>
<key>hA131</key><string>ɛ́</string>
<key>hA132</key><string>ɛ̀</string>
<key>hA133</key><string>ɛ̃</string>
<key>hA134</key><string>í</string>
<key>hA135</key><string>ì</string>
<key>hA136</key><string>ó</string>
<key>hA137</key><string>ò</string>
<key>hA138</key><string>ō</string>
<key>hA139</key><string>ö</string>
<key>hA13A</key><string>ɔ</string>
<key>hA13B</key><string>ɔ́</string>
<key>hA13C</key><string>ɔ̀</string>
<key>hA13D</key><string>ɔ̃</string>
<key>hA13E</key><string>ú</string>
<key>hA13F</key><string>ù</string>
<key>hA140</key><string>ɚ</string>
<key>hA141</key><string>ɚ́</string>
<key>hA142</key><string>ɚ̀</string>
<key>hA143</key><string>æ</string>
<key>hA144</key><string>ǽ</string>
<key>hA145</key><string>æ̀</string>
<key>hA146</key><string>æ̃</string>
<key>hA147</key><string>œ</string>
<key>hA148</key><string>œ̃</string>
<key>hA149</key><string>ɡ</string>
<key>hA14A</key><string>ŋ</string>
<key>hA14B</key><string>θ</string>
<key>hA14C</key><string>ð</string>
<key>hA14D</key><string>ʃ</string>
<key>hA14E</key><string>ʧ</string>
<key>hA150</key><string>ɸ</string>
<key>hA151</key><string>ø</string>
<key>hA152</key><string>ʒ</string>
<key>hA153</key><string>ʤ</string>
<key>hA154</key><string>ː</string>
<key>hA155</key><string>á</string>
<key>hA156</key><string>à</string>
<key>hA157</key><string>é</string>
<key>hA158</key><string>è</string>
<key>hA159</key><string>í</string>
<key>hA15A</key><string>ì</string>
<key>hA15B</key><string>ó</string>
<key>hA15C</key><string>ò</string>
<key>hA15D</key><string>ú</string>
<key>hA15E</key><string>ù</string>
<key>hA15F</key><string>-́</string>
<key>hA160</key><string>-̀</string>
<key>hA161</key><string>ç</string>
<key>hA162</key><string>Ç</string>
<key>hA16A</key><string>Á</string>
<key>hA16B</key><string>À</string>
<key>hA16C</key><string>Ć</string>
<key>hA16D</key><string>É</string>
<key>hA16E</key><string>Ó</string>
<key>hA16F</key><string>Ò</string>
<key>hA170</key><string>ô</string>
<key>hA171</key><string>ý</string>
<key>hA172</key><string>ỳ</string>
<key>hA173</key><string>Ý</string>
<key>hA175</key><string>ë</string>
<key>hA176</key><string>Í</string>
<key>hA177</key><string>È</string>
<key>hA178</key><string>Ù</string>
<key>hA179</key><string>Ì</string>
<key>hA17A</key><string>ä</string>
<key>hA17B</key><string>ř</string>
<key>hA17C</key><string>ï</string>
<key>hA17D</key><string>Ú</string>
<key>hA221</key><string>ü</string>
<key>hA222</key><string>ā</string>
<key>hA223</key><string>ē</string>
<key>hA224</key><string>î</string>
<key>hA225</key><string>â</string>
<key>hA226</key><string>ã</string>
<key>hA227</key><string>ñ</string>
<key>hA228</key><string>ê</string>
<key>hA22A</key><string>ö</string>
<key>hA22B</key><string>m̥</string>
<key>hA22C</key><string>ˉ</string>
<key>hA22D</key><string>n̥</string>
<key>hA22E</key><string>~</string>
<key>hA22F</key><string>þ</string>
<key>hA230</key><string>˘</string>
<key>hA232</key><string>ˇ</string>
<key>hA233</key><string>Ḱ</string>
<key>hA235</key><string>/</string>
<key>zA42D</key><string>Æ</string>
<key>zA438</key><string>〜́</string>
<key>zA439</key><string>〜̀</string>
<key>zA43A</key><string>―</string>
<key>zA440</key><string>©</string>
<key>zA451</key><string>®</string>
<key>zA460</key><string>①</string>
<key>zA461</key><string>②</string>
<key>zA462</key><string>③</string>
<key>zA463</key><string>④</string>
<key>zA464</key><string>⑤</string>
<key>zA465</key><string>⑥</string>
<key>zA466</key><string>⑦</string>
<key>zA467</key><string>⑧</string>
<key>zA468</key><string>⑨</string>
<key>zA469</key><string>⑩</string>
<key>zA46A</key><string>⑪</string>
<key>zA46B</key><string>⑫</string>
<key>zA46C</key><string>⑬</string>
<key>zA46D</key><string>⑭</string>
<key>zA46E</key><string>⑮</string>
<key>zA46F</key><string>⑯</string>
<key>zA470</key><string>⑰</string>
<key>zA471</key><string>⑱</string>
<key>zA472</key><string>⑲</string>
<key>zA473</key><string>⑳</string>
<key>zB42D</key><string>Æ</string>
<key>zB43A</key><string>―</string>
<key>zB440</key><string>©</string>
<key>zB451</key><string>®</string>
<key>zB460</key><string>①</string>
<key>zB461</key><string>②</string>
<key>zB462</key><string>③</string>
<key>zB463</key><string>④</string>
<key>zB464</key><string>⑤</string>
<key>zB465</key><string>⑥</string>
<key>zB466</key><string>⑦</string>
<key>zB467</key><string>⑧</string>
<key>zB468</key><string>⑨</string>
<key>zB469</key><string>⑩</string>
<key>zB46A</key><string>⑪</string>
<key>zB46B</key><string>⑫</string>
<key>zB46C</key><string>⑬</string>
<key>zB46D</key><string>⑭</string>
<key>zB46E</key><string>⑮</string>
<key>zB46F</key><string>⑯</string>
<key>zB470</key><string>⑰</string>
<key>zB471</key><string>⑱</string>
<key>zB472</key><string>⑲</string>
<key>zB473</key><string>⑳</string>
</dict>
</plist>
