<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA621</key><string>Ā</string>
<key>hA622</key><string>ā</string>
<key>hA623</key><string>ǎ</string>
<key>hA624</key><string>à</string>
<key>hA625</key><string>á</string>
<key>hA626</key><string>ä</string>
<key>hA627</key><string>ă</string>
<key>hA628</key><string>č</string>
<key>hA629</key><string>Ḍ</string>
<key>hA62A</key><string>ḍ</string>
<key>hA62B</key><string>É</string>
<key>hA62C</key><string>ē</string>
<key>hA62D</key><string>ě</string>
<key>hA62E</key><string>è</string>
<key>hA62F</key><string>é</string>
<key>hA630</key><string>ĥ</string>
<key>hA631</key><string>ḥ</string>
<key>hA632</key><string>Ī</string>
<key>hA633</key><string>ī</string>
<key>hA634</key><string>ǐ</string>
<key>hA635</key><string>ì</string>
<key>hA636</key><string>í</string>
<key>hA638</key><string>ḷ</string>
<key>hA639</key><string>ṃ</string>
<key>hA63A</key><string>ñ</string>
<key>hA63B</key><string>ṅ</string>
<key>hA63C</key><string>ṇ</string>
<key>hA63D</key><string>ō</string>
<key>hA63E</key><string>ǒ</string>
<key>hA63F</key><string>ò</string>
<key>hA640</key><string>ó</string>
<key>hA641</key><string>ö</string>
<key>hA642</key><string>Ṛ</string>
<key>hA644</key><string>ṛ</string>
<key>hA645</key><string>Ś</string>
<key>hA646</key><string>Ṣ</string>
<key>hA647</key><string>š</string>
<key>hA648</key><string>ś</string>
<key>hA649</key><string>ṣ</string>
<key>hA64A</key><string>ṭ</string>
<key>hA64B</key><string>ū</string>
<key>hA64C</key><string>ǔ</string>
<key>hA64D</key><string>ù</string>
<key>hA64E</key><string>ú</string>
<key>hA650</key><string>ə</string>
<key>hA653</key><string>「</string>
<key>hA654</key><string>」</string>
<key>hA655</key><string>『</string>
<key>hA656</key><string>』</string>
<key>hA657</key><string>〔</string>
<key>hA658</key><string>〕</string>
<key>hA65C</key><string>©</string>
<key>zA421</key><string>洹</string>
<key>zA422</key><string>拄</string>
<key>zA423</key><string>捃</string>
<key>zA424</key><string>縝</string>
<key>zA425</key><string>橛</string>
<key>zA426</key><string>梆</string>
<key>zA427</key><string>厓</string>
<key>zA428</key><string>唵</string>
<key>zA429</key><string>奝</string>
<key>zA42A</key><string>囉</string>
<key>zA42B</key><string>吒</string>
<key>zA42C</key><string>鈸</string>
<key>zA42D</key><string>嚕</string>
<key>zA42E</key><string>倮</string>
<key>zA42F</key><string>璨</string>
<key>zA430</key><string>昉</string>
<key>zA431</key><string>琦</string>
<key>zA432</key><string>徧</string>
<key>zA433</key><string>埵</string>
<key>zA434</key><string>睺</string>
<key>zA435</key><string>彔</string>
<key>zA436</key><string>槵</string>
<key>zA437</key><string>壒</string>
<key>zA438</key><string>芿</string>
<key>zA439</key><string>潙</string>
<key>zA43A</key><string>忉</string>
<key>zA43B</key><string>犍</string>
<key>zA43C</key><string>琬</string>
<key>zA43D</key><string>璿</string>
<key>zA43E</key><string>諗</string>
<key>zA43F</key><string>錍</string>
<key>zA440</key><string>閦</string>
<key>zA441</key><string>闐</string>
<key>zA442</key><string>顗</string>
<key>zA443</key><string>抳</string>
<key>zA444</key><string>罽</string>
<key>zA445</key><string>惛</string>
<key>zA446</key><string>塼</string>
<key>zA447</key><string>搩</string>
<key>zA448</key><string>拼</string>
<key>zA449</key><string>鱍</string>
<key>zA44A</key><string>裓</string>
<key>zA44B</key><string>鞞</string>
<key>zA44C</key><string>僔</string>
<key>zA44D</key><string>憍</string>
<key>zA44E</key><string>悕</string>
<key>zA44F</key><string>橖</string>
<key>zA450</key><string>紇</string>
<key>zA451</key><string>祆</string>
<key>zA452</key><string>頞</string>
<key>zA453</key><string>袾</string>
<key>zA461</key><string>擻</string>
<key>zA462</key><string>虺</string>
<key>zA463</key><string>撿</string>
<key>zA464</key><string>埝</string>
<key>zA465</key><string>瓫</string>
<key>zA466</key><string>畺</string>
<key>zA467</key><string>你</string>
<key>zA468</key><string>佉</string>
<key>zA469</key><string>噉</string>
<key>zA46A</key><string>岺</string>
<key>zA46B</key><string>枘</string>
<key>zA46C</key><string>琮</string>
<key>zA46E</key><string>汴</string>
<key>zA46F</key><string>雩</string>
<key>zA470</key><string>聃</string>
<key>zA471</key><string>郗</string>
<key>zA472</key><string>絁</string>
<key>zA473</key><string>佾</string>
<key>zA474</key><string>潢</string>
<key>zA475</key><string>桛</string>
<key>zA476</key><string>絺</string>
<key>zA477</key><string>梻</string>
<key>zA478</key><string>嵆</string>
<key>zA479</key><string>琰</string>
<key>zA47A</key><string>竿</string>
<key>zA47B</key><string>壛</string>
<key>zA47D</key><string>瓪</string>
<key>zA47E</key><string>檫</string>
<key>zA521</key><string>窣</string>
<key>zA522</key><string>噁</string>
<key>zA523</key><string>笮</string>
<key>zA524</key><string>愔</string>
<key>zA525</key><string>渧</string>
</dict>
</plist>
