<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA122</key><string>ā</string>
<key>hA123</key><string>ȡ</string>
<key>hA124</key><string>ě</string>
<key>hA125</key><string>ē</string>
<key>hA126</key><string>ī</string>
<key>hA127</key><string>œ</string>
<key>zB121</key><string>−</string>
<key>zB122</key><string>〖</string>
<key>zB123</key><string>〗</string>
<key>zB124</key><string>⇀</string>
<key>zB125</key><string>♠</string>
<key>zB126</key><string>♣</string>
<key>zB127</key><string>♥</string>
<key>zB128</key><string>♦</string>
<key>zB129</key><string>♨</string>
<key>zB12A</key><string>♩</string>
<key>zB12B</key><string>♮</string>
<key>zB12E</key><string>契</string>
<key>zB12F</key><string>殺</string>
<key>zB130</key><string>糖</string>
<key>zB131</key><string>寧</string>
<key>zB132</key><string>㊙</string>
<key>zB133</key><string>欄</string>
<key>zB134</key><string>蘭</string>
<key>zB135</key><string>旅</string>
<key>zB136</key><string>虜</string>
<key>zB137</key><string>類</string>
<key>zB138</key><string>廉</string>
<key>zB139</key><string>蓮</string>
<key>zB13A</key><string>連</string>
<key>zB13B</key><string>廊</string>
<key>zB13C</key><string>丰</string>
<key>zB13D</key><string>亻</string>
<key>zB13E</key><string>仐</string>
<key>zB13F</key><string>佪</string>
<key>zB141</key><string>俠</string>
<key>zB142</key><string>俱</string>
<key>zB143</key><string>倂</string>
<key>zB144</key><string>偓</string>
<key>zB147</key><string>內</string>
<key>zB148</key><string>减</string>
<key>zB149</key><string>刂</string>
<key>zB14A</key><string>剝</string>
<key>zB14E</key><string>卽</string>
<key>zB14F</key><string>吞</string>
<key>zB150</key><string>吳</string>
<key>zB151</key><string>吿</string>
<key>zB152</key><string>呍</string>
<key>zB153</key><string>唎</string>
<key>zB154</key><string>啞</string>
<key>zB157</key><string>噓</string>
<key>zB159</key><string>噯</string>
<key>zB15A</key><string>嚙</string>
<key>zB15B</key><string>囊</string>
<key>zB15C</key><string>埵</string>
<key>zB15D</key><string>塡</string>
<key>zB15F</key><string>壔</string>
<key>zB160</key><string>够</string>
<key>zB161</key><string>姸</string>
<key>zB162</key><string>娛</string>
<key>zB163</key><string>孒</string>
<key>zB164</key><string>尙</string>
<key>zB165</key><string>尫</string>
<key>zB166</key><string>屛</string>
<key>zB167</key><string>屢</string>
<key>zB169</key><string>巢</string>
<key>zB16A</key><string>强</string>
<key>zB16B</key><string>彔</string>
<key>zB16C</key><string>徧</string>
<key>zB16D</key><string>徵</string>
<key>zB16E</key><string>忄</string>
<key>zB172</key><string>戶</string>
<key>zB173</key><string>戾</string>
<key>zB174</key><string>扌</string>
<key>zB175</key><string>抅</string>
<key>zB176</key><string>拼</string>
<key>zB177</key><string>挘</string>
<key>zB178</key><string>捥</string>
<key>zB179</key><string>揭</string>
<key>zB17A</key><string>揷</string>
<key>zB17B</key><string>搔</string>
<key>zB17C</key><string>搢</string>
<key>zB17D</key><string>摑</string>
<key>zB17E</key><string>摹</string>
<key>zB221</key><string>擊</string>
<key>zB222</key><string>擤</string>
<key>zB225</key><string>旣</string>
<key>zB226</key><string>晚</string>
<key>zB228</key><string>曆</string>
<key>zB229</key><string>杮</string>
<key>zB22A</key><string>枓</string>
<key>zB22B</key><string>枘</string>
<key>zB22C</key><string>栱</string>
<key>zB22D</key><string>桛</string>
<key>zB22F</key><string>梣</string>
<key>zB230</key><string>梲</string>
<key>zB231</key><string>棰</string>
<key>zB232</key><string>棱</string>
<key>zB233</key><string>楤</string>
<key>zB234</key><string>槖</string>
<key>zB235</key><string>槪</string>
<key>zB236</key><string>槵</string>
<key>zB237</key><string>橅</string>
<key>zB238</key><string>檞</string>
<key>zB239</key><string>欵</string>
<key>zB23A</key><string>步</string>
<key>zB23B</key><string>歲</string>
<key>zB23C</key><string>歷</string>
<key>zB23D</key><string>每</string>
<key>zB23E</key><string>氅</string>
<key>zB23F</key><string>氵</string>
<key>zB241</key><string>涉</string>
<key>zB242</key><string>淚</string>
<key>zB243</key><string>渴</string>
<key>zB244</key><string>湑</string>
<key>zB245</key><string>溫</string>
<key>zB247</key><string>潑</string>
<key>zB248</key><string>濹</string>
<key>zB249</key><string>瀆</string>
<key>zB24A</key><string>灬</string>
<key>zB24B</key><string>炷</string>
<key>zB24C</key><string>焰</string>
<key>zB24E</key><string>牜</string>
<key>zB24F</key><string>犛</string>
<key>zB250</key><string>犭</string>
<key>zB251</key><string>狀</string>
<key>zB252</key><string>猨</string>
<key>zB253</key><string>獐</string>
<key>zB254</key><string>獦</string>
<key>zB255</key><string>獱</string>
<key>zB256</key><string>玆</string>
<key>zB257</key><string>玕</string>
<key>zB259</key><string>瑇</string>
<key>zB25A</key><string>瑭</string>
<key>zB25B</key><string>產</string>
<key>zB25C</key><string>疒</string>
<key>zB25D</key><string>痀</string>
<key>zB25E</key><string>痎</string>
<key>zB25F</key><string>瘦</string>
<key>zB260</key><string>瘭</string>
<key>zB261</key><string>癎</string>
<key>zB262</key><string>皁</string>
<key>zB263</key><string>睺</string>
<key>zB264</key><string>硨</string>
<key>zB266</key><string>磲</string>
<key>zB267</key><string>礻</string>
<key>zB26F</key><string>禱</string>
<key>zB270</key><string>秌</string>
<key>zB271</key><string>稅</string>
<key>zB272</key><string>稭</string>
<key>zB275</key><string>筓</string>
<key>zB276</key><string>筩</string>
<key>zB277</key><string>筲</string>
<key>zB279</key><string>篊</string>
<key>zB27A</key><string>簁</string>
<key>zB27B</key><string>簎</string>
<key>zB27C</key><string>簞</string>
<key>zB27D</key><string>籙</string>
<key>zB27E</key><string>粿</string>
<key>zB321</key><string>糈</string>
<key>zB322</key><string>糗</string>
<key>zB323</key><string>糝</string>
<key>zB324</key><string>紇</string>
<key>zB325</key><string>絓</string>
<key>zB326</key><string>絕</string>
<key>zB327</key><string>緣</string>
<key>zB329</key><string>縕</string>
<key>zB32A</key><string>縠</string>
<key>zB32C</key><string>繡</string>
<key>zB32D</key><string>繫</string>
<key>zB330</key><string>聱</string>
<key>zB331</key><string>脫</string>
<key>zB332</key><string>腁</string>
<key>zB333</key><string>腊</string>
<key>zB334</key><string>腭</string>
<key>zB336</key><string>舢</string>
<key>zB337</key><string>舨</string>
<key>zB338</key><string>艹</string>
<key>zB339</key><string>苆</string>
<key>zB33A</key><string>茛</string>
<key>zB33B</key><string>莧</string>
<key>zB33C</key><string>莩</string>
<key>zB33D</key><string>菝</string>
<key>zB33E</key><string>萊</string>
<key>zB340</key><string>葜</string>
<key>zB341</key><string>蔞</string>
<key>zB342</key><string>蘩</string>
<key>zB343</key><string>虛</string>
<key>zB344</key><string>虬</string>
<key>zB345</key><string>螈</string>
<key>zB346</key><string>蟎</string>
<key>zB347</key><string>蟬</string>
<key>zB348</key><string>蠟</string>
<key>zB349</key><string>衤</string>
<key>zB34A</key><string>袘</string>
<key>zB34B</key><string>袪</string>
<key>zB34C</key><string>裑</string>
<key>zB34F</key><string>說</string>
<key>zB352</key><string>豇</string>
<key>zB353</key><string>貛</string>
<key>zB356</key><string>跑</string>
<key>zB357</key><string>踠</string>
<key>zB358</key><string>軀</string>
<key>zB359</key><string>辦</string>
<key>zB35B</key><string>辶</string>
<key>zB35C</key><string>逬</string>
<key>zB35E</key><string>邙</string>
<key>zB35F</key><string>酛</string>
<key>zB360</key><string>醞</string>
<key>zB361</key><string>醬</string>
<key>zB362</key><string>醱</string>
<key>zB363</key><string>釃</string>
<key>zB364</key><string>鈸</string>
<key>zB365</key><string>銳</string>
<key>zB366</key><string>錄</string>
<key>zB367</key><string>鍊</string>
<key>zB368</key><string>鎋</string>
<key>zB369</key><string>鎺</string>
<key>zB36A</key><string>鎻</string>
<key>zB36B</key><string>閱</string>
<key>zB36C</key><string>阝</string>
<key>zB36D</key><string>雞</string>
<key>zB36F</key><string>韛</string>
<key>zB371</key><string>頰</string>
<key>zB373</key><string>顚</string>
<key>zB374</key><string>顬</string>
<key>zB375</key><string>飠</string>
<key>zB376</key><string>飥</string>
<key>zB377</key><string>餛</string>
<key>zB378</key><string>餺</string>
<key>zB379</key><string>騈</string>
<key>zB37A</key><string>騭</string>
<key>zB37B</key><string>驒</string>
<key>zB37C</key><string>骶</string>
<key>zB37D</key><string>魞</string>
<key>zB37E</key><string>魦</string>
<key>zB421</key><string>魬</string>
<key>zB422</key><string>魳</string>
<key>zB423</key><string>鮄</string>
<key>zB424</key><string>鯥</string>
<key>zB425</key><string>鯷</string>
<key>zB426</key><string>鰧</string>
<key>zB427</key><string>鱓</string>
<key>zB428</key><string>鱝</string>
<key>zB429</key><string>鱩</string>
<key>zB42A</key><string>鱲</string>
<key>zB42B</key><string>鵼</string>
<key>zB42C</key><string>鶍</string>
<key>zB42D</key><string>鷗</string>
<key>zB42E</key><string>鹼</string>
<key>zB42F</key><string>麞</string>
<key>zB430</key><string>麬</string>
<key>zB431</key><string>麴</string>
<key>zB432</key><string>麵</string>
<key>zB433</key><string>黃</string>
<key>zB434</key><string>鼔</string>
<key>zB769</key><string>①</string>
<key>zB76A</key><string>②</string>
<key>zB76B</key><string>③</string>
<key>zB76C</key><string>④</string>
<key>zB76D</key><string>⑤</string>
<key>zB76E</key><string>⑥</string>
<key>zB76F</key><string>⑦</string>
<key>zB770</key><string>⑧</string>
<key>zB771</key><string>⑨</string>
<key>zB772</key><string>⑩</string>
<key>zB773</key><string>⑪</string>
<key>zB774</key><string>㋐</string>
<key>zB775</key><string>㋑</string>
<key>zB776</key><string>㋒</string>
<key>zB777</key><string>㋓</string>
<key>zB778</key><string>㋔</string>
<key>zB779</key><string>㋕</string>
<key>zB77A</key><string>㋖</string>
<key>zB77B</key><string>㋗</string>
<key>zB77C</key><string>㋘</string>
<key>zB77D</key><string>㋙</string>
<key>zB77E</key><string>㋚</string>
<key>zB821</key><string>㋛</string>
<key>zB822</key><string>㋜</string>
<key>zB82A</key><string>〈</string>
<key>zB82B</key><string>〉</string>
<key>zB82C</key><string>〈</string>
<key>zB82D</key><string>〉</string>
<key>zB82E</key><string>Ⅰ</string>
<key>zB82F</key><string>Ⅱ</string>
<key>zB830</key><string>Ⅴ</string>
<key>zB831</key><string>Ⅹ</string>
<key>zB833</key><string>∩</string>
<key>zB834</key><string>厲</string>
<key>zB835</key><string>增</string>
<key>zB836</key><string>孖</string>
<key>zB837</key><string>寬</string>
<key>zB838</key><string>德</string>
<key>zB839</key><string>悅</string>
<key>zB83A</key><string>敎</string>
<key>zB83B</key><string>昻</string>
<key>zB83C</key><string>晴</string>
<key>zB83D</key><string>橫</string>
<key>zB83E</key><string>淸</string>
<key>zB83F</key><string>瀨</string>
<key>zB840</key><string>猪</string>
<key>zB841</key><string>甁</string>
<key>zB842</key><string>皂</string>
<key>zB843</key><string>益</string>
<key>zB844</key><string>神</string>
<key>zB845</key><string>祥</string>
<key>zB846</key><string>福</string>
<key>zB847</key><string>精</string>
<key>zB848</key><string>綠</string>
<key>zB849</key><string>緖</string>
<key>zB84A</key><string>菇</string>
<key>zB84B</key><string>薰</string>
<key>zB84C</key><string>諸</string>
<key>zB84D</key><string>賴</string>
<key>zB84E</key><string>郞</string>
<key>zB84F</key><string>都</string>
<key>zB850</key><string>鄕</string>
<key>zB851</key><string>靑</string>
<key>zB852</key><string>飯</string>
<key>zB853</key><string>飼</string>
<key>zB854</key><string>館</string>
<key>zB855</key><string>驎</string>
<key>zB856</key><string>黑</string>
<key>zB857</key><string>ⅱ</string>
<key>zB858</key><string>ⅲ</string>
<key>hA121</key><string>Ω</string>
<key>zB269</key><string>祈</string>
<key>zB35A</key><string>辶</string>
<key>zB436</key><string>〻</string>
<key>zB437</key><string>＝</string>
<key>zB438</key><string>「</string>
<key>zB439</key><string>」</string>
<key>zB43A</key><string>蓴</string>
<key>zB43B</key><string>鱏</string>
<key>zB43C</key><string>芦</string>
<key>zB43E</key><string>叱</string>
<key>zB443</key><string>蟒</string>
<key>zB445</key><string>邁</string>
<key>zB45B</key><string>綛</string>
<key>zB479</key><string>麩</string>
<key>zB52A</key><string>○</string>
<key>zB52B</key><string>◎</string>
<key>zB52C</key><string>ヽ</string>
<key>zB53A</key><string>(公)</string>
<key>zB542</key><string>捩</string>
<key>zB544</key><string>蠁</string>
<key>zB545</key><string>篡</string>
<key>zB54A</key><string>〄</string>
<key>zB571</key><string>跚</string>
<key>zB579</key><string>癤</string>
<key>zB624</key><string>莽</string>
<key>zB642</key><string>懲</string>
<key>zB64E</key><string>拋</string>
<key>zB668</key><string>̥</string>
<key>zB669</key><string>麨</string>
<key>zB678</key><string>唳</string>
<key>zB679</key><string>𧘱</string>
<key>zB73C</key><string>𩸽</string>
<key>zB745</key><string>鼯</string>
<key>zB758</key><string>朗</string>
<key>zB759</key><string>√2</string>
<key>zB75B</key><string>√</string>
<key>zB75D</key><string>→</string>
<key>zB75E</key><string>◀</string>
<key>zB75F</key><string>▶</string>
<key>zB760</key><string>関連語</string>
<key>zB761</key><string>関連語</string>
<key>zB762</key><string>派生語</string>
<key>zB763</key><string>㊀</string>
<key>zB764</key><string>㊁</string>
<key>zB765</key><string>㊂</string>
<key>zB766</key><string>㊃</string>
<key>zB767</key><string>㊄</string>
<key>zB768</key><string>㊅</string>
<key>zB823</key><string>ⅰ</string>
<key>zB824</key><string>ⅱ</string>
<key>zB825</key><string>ⅲ</string>
<key>zB826</key><string>x</string>
<key>zB827</key><string>*</string>
<key>zB828</key><string>⋏</string>
<key>zB829</key><string>△</string>
<key>zB832</key><string>≡</string>
<key>zB859</key><string>¬</string>
</dict>
</plist>
