<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA321</key><string>ˉ</string>
<key>hA322</key><string>¨</string>
<key>hA326</key><string>ˇ</string>
<key>hA328</key><string>˜</string>
<key>hA32B</key><string>˘</string>
<key>hA32D</key><string>ʌ</string>
<key>hA32E</key><string>✝</string>
<key>hA32F</key><string>◦</string>
<key>hA330</key><string>♢</string>
<key>hA331</key><string>♡</string>
<key>hA332</key><string>Ç</string>
<key>hA333</key><string>ç</string>
<key>hA334</key><string>ß</string>
<key>hA335</key><string>æ</string>
<key>hA336</key><string>œ</string>
<key>hA337</key><string>ə</string>
<key>hA338</key><string>ɔ</string>
<key>hA339</key><string>ɡ</string>
<key>hA33A</key><string>ŋ</string>
<key>hA33B</key><string>ð</string>
<key>hA33C</key><string>ʒ</string>
<key>hA33E</key><string>ɑ</string>
<key>hA33F</key><string>ɲ</string>
<key>hA340</key><string>ɯ</string>
<key>hA341</key><string>ɭ</string>
<key>hA342</key><string>ł</string>
<key>hA343</key><string>ɱ</string>
<key>hA344</key><string>ę</string>
<key>hA345</key><string>ʔ</string>
<key>hA347</key><string>ʕ</string>
<key>hA348</key><string>ɦ</string>
<key>hA349</key><string>ʁ</string>
<key>hA34A</key><string>ſ</string>
<key>hA34D</key><string>ħ</string>
<key>hA34E</key><string>þ</string>
<key>hA34F</key><string>ı</string>
<key>hA350</key><string>♣</string>
<key>hA351</key><string>♠</string>
<key>hA352</key><string>♮</string>
<key>hA353</key><string>∉</string>
<key>hA354</key><string>∌</string>
<key>hA358</key><string>♩</string>
<key>hA35B</key><string>￢</string>
<key>hA360</key><string>ʎ</string>
<key>hA361</key><string>ʇ</string>
<key>hA362</key><string>ɟ</string>
<key>hA363</key><string>ɐ</string>
<key>hA364</key><string>ɒ</string>
<key>hA365</key><string>ɺ</string>
<key>hA367</key><string>ɼ</string>
<key>hA368</key><string>↘</string>
<key>hA369</key><string>↗</string>
<key>hA36B</key><string>ɽ</string>
<key>hA435</key><string>Æ</string>
<key>hA436</key><string>Œ</string>
<key>hA437</key><string>▵</string>
<key>hA439</key><string>Ł</string>
<key>hA43A</key><string>ɳ</string>
<key>hA43B</key><string>ʈ</string>
<key>hA43C</key><string>ɖ</string>
<key>hA43D</key><string>ą</string>
<key>hA43E</key><string>s̢</string>
<key>hA43F</key><string>z̢</string>
<key>hA442</key><string>t̡</string>
<key>hA445</key><string>Ā</string>
<key>hA446</key><string>Ē</string>
<key>hA447</key><string>Ī</string>
<key>hA448</key><string>K̄</string>
<key>hA449</key><string>Ō</string>
<key>hA44A</key><string>P̄</string>
<key>hA44B</key><string>R̄</string>
<key>hA44C</key><string>S̄</string>
<key>hA44D</key><string>ā</string>
<key>hA44E</key><string>d̄</string>
<key>hA44F</key><string>ē</string>
<key>hA450</key><string>f̄</string>
<key>hA451</key><string>ḡ</string>
<key>hA452</key><string>n̄</string>
<key>hA453</key><string>ō</string>
<key>hA454</key><string>ū</string>
<key>hA455</key><string>v̄</string>
<key>hA456</key><string>x̄</string>
<key>hA457</key><string>ȳ</string>
<key>hA458</key><string>z̄</string>
<key>hA459</key><string>ī</string>
<key>hA45A</key><string>À</string>
<key>hA45B</key><string>È</string>
<key>hA45C</key><string>à</string>
<key>hA45D</key><string>è</string>
<key>hA45E</key><string>ò</string>
<key>hA45F</key><string>s̀</string>
<key>hA460</key><string>ù</string>
<key>hA461</key><string>ì</string>
<key>hA462</key><string>Ñ</string>
<key>hA463</key><string>ã</string>
<key>hA464</key><string>l̃</string>
<key>hA465</key><string>ñ</string>
<key>hA466</key><string>õ</string>
<key>hA467</key><string>ũ</string>
<key>hA468</key><string>z̃</string>
<key>hA469</key><string>ĩ</string>
<key>hA46A</key><string>Ş</string>
<key>hA46B</key><string>Ţ</string>
<key>hA46C</key><string>a̧</string>
<key>hA46D</key><string>ȩ</string>
<key>hA46E</key><string>ş</string>
<key>hA46F</key><string>ţ</string>
<key>hA470</key><string>Á</string>
<key>hA471</key><string>É</string>
<key>hA472</key><string>Í</string>
<key>hA473</key><string>Ó</string>
<key>hA474</key><string>Ś</string>
<key>hA475</key><string>Ú</string>
<key>hA476</key><string>á</string>
<key>hA477</key><string>ć</string>
<key>hA478</key><string>é</string>
<key>hA479</key><string>ǵ</string>
<key>hA47A</key><string>ń</string>
<key>hA47B</key><string>ó</string>
<key>hA47C</key><string>ś</string>
<key>hA47D</key><string>ú</string>
<key>hA47E</key><string>ý</string>
<key>hA521</key><string>ź</string>
<key>hA522</key><string>í</string>
<key>hA523</key><string>Ạ</string>
<key>hA524</key><string>Ḅ</string>
<key>hA525</key><string>Ḍ</string>
<key>hA526</key><string>Ḥ</string>
<key>hA527</key><string>Ṛ</string>
<key>hA528</key><string>Ṣ</string>
<key>hA529</key><string>Ṭ</string>
<key>hA52A</key><string>Ẓ</string>
<key>hA52B</key><string>ạ</string>
<key>hA52C</key><string>ḍ</string>
<key>hA52D</key><string>ḥ</string>
<key>hA52E</key><string>ḷ</string>
<key>hA52F</key><string>ṃ</string>
<key>hA530</key><string>ṇ</string>
<key>hA531</key><string>ọ</string>
<key>hA532</key><string>ṛ</string>
<key>hA533</key><string>ṣ</string>
<key>hA534</key><string>ṭ</string>
<key>hA535</key><string>ẓ</string>
<key>hA536</key><string>Ä</string>
<key>hA537</key><string>Ö</string>
<key>hA538</key><string>Ü</string>
<key>hA539</key><string>ä</string>
<key>hA53A</key><string>ë</string>
<key>hA53B</key><string>ö</string>
<key>hA53C</key><string>p̈</string>
<key>hA53D</key><string>ü</string>
<key>hA53E</key><string>ÿ</string>
<key>hA53F</key><string>Č</string>
<key>hA540</key><string>J̌</string>
<key>hA541</key><string>Š</string>
<key>hA542</key><string>Ǔ</string>
<key>hA543</key><string>Ž</string>
<key>hA544</key><string>ǎ</string>
<key>hA545</key><string>č</string>
<key>hA546</key><string>ě</string>
<key>hA547</key><string>ǧ</string>
<key>hA548</key><string>ň</string>
<key>hA549</key><string>ǒ</string>
<key>hA54A</key><string>ř</string>
<key>hA54B</key><string>š</string>
<key>hA54C</key><string>ǔ</string>
<key>hA54D</key><string>ž</string>
<key>hA54E</key><string>Â</string>
<key>hA54F</key><string>Ê</string>
<key>hA550</key><string>Î</string>
<key>hA551</key><string>â</string>
<key>hA552</key><string>ê</string>
<key>hA553</key><string>ô</string>
<key>hA554</key><string>û</string>
<key>hA555</key><string>î</string>
<key>hA55F</key><string>å</string>
<key>hA560</key><string>ů</string>
<key>hA563</key><string>î</string>
<key>hA564</key><string>ï</string>
<key>hA565</key><string>ǐ</string>
<key>zA121</key><string>榷</string>
<key>zA122</key><string>洱</string>
<key>zA123</key><string>梆</string>
<key>zA124</key><string>厓</string>
<key>zA125</key><string>仿</string>
<key>zA126</key><string>氐</string>
<key>zA127</key><string>漳</string>
<key>zA128</key><string>沅</string>
<key>zA129</key><string>鄧</string>
<key>zA12A</key><string>洮</string>
<key>zA12B</key><string>灤</string>
<key>zA12C</key><string>崧</string>
<key>zA12D</key><string>惲</string>
<key>zA12E</key><string>毗</string>
<key>zA12F</key><string>邢</string>
<key>zA130</key><string>鑲</string>
<key>zA131</key><string>瘙</string>
<key>zA132</key><string>贑</string>
<key>zA133</key><string>珉</string>
<key>zA134</key><string>癭</string>
<key>zA135</key><string>汴</string>
<key>zA136</key><string>筠</string>
<key>zA137</key><string>鈸</string>
<key>zA138</key><string>涇</string>
<key>zA139</key><string>鉸</string>
<key>zA13A</key><string>昉</string>
<key>zA13B</key><string>琦</string>
<key>zA13C</key><string>愷</string>
<key>zA13D</key><string>檔</string>
<key>zA13E</key><string>埵</string>
<key>zA13F</key><string>滇</string>
<key>zA140</key><string>潢</string>
<key>zA141</key><string>跗</string>
<key>zA142</key><string>籙</string>
<key>zA143</key><string>閩</string>
<key>zA144</key><string>庾</string>
<key>zA145</key><string>鄴</string>
<key>zA146</key><string>鄱</string>
<key>zA147</key><string>噶</string>
<key>zA148</key><string>虁</string>
<key>zA149</key><string>淝</string>
<key>zA14A</key><string>淄</string>
<key>zA14B</key><string>濊</string>
<key>zA14C</key><string>蒴</string>
<key>zA14D</key><string>蘐</string>
<key>zA14E</key><string>栱</string>
<key>zA14F</key><string>犍</string>
<key>zA150</key><string>琰</string>
<key>zA151</key><string>瓚</string>
<key>zA152</key><string>闐</string>
<key>zA153</key><string>頫</string>
<key>zA154</key><string>顗</string>
<key>zA155</key><string>鼐</string>
<key>zA156</key><string>玆</string>
<key>zA157</key><string>芾</string>
<key>zA158</key><string>翟</string>
<key>zA159</key><string>嗉</string>
<key>zA15A</key><string>倻</string>
<key>zA15B</key><string>塼</string>
<key>zA15C</key><string>壩</string>
<key>zA161</key><string>滁</string>
<key>zA162</key><string>洹</string>
<key>zA163</key><string>涪</string>
<key>zA164</key><string>墩</string>
<key>zA165</key><string>厲</string>
<key>zA166</key><string>奝</string>
<key>zA167</key><string>潞</string>
<key>zA168</key><string>濹</string>
<key>zA169</key><string>邈</string>
<key>zA16A</key><string>帮</string>
<key>zA16B</key><string>荃</string>
<key>zA16C</key><string>楣</string>
<key>zA16D</key><string>圳</string>
<key>zA16E</key><string>癤</string>
<key>zA16F</key><string>祆</string>
<key>zA170</key><string>祜</string>
<key>zA171</key><string>虢</string>
<key>zA172</key><string>煆</string>
<key>zA173</key><string>睢</string>
<key>zA174</key><string>閒</string>
<key>zA175</key><string>峴</string>
<key>zA176</key><string>翎</string>
<key>zA177</key><string>雞</string>
<key>zA178</key><string>褚</string>
<key>zA179</key><string>咩</string>
<key>zA17A</key><string>摠</string>
<key>zA17B</key><string>昕</string>
<key>zA17C</key><string>煜</string>
<key>zA17D</key><string>楨</string>
<key>zA17E</key><string>璉</string>
<key>zA221</key><string>蕙</string>
<key>zA222</key><string>璟</string>
<key>zA223</key><string>鏞</string>
<key>zA224</key><string>澧</string>
<key>zA225</key><string>炻</string>
<key>zA226</key><string>彧</string>
<key>zA227</key><string>麼</string>
<key>zA228</key><string>玕</string>
<key>zA229</key><string>汶</string>
<key>zA22A</key><string>玦</string>
<key>zA22B</key><string>龐</string>
<key>zA22C</key><string>燾</string>
<key>zA22D</key><string>玢</string>
<key>zA22E</key><string>訢</string>
<key>zA22F</key><string>侗</string>
<key>zA230</key><string>樾</string>
<key>zA231</key><string>琛</string>
<key>zA232</key><string>邕</string>
<key>zA233</key><string>龔</string>
<key>zA234</key><string>顥</string>
<key>zA235</key><string>弴</string>
<key>zA236</key><string>潙</string>
<key>zA237</key><string>适</string>
<key>zA238</key><string>悝</string>
<key>zA239</key><string>瑀</string>
<key>zA23A</key><string>竽</string>
<key>zA23B</key><string>紇</string>
<key>zA23D</key><string>閦</string>
<key>zA23E</key><string>娍</string>
<key>zA23F</key><string>芮</string>
<key>zA240</key><string>拖</string>
<key>zA241</key><string>瑭</string>
<key>zA244</key><string>涿</string>
<key>zA245</key><string>翬</string>
<key>zA246</key><string>墉</string>
<key>zA247</key><string>繇</string>
<key>zA248</key><string>稹</string>
<key>zA249</key><string>錡</string>
<key>zA24A</key><string>睺</string>
<key>zA24B</key><string>愓</string>
<key>zA24C</key><string>潽</string>
<key>zA24D</key><string>郝</string>
<key>zA24E</key><string>璵</string>
<key>zA24F</key><string>詵</string>
<key>zA250</key><string>莘</string>
<key>zA251</key><string>衎</string>
<key>zA252</key><string>蓀</string>
<key>zA253</key><string>錟</string>
<key>zA254</key><string>祏</string>
<key>zA256</key><string>蹻</string>
<key>zA257</key><string>魹</string>
<key>zA258</key><string>驒</string>
<key>zA259</key><string>揫</string>
</dict>
</plist>
