<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA121</key><string>ã</string>
<key>hA124</key><string>ā</string>
<key>hA125</key><string>á</string>
<key>hA126</key><string>ǎ</string>
<key>hA127</key><string>à</string>
<key>hA128</key><string>ī</string>
<key>hA129</key><string>í</string>
<key>hA12A</key><string>ǐ</string>
<key>hA12B</key><string>ì</string>
<key>hA12C</key><string>ï</string>
<key>hA12D</key><string>ū</string>
<key>hA12E</key><string>ú</string>
<key>hA12F</key><string>ǔ</string>
<key>hA130</key><string>ù</string>
<key>hA131</key><string>ü</string>
<key>hA132</key><string>ǘ</string>
<key>hA133</key><string>ǚ</string>
<key>hA134</key><string>ǜ</string>
<key>hA135</key><string>ē</string>
<key>hA136</key><string>é</string>
<key>hA137</key><string>ě</string>
<key>hA138</key><string>è</string>
<key>hA139</key><string>ō</string>
<key>hA13A</key><string>ó</string>
<key>hA13B</key><string>ǒ</string>
<key>hA13C</key><string>ò</string>
<key>hA13D</key><string>ñ</string>
<key>hA13E</key><string>ç</string>
<key>hA13F</key><string>ı</string>
<key>hA140</key><string>ɛ</string>
<key>hA141</key><string>ʃ</string>
<key>hA142</key><string>ʒ</string>
<key>hA143</key><string>ɦ</string>
<key>hA144</key><string>ə</string>
<key>hA145</key><string>ɔ</string>
<key>hA147</key><string>ḍ</string>
<key>hA149</key><string>ṇ</string>
<key>hA14A</key><string>ṣ</string>
<key>hA14B</key><string>ṭ</string>
<key>hA14C</key><string>ŋ</string>
<key>hA14E</key><string>Ś</string>
<key>hA14F</key><string>ś</string>
<key>hA150</key><string>ṛ</string>
<key>hA151</key><string>ṅ</string>
<key>hA152</key><string>ŕ</string>
<key>hA153</key><string>ǹ</string>
<key>zB25F</key><string>①</string>
<key>zB260</key><string>②</string>
<key>zB261</key><string>③</string>
<key>zB262</key><string>④</string>
<key>zB263</key><string>⑤</string>
<key>zB264</key><string>⑥</string>
<key>zB265</key><string>⑦</string>
<key>zB266</key><string>⑧</string>
<key>zB267</key><string>⑨</string>
<key>zB268</key><string>⑩</string>
<key>zB269</key><string>⑪</string>
<key>zB26A</key><string>⑫</string>
<key>zB26B</key><string>⑬</string>
<key>zB26C</key><string>⑭</string>
<key>zB26D</key><string>⑮</string>
<key>zB26E</key><string>⑯</string>
<key>zB26F</key><string>Ⅰ</string>
<key>zB270</key><string>Ⅴ</string>
<key>zB271</key><string>❶</string>
<key>zB272</key><string>❷</string>
<key>zB273</key><string>❸</string>
<key>zB274</key><string>❹</string>
<key>zB275</key><string>❺</string>
<key>zB276</key><string>❻</string>
<key>zB277</key><string>❼</string>
<key>zB278</key><string>❽</string>
<key>zB279</key><string>❾</string>
<key>zB27A</key><string>❿</string>
<key>zB27B</key><string>⓫</string>
<key>zB27C</key><string>⓬</string>
<key>zB27D</key><string>⓭</string>
<key>zB27E</key><string>⓮</string>
<key>zB321</key><string>⓯</string>
<key>zB322</key><string>⓰</string>
<key>zB323</key><string>⓱</string>
<key>zB324</key><string>⓲</string>
<key>zB325</key><string>⓳</string>
<key>zB330</key><string>㋐</string>
<key>zB331</key><string>㋑</string>
<key>zB332</key><string>㋒</string>
<key>zB333</key><string>㋓</string>
<key>zB334</key><string>㋔</string>
<key>zB335</key><string>㋕</string>
<key>zB336</key><string>㋖</string>
<key>zB337</key><string>㋗</string>
<key>zB338</key><string>㋘</string>
<key>zB33C</key><string>㆑</string>
<key>zB33E</key><string>〖</string>
<key>zB33F</key><string>〗</string>
<key>zB341</key><string>↗</string>
<key>zB343</key><string>↔</string>
<key>zB345</key><string>⇄</string>
<key>zB347</key><string>↕</string>
<key>zB326</key><string>㈠</string>
<key>zB327</key><string>㈡</string>
<key>zB328</key><string>㈢</string>
<key>zB329</key><string>㈣</string>
<key>zB32A</key><string>㈤</string>
<key>zB32B</key><string>㈥</string>
<key>zB32C</key><string>㈠</string>
<key>zB32D</key><string>㈡</string>
<key>zB32E</key><string>㈢</string>
<key>zB32F</key><string>㈣</string>
<key>zB349</key><string>[呉]</string>
<key>zB34A</key><string>[漢]</string>
<key>zB34B</key><string>[唐]</string>
<key>zB34C</key><string>[慣]</string>
</dict>
</plist>
