<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA128</key><string>～</string>
<key>hA129</key><string>～́</string>
<key>hA12A</key><string>～̀</string>
<key>hA12B</key><string>～́</string>
<key>hA12C</key><string>～</string>
<key>hA137</key><string>´</string>
<key>hA138</key><string>Á</string>
<key>hA139</key><string>É</string>
<key>hA13A</key><string>Í</string>
<key>hA13B</key><string>Ó</string>
<key>hA13C</key><string>Ú</string>
<key>hA13D</key><string>Ý</string>
<key>hA13E</key><string>á</string>
<key>hA13F</key><string>é</string>
<key>hA140</key><string>í</string>
<key>hA141</key><string>ó</string>
<key>hA142</key><string>ú</string>
<key>hA143</key><string>ý</string>
<key>hA144</key><string>Á</string>
<key>hA145</key><string>É</string>
<key>hA146</key><string>Í</string>
<key>hA147</key><string>Ó</string>
<key>hA148</key><string>Ú</string>
<key>hA149</key><string>Ý</string>
<key>hA14A</key><string>á</string>
<key>hA14B</key><string>é</string>
<key>hA14C</key><string>í</string>
<key>hA14D</key><string>ó</string>
<key>hA14E</key><string>ú</string>
<key>hA14F</key><string>ý</string>
<key>hA150</key><string>ʌ́</string>
<key>hA151</key><string>ǿ</string>
<key>hA152</key><string>´</string>
<key>hA153</key><string>Á</string>
<key>hA154</key><string>É</string>
<key>hA155</key><string>Í</string>
<key>hA156</key><string>Ó</string>
<key>hA157</key><string>Ú</string>
<key>hA158</key><string>Ý</string>
<key>hA159</key><string>á</string>
<key>hA15A</key><string>é</string>
<key>hA15B</key><string>í</string>
<key>hA15C</key><string>ó</string>
<key>hA15D</key><string>ú</string>
<key>hA15E</key><string>ý</string>
<key>hA15F</key><string>ǿ</string>
<key>hA160</key><string>ʌ́</string>
<key>hA161</key><string>À</string>
<key>hA162</key><string>È</string>
<key>hA163</key><string>Ì</string>
<key>hA164</key><string>Ò</string>
<key>hA165</key><string>Ù</string>
<key>hA166</key><string>Ỳ</string>
<key>hA167</key><string>à</string>
<key>hA168</key><string>è</string>
<key>hA169</key><string>ì</string>
<key>hA16A</key><string>ò</string>
<key>hA16B</key><string>ù</string>
<key>hA16C</key><string>ỳ</string>
<key>hA16D</key><string>`</string>
<key>hA16E</key><string>À</string>
<key>hA16F</key><string>È</string>
<key>hA170</key><string>Ì</string>
<key>hA171</key><string>Ò</string>
<key>hA172</key><string>Ù</string>
<key>hA173</key><string>Ỳ</string>
<key>hA174</key><string>à</string>
<key>hA175</key><string>è</string>
<key>hA176</key><string>ì</string>
<key>hA177</key><string>ò</string>
<key>hA178</key><string>ù</string>
<key>hA179</key><string>ỳ</string>
<key>hA17A</key><string>ʌ̀</string>
<key>hA17B</key><string>ø̀</string>
<key>hA17C</key><string>Ä</string>
<key>hA17D</key><string>Ë</string>
<key>hA17E</key><string>Ï</string>
<key>hA221</key><string>Ö</string>
<key>hA222</key><string>Ü</string>
<key>hA223</key><string>Ÿ</string>
<key>hA224</key><string>ä</string>
<key>hA225</key><string>ë</string>
<key>hA226</key><string>ï</string>
<key>hA227</key><string>ö</string>
<key>hA228</key><string>ü</string>
<key>hA229</key><string>ÿ</string>
<key>hA22B</key><string>Â</string>
<key>hA22C</key><string>Ê</string>
<key>hA22D</key><string>Î</string>
<key>hA22E</key><string>Ô</string>
<key>hA22F</key><string>Û</string>
<key>hA230</key><string>â</string>
<key>hA231</key><string>ê</string>
<key>hA232</key><string>î</string>
<key>hA233</key><string>ô</string>
<key>hA234</key><string>û</string>
<key>hA235</key><string>ā</string>
<key>hA236</key><string>ē</string>
<key>hA237</key><string>ī</string>
<key>hA238</key><string>ō</string>
<key>hA239</key><string>ū</string>
<key>hA23A</key><string>ӯ</string>
<key>hA23C</key><string>Ç</string>
<key>hA23D</key><string>ç</string>
<key>hA23E</key><string>ə́</string>
<key>hA23F</key><string>ɚ́</string>
<key>hA240</key><string>ɛ́</string>
<key>hA241</key><string>ı́</string>
<key>hA242</key><string>ɔ́</string>
<key>hA243</key><string>ʊ́</string>
<key>hA244</key><string>ɯ́</string>
<key>hA245</key><string>ʏ́</string>
<key>hA246</key><string>ɑ́</string>
<key>hA247</key><string>ə́</string>
<key>hA248</key><string>ɚ́</string>
<key>hA249</key><string>ɛ́</string>
<key>hA24A</key><string>ı́</string>
<key>hA24B</key><string>ɔ́</string>
<key>hA24C</key><string>ʊ́</string>
<key>hA24D</key><string>ɯ́</string>
<key>hA24E</key><string>ʏ́</string>
<key>hA24F</key><string>ɑ́</string>
<key>hA250</key><string>ə̀</string>
<key>hA251</key><string>ɚ̀</string>
<key>hA252</key><string>ɛ̀</string>
<key>hA253</key><string>ı̀</string>
<key>hA254</key><string>ɔ̀</string>
<key>hA255</key><string>ʊ̀</string>
<key>hA256</key><string>ɯ̀</string>
<key>hA257</key><string>ʏ̀</string>
<key>hA258</key><string>ɑ̀</string>
<key>hA259</key><string>~</string>
<key>hA25A</key><string>ɛ̃</string>
<key>hA25B</key><string>ı̃</string>
<key>hA25C</key><string>ɔ̃</string>
<key>hA25D</key><string>ɑ̃</string>
<key>hA25E</key><string>ã</string>
<key>hA25F</key><string>ñ</string>
<key>hA260</key><string>ʌ̃</string>
<key>hA26D</key><string>ʌ</string>
<key>hA26E</key><string>ø</string>
<key>hA26F</key><string>ə</string>
<key>hA270</key><string>ɚ</string>
<key>hA271</key><string>ɛ</string>
<key>hA272</key><string>ı</string>
<key>hA273</key><string>ɔ</string>
<key>hA274</key><string>ʊ</string>
<key>hA275</key><string>θ</string>
<key>hA276</key><string>ð</string>
<key>hA277</key><string>ʃ</string>
<key>hA278</key><string>ʒ</string>
<key>hA279</key><string>ŋ</string>
<key>hA27A</key><string>ː</string>
<key>hA27B</key><string>ɑ</string>
<key>hA27C</key><string>Ø</string>
<key>hA27D</key><string>ṭ</string>
<key>hA321</key><string>˘</string>
<key>hA328</key><string>˘</string>
<key>hA329</key><string>Ă</string>
<key>hA32A</key><string>Ĕ</string>
<key>hA32B</key><string>Ĭ</string>
<key>hA32C</key><string>Ŏ</string>
<key>hA32D</key><string>Ŭ</string>
<key>hA32E</key><string>Y̆</string>
<key>hA32F</key><string>ă</string>
<key>hA330</key><string>ĕ</string>
<key>hA331</key><string>ğ</string>
<key>hA332</key><string>l̆</string>
<key>hA333</key><string>ŏ</string>
<key>hA334</key><string>ŭ</string>
<key>hA335</key><string>y̆</string>
<key>hA336</key><string>ˇ</string>
<key>hA337</key><string>Ǎ</string>
<key>hA338</key><string>Č</string>
<key>hA339</key><string>Ǐ</string>
<key>hA33A</key><string>Ň</string>
<key>hA33B</key><string>Ř</string>
<key>hA33C</key><string>Š</string>
<key>hA33D</key><string>Ž</string>
<key>hA33E</key><string>ǎ</string>
<key>hA33F</key><string>č</string>
<key>hA340</key><string>ě</string>
<key>hA341</key><string>ǐ</string>
<key>hA342</key><string>ň</string>
<key>hA343</key><string>ř</string>
<key>hA344</key><string>š</string>
<key>hA345</key><string>ž</string>
<key>hA346</key><string>k̠</string>
<key>hA347</key><string>t̠</string>
<key>hA348</key><string>˛</string>
<key>hA349</key><string>Ą</string>
<key>hA34A</key><string>Ę</string>
<key>hA34B</key><string>Ǫ</string>
<key>hA34C</key><string>ą</string>
<key>hA34D</key><string>ę</string>
<key>hA34E</key><string>ǫ</string>
<key>hA34F</key><string>Ç</string>
<key>hA350</key><string>Ş</string>
<key>hA351</key><string>Ţ</string>
<key>hA352</key><string>ç</string>
<key>hA353</key><string>ş</string>
<key>hA354</key><string>ţ</string>
<key>hA356</key><string>D̻</string>
<key>hA357</key><string>H̻</string>
<key>hA358</key><string>h̻</string>
<key>hA359</key><string>m̻</string>
<key>hA35A</key><string>n̻</string>
<key>hA35B</key><string>n̩</string>
<key>hA35C</key><string>ḿ</string>
<key>hA35D</key><string>Ć</string>
<key>hA35E</key><string>Ś</string>
<key>hA35F</key><string>ć</string>
<key>hA360</key><string>ń</string>
<key>hA361</key><string>ś</string>
<key>hA362</key><string>ź</string>
<key>hA363</key><string>B́</string>
<key>hA364</key><string>Ć</string>
<key>hA365</key><string>D́</string>
<key>hA366</key><string>F́</string>
<key>hA367</key><string>Ǵ</string>
<key>hA368</key><string>H́</string>
<key>hA369</key><string>J́</string>
<key>hA36A</key><string>Ḱ</string>
<key>hA36B</key><string>Ĺ</string>
<key>hA36C</key><string>Ḿ</string>
<key>hA36D</key><string>Ń</string>
<key>hA36E</key><string>Ṕ</string>
<key>hA36F</key><string>Q́</string>
<key>hA370</key><string>Ŕ</string>
<key>hA371</key><string>Ś</string>
<key>hA372</key><string>T́</string>
<key>hA373</key><string>V́</string>
<key>hA374</key><string>Ẃ</string>
<key>hA375</key><string>X́</string>
<key>hA376</key><string>Ź</string>
<key>hA377</key><string>b́</string>
<key>hA378</key><string>ć</string>
<key>hA379</key><string>d́</string>
<key>hA37A</key><string>f́</string>
<key>hA37B</key><string>ǵ</string>
<key>hA37C</key><string>h́</string>
<key>hA37D</key><string>j́</string>
<key>hA37E</key><string>ḱ</string>
<key>hA421</key><string>ĺ</string>
<key>hA422</key><string>ḿ</string>
<key>hA423</key><string>ń</string>
<key>hA424</key><string>ṕ</string>
<key>hA425</key><string>q́</string>
<key>hA426</key><string>ŕ</string>
<key>hA427</key><string>ś</string>
<key>hA428</key><string>t́</string>
<key>hA429</key><string>v́</string>
<key>hA42A</key><string>ẃ</string>
<key>hA42B</key><string>x́</string>
<key>hA42C</key><string>ź</string>
<key>hA42D</key><string>2́</string>
<key>hA42E</key><string>4́</string>
<key>hA42F</key><string>8́</string>
<key>hA430</key><string>9́</string>
<key>hA431</key><string>B̀</string>
<key>hA432</key><string>C̀</string>
<key>hA433</key><string>D̀</string>
<key>hA434</key><string>F̀</string>
<key>hA435</key><string>G̀</string>
<key>hA436</key><string>H̀</string>
<key>hA437</key><string>J̀</string>
<key>hA438</key><string>K̀</string>
<key>hA439</key><string>L̀</string>
<key>hA43A</key><string>M̀</string>
<key>hA43B</key><string>Ǹ</string>
<key>hA43C</key><string>P̀</string>
<key>hA43D</key><string>Q̀</string>
<key>hA43E</key><string>R̀</string>
<key>hA43F</key><string>S̀</string>
<key>hA440</key><string>T̀</string>
<key>hA441</key><string>V̀</string>
<key>hA442</key><string>Ẁ</string>
<key>hA443</key><string>X̀</string>
<key>hA444</key><string>Z̀</string>
<key>hA445</key><string>ʇ</string>
<key>hA446</key><string>ɯ</string>
<key>hA447</key><string>ʏ</string>
<key>hA448</key><string>ɥ</string>
<key>hA449</key><string>ɸ</string>
<key>hA44A</key><string>ʔ</string>
<key>hA44B</key><string>Đ</string>
<key>hA44C</key><string>đ</string>
<key>hA44D</key><string>‘</string>
<key>hA44E</key><string></string>
<key>hA44F</key><string>Ł</string>
<key>hA452</key><string>¿</string>
<key>hA454</key><string>ł</string>
<key>hA455</key><string>Ã</string>
<key>hA456</key><string>Ñ</string>
<key>hA457</key><string>õ</string>
<key>hA459</key><string>Ő</string>
<key>hA45A</key><string>ő</string>
<key>hA45B</key><string>Å</string>
<key>hA45C</key><string>å</string>
<key>hA45D</key><string>ů</string>
<key>hA45E</key><string>ẙ</string>
<key>hA45F</key><string>ẘ</string>
<key>hA460</key><string>Ḍ</string>
<key>hA461</key><string>Ḥ</string>
<key>hA462</key><string>Ḳ</string>
<key>hA463</key><string>Ṃ</string>
<key>hA464</key><string>Ṇ</string>
<key>hA465</key><string>Ṛ</string>
<key>hA466</key><string>Ṣ</string>
<key>hA467</key><string>Ṭ</string>
<key>hA468</key><string>Ẓ</string>
<key>hA469</key><string>ḍ</string>
<key>hA46A</key><string>ḥ</string>
<key>hA46B</key><string>ḳ</string>
<key>hA46C</key><string>ṃ</string>
<key>hA46D</key><string>ṇ</string>
<key>hA46E</key><string>ṛ</string>
<key>hA46F</key><string>ṣ</string>
<key>hA470</key><string>ẓ</string>
<key>hA472</key><string>1̇</string>
<key>hA473</key><string>3̇</string>
<key>hA474</key><string>Ḋ</string>
<key>hA475</key><string>Ġ</string>
<key>hA476</key><string>İ</string>
<key>hA477</key><string>U̇</string>
<key>hA478</key><string>Ż</string>
<key>hA479</key><string>ȧ</string>
<key>hA47A</key><string>ė</string>
<key>hA47B</key><string>ġ</string>
<key>hA47C</key><string>ṁ</string>
<key>hA47D</key><string>ṅ</string>
<key>hA47E</key><string>q̇</string>
<key>hA521</key><string>u̇</string>
<key>hA522</key><string>ẏ</string>
<key>hA527</key><string>ʊ</string>
<key>hA528</key><string>ʎ</string>
<key>hA536</key><string>S̈</string>
<key>hA537</key><string>T̈</string>
<key>hA538</key><string>Ẍ</string>
<key>hA539</key><string>Ÿ</string>
<key>hA53A</key><string>s̈</string>
<key>hA53B</key><string>ẗ</string>
<key>hA53C</key><string>ẍ</string>
<key>hA53E</key><string>1̄</string>
<key>hA53F</key><string>2̄</string>
<key>hA540</key><string>3̄</string>
<key>hA541</key><string>4̄</string>
<key>hA542</key><string>6̄</string>
<key>hA543</key><string>Ā</string>
<key>hA544</key><string>B̄</string>
<key>hA545</key><string>C̄</string>
<key>hA546</key><string>D̄</string>
<key>hA547</key><string>Ē</string>
<key>hA548</key><string>Ḡ</string>
<key>hA549</key><string>Ī</string>
<key>hA54A</key><string>K̄</string>
<key>hA54B</key><string>M̄</string>
<key>hA54C</key><string>Ō</string>
<key>hA54D</key><string>R̄</string>
<key>hA54E</key><string>Ū</string>
<key>hA54F</key><string>V̄</string>
<key>hA550</key><string>X̄</string>
<key>hA551</key><string>Ȳ</string>
<key>hA552</key><string>b̄</string>
<key>hA553</key><string>c̄</string>
<key>hA554</key><string>d̄</string>
<key>hA555</key><string>h̄</string>
<key>hA556</key><string>q̄</string>
<key>hA557</key><string>s̄</string>
<key>hA558</key><string>t̄</string>
<key>hA559</key><string>x̄</string>
<key>hA55A</key><string>z̄</string>
<key>hA562</key><string>n̄</string>
<key>hA563</key><string>p̄</string>
<key>hA564</key><string>Ğ</string>
<key>hA565</key><string>Ě</string>
<key>hA566</key><string>Ń</string>
<key>hA567</key><string>Ź</string>
<key>zB14E</key><string>ǽ</string>
<key>zB14F</key><string>æ̀</string>
<key>zB150</key><string>ǽ</string>
<key>zB151</key><string>ǣ</string>
<key>zB154</key><string>æ̃</string>
<key>zB155</key><string>æ</string>
<key>zB156</key><string>œ́</string>
<key>zB157</key><string>œ̀</string>
<key>zB158</key><string>œ́</string>
<key>zB159</key><string>œ̃</string>
<key>zB15A</key><string>œ</string>
<key>zB15B</key><string>Œ</string>
<key>zB15E</key><string>Æ</string>
<key>zB175</key><string>©</string>
<key>zB176</key><string>®</string>
<key>zB179</key><string>ﬁ</string>
</dict>
</plist>
