<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hB026</key><string>É</string>
<key>hB027</key><string>Ś</string>
<key>hB028</key><string>â</string>
<key>hB029</key><string>à</string>
<key>hB02A</key><string>ā</string>
<key>hB02B</key><string>&amp;</string>
<key>hB02C</key><string>ã</string>
<key>hB02D</key><string>ä</string>
<key>hB02E</key><string>ç</string>
<key>hB030</key><string>é</string>
<key>hB031</key><string>ê</string>
<key>hB032</key><string>è</string>
<key>hB033</key><string>ë</string>
<key>hB034</key><string>ï</string>
<key>hB036</key><string>ñ</string>
<key>hB037</key><string>ó</string>
<key>hB038</key><string>œ</string>
<key>hB039</key><string>ō</string>
<key>hB03A</key><string>ö</string>
<key>hB03B</key><string>ß</string>
<key>hB03D</key><string>ū</string>
<key>hB03E</key><string>ü</string>
<key>zA121</key><string>①</string>
<key>zA122</key><string>―</string>
<key>zA123</key><string>②</string>
<key>zA124</key><string>啞</string>
<key>zA125</key><string>綠</string>
<key>zA126</key><string>③</string>
<key>zA127</key><string>④</string>
<key>zA12A</key><string>⑤</string>
<key>zA12B</key><string>⑥</string>
<key>zA12C</key><string>/</string>
<key>zA12D</key><string>〖</string>
<key>zA12E</key><string>〗</string>
<key>zA12F</key><string>⑴</string>
<key>zA130</key><string>⑵</string>
<key>zA131</key><string>吞</string>
<key>zA132</key><string>匕</string>
<key>zA134</key><string>↔</string>
<key>zA135</key><string>〘</string>
<key>zA136</key><string>〙</string>
<key>zA137</key><string>頰</string>
<key>zA138</key><string>呍</string>
<key>zA139</key><string>‐</string>
<key>zA13A</key><string>․</string>
<key>zA13B</key><string>簞</string>
<key>zA13C</key><string>⑦</string>
<key>zA13D</key><string>⑧</string>
<key>zA13E</key><string>⑨</string>
<key>zA13F</key><string>噓</string>
<key>zA140</key><string>鱏</string>
<key>zA141</key><string>鱝</string>
<key>zA142</key><string>搔</string>
<key>zA143</key><string>剝</string>
<key>zA144</key><string>⑩</string>
<key>zA145</key><string>⑪</string>
<key>zA146</key><string>⑫</string>
<key>zA147</key><string>⑬</string>
<key>zA148</key><string>⑭</string>
<key>zA149</key><string>⑮</string>
<key>zA14A</key><string>⑯</string>
<key>zA14B</key><string>⑰</string>
<key>zA14C</key><string>⑱</string>
<key>zA14D</key><string>⑲</string>
<key>zA14E</key><string>⑳</string>
<key>zA15B</key><string>腭</string>
<key>zA15C</key><string>婕</string>
<key>zA15D</key><string>妤</string>
<key>zA15E</key><string>倦</string>
<key>zA15F</key><string>偓</string>
<key>zA160</key><string>〘</string>
<key>zA161</key><string>〙</string>
<key>zA163</key><string>嘲</string>
<key>zA164</key><string>卿</string>
<key>zA165</key><string>灬</string>
<key>zA166</key><string>㋐</string>
<key>zA167</key><string>㋑</string>
<key>zA168</key><string>㋒</string>
<key>zA169</key><string>俱</string>
<key>zA16A</key><string>塡</string>
<key>zA16B</key><string>鹼</string>
<key>zA16C</key><string>蟬</string>
<key>zA16D</key><string>蚜</string>
<key>zA16E</key><string>醬</string>
<key>zA170</key><string>₁</string>
<key>zA171</key><string>蠟</string>
<key>zA172</key><string>=</string>
<key>zA173</key><string>㋓</string>
<key>zA174</key><string>筕</string>
<key>zA175</key><string>篖</string>
<key>zA176</key><string>㋔</string>
<key>zA177</key><string>㋕</string>
<key>zA178</key><string>㋖</string>
<key>zA179</key><string>㋗</string>
<key>zA17A</key><string>㋘</string>
<key>zA17B</key><string>㋙</string>
<key>zA17C</key><string>㋚</string>
<key>zA17D</key><string>㋛</string>
<key>zA17E</key><string>㋜</string>
<key>zA221</key><string>㋝</string>
<key>zA222</key><string>㋞</string>
<key>zA223</key><string>㋟</string>
<key>zA224</key><string>㋠</string>
<key>zA225</key><string>㋡</string>
<key>zA226</key><string>㋢</string>
<key>zA227</key><string>㋣</string>
<key>zA228</key><string>㋤</string>
<key>zA229</key><string>蜱</string>
<key>zA22A</key><string>梂</string>
<key>zA22B</key><string>蘞</string>
<key>zA22C</key><string>熅</string>
<key>zA22D</key><string>嚮</string>
<key>zA22E</key><string>俠</string>
<key>zA22F</key><string>庖</string>
<key>zA230</key><string>鶍</string>
<key>zA231</key><string>鷗</string>
<key>zA232</key><string>煠</string>
<key>zA233</key><string>囊</string>
<key>zA234</key><string>嚙</string>
<key>zA235</key><string>賭</string>
<key>zA237</key><string>屛</string>
<key>zA238</key><string>籾</string>
<key>zA239</key><string>漑</string>
<key>zA23A</key><string>禱</string>
<key>zA23B</key><string>螈</string>
<key>zA23C</key><string>櫛</string>
<key>zA23F</key><string>鯎</string>
<key>zA240</key><string>梲</string>
<key>zA241</key><string>麵</string>
<key>zA242</key><string>⑶</string>
<key>zA243</key><string>⑷</string>
<key>zA244</key><string>鱓</string>
<key>zA245</key><string>叱</string>
<key>zA246</key><string>厩</string>
<key>zA248</key><string>鱁</string>
<key>zA249</key><string>鮧</string>
<key>zA24A</key><string>醞</string>
<key>zA24B</key><string>潑</string>
<key>zA24C</key><string>ß</string>
<key>zA24D</key><string>瘦</string>
<key>zA24F</key><string>縁</string>
<key>zA250</key><string>~</string>
<key>zA251</key><string>饗</string>
<key>zA252</key><string>緣</string>
<key>zA253</key><string>焰</string>
<key>zA254</key><string>壔</string>
<key>zA255</key><string>橫</string>
<key>zA256</key><string>盬</string>
<key>zA257</key><string>尩</string>
<key>zA258</key><string>摑</string>
<key>zA259</key><string>œ</string>
<key>zA25A</key><string>瀆</string>
<key>zA25B</key><string>噯</string>
<key>zA25C</key><string>粔</string>
<key>zA25D</key><string>籹</string>
<key>zA25E</key><string>鰧</string>
<key>zA25F</key><string>腊</string>
<key>zA263</key><string>繫</string>
<key>zA264</key><string>溫</string>
<key>zA265</key><string>゛</string>
<key>zA266</key><string>◦</string>
<key>zA269</key><string>♩</string>
<key>zA270</key><string>洄</string>
<key>zA272</key><string>-</string>
<key>zA273</key><string>辻</string>
<key>zA274</key><string>櫧</string>
<key>zA275</key><string>℉</string>
<key>zA276</key><string>檝</string>
<key>zA277</key><string>檞</string>
<key>zA278</key><string>桛</string>
<key>zA279</key><string>顚</string>
<key>zA27A</key><string>渴</string>
<key>zA27D</key><string>₁</string>
<key>zA27E</key><string>蚉</string>
<key>zA321</key><string>魳</string>
<key>zA322</key><string>擤</string>
<key>zA323</key><string>麴</string>
<key>zA324</key><string>鱲</string>
<key>zA325</key><string>軀</string>
<key>zA326</key><string>繇</string>
<key>zA327</key><string>ç</string>
<key>zA328</key><string>蔲</string>
<key>zA32A</key><string>寬</string>
<key>zA32B</key><string>窠</string>
<key>zA32C</key><string>樏</string>
<key>zA32D</key><string>车</string>
<key>zA32E</key><string>门</string>
<key>zA32F</key><string>艹</string>
<key>zA333</key><string>嘻</string>
<key>zA334</key><string>豇</string>
<key>zA336</key><string>徽</string>
<key>zA337</key><string>蕈</string>
<key>zA339</key><string>虛</string>
<key>zA33A</key><string>鄕</string>
<key>zA33C</key><string>挍</string>
<key>zA33D</key><string>憍</string>
<key>zA33E</key><string>彔</string>
<key>zA340</key><string>－</string>
<key>zA341</key><string>袪</string>
<key>zA342</key><string>蟖</string>
<key>zA343</key><string>驎</string>
<key>zA346</key><string>繡</string>
<key>zA348</key><string>栱</string>
<key>zA349</key><string>睺</string>
<key>zA34A</key><string>♣</string>
<key>zA34B</key><string>痀</string>
<key>zA34D</key><string>薰</string>
<key>zA34E</key><string>揭</string>
<key>zA34F</key><string>雞</string>
<key>zA350</key><string>擊</string>
<key>zA351</key><string>〓</string>
<key>zA352</key><string>姸</string>
<key>zA353</key><string>硏</string>
<key>zA354</key><string>撿</string>
<key>zA356</key><string>黃</string>
<key>zA357</key><string>筓</string>
<key>zA358</key><string>鯁</string>
<key>zA359</key><string>辦</string>
<key>zA35A</key><string>蠊</string>
<key>zA35B</key><string>黑</string>
<key>zA35C</key><string>榖</string>
<key>zA35D</key><string>杮</string>
<key>zA35F</key><string>矻</string>
<key>zA360</key><string>鰶</string>
<key>zA361</key><string>©</string>
<key>zA362</key><string>顬</string>
<key>zA365</key><string>・</string>
<key>zA366</key><string>榨</string>
<key>zA367</key><string>皂</string>
<key>zA368</key><string>殺</string>
<key>zA369</key><string>鱵</string>
<key>zA36A</key><string>蝲</string>
<key>zA36B</key><string>樝</string>
<key>zA36C</key><string>仐</string>
<key>zA36D</key><string>篡</string>
<key>zA36E</key><string>攙</string>
<key>zA36F</key><string>舢</string>
<key>zA372</key><string>鱪</string>
<key>zA373</key><string>鱰</string>
<key>zA374</key><string>笧</string>
<key>zA375</key><string>梻</string>
<key>zA376</key><string>絓</string>
<key>zA377</key><string>湑</string>
<key>zA378</key><string>硨</string>
<key>zA379</key><string>磲</string>
<key>zA37A</key><string>糈</string>
<key>zA37B</key><string>屢</string>
<key>zA37C</key><string>痹</string>
<key>zA37D</key><string>稭</string>
<key>zA37E</key><string>萊</string>
<key>zA421</key><string>楉</string>
<key>zA425</key><string>噦</string>
<key>zA426</key><string>涮</string>
<key>zA429</key><string>驒</string>
<key>zA42C</key><string>緖</string>
<key>zA42D</key><string>諸</string>
<key>zA42E</key><string>祥</string>
<key>zA42F</key><string>涉</string>
<key>zA430</key><string>狀</string>
<key>zA431</key><string>﨟</string>
<key>zA432</key><string>弴</string>
<key>zA433</key><string>胳</string>
<key>zA434</key><string>神</string>
<key>zA435</key><string>糝</string>
<key>zA436</key><string>籡</string>
<key>zA437</key><string>搢</string>
<key>zA438</key><string>邃</string>
<key>zA439</key><string>捗</string>
<key>zA43A</key><string>辶</string>
<key>zA43B</key><string>氵</string>
<key>zA43C</key><string>Ⅰ</string>
<key>zA43D</key><string>Ⅱ</string>
<key>zA43E</key><string>Ⅲ</string>
<key>zA43F</key><string>蜾</string>
<key>zA440</key><string>蠃</string>
<key>zA441</key><string>苆</string>
<key>zA442</key><string>♠</string>
<key>zA443</key><string>胼</string>
<key>zA444</key><string>瀨</string>
<key>zA445</key><string>鮬</string>
<key>zA446</key><string>挵</string>
<key>zA448</key><string>萁</string>
<key>zA44C</key><string>巢</string>
<key>zA44D</key><string>增</string>
<key>zA450</key><string>蔣</string>
<key>zA451</key><string>卽</string>
<key>zA452</key><string>叛</string>
<key>zA453</key><string>麼</string>
<key>zA454</key><string>祆</string>
<key>zA455</key><string>瑇</string>
<key>zA456</key><string>♦</string>
<key>zA457</key><string>炷</string>
<key>zA458</key><string>跑</string>
<key>zA459</key><string>鱮</string>
<key>zA45A</key><string>蟎</string>
<key>zA45B</key><string>毗</string>
<key>zA45C</key><string>攩</string>
<key>zA45D</key><string>楤</string>
<key>zA45E</key><string>棰</string>
<key>zA45F</key><string>疒</string>
<key>zA462</key><string>癤</string>
<key>zA463</key><string>徵</string>
<key>zA465</key><string>都</string>
<key>zA466</key><string>塚</string>
<key>zA467</key><string>鐔</string>
<key>zA468</key><string>橐</string>
<key>zA469</key><string>彽</string>
<key>zA46A</key><string>跆</string>
<key>zA46B</key><string>鈸</string>
<key>zA46C</key><string>鵇</string>
<key>zA46D</key><string>德</string>
<key>zA46E</key><string>蕺</string>
<key>zA470</key><string>縕</string>
<key>zA471</key><string>梣</string>
<key>zA472</key><string>蜒</string>
<key>zA473</key><string>⑸</string>
<key>zA474</key><string>⑹</string>
<key>zA475</key><string>⑺</string>
<key>zA476</key><string>抛</string>
<key>zA477</key><string>♮</string>
<key>zA478</key><string>愗</string>
<key>zA521</key><string>你</string>
<key>zA522</key><string>鮸</string>
<key>zA523</key><string>鵼</string>
<key>zA524</key><string>邌</string>
<key>zA526</key><string>♥</string>
<key>zA527</key><string>蛽</string>
<key>zA529</key><string>蘩</string>
<key>zA52A</key><string>蔞</string>
<key>zA52B</key><string>鱩</string>
<key>zA52C</key><string>醱</string>
<key>zA52D</key><string>糗</string>
<key>zA52E</key><string>麨</string>
<key>zA52F</key><string>鎺</string>
<key>zA530</key><string>魬</string>
<key>zA532</key><string>晚</string>
<key>zA535</key><string>穇</string>
<key>zA536</key><string>骶</string>
<key>zA537</key><string>篊</string>
<key>zA538</key><string>瘭</string>
<key>zA539</key><string>顖</string>
<key>zA53C</key><string>甁</string>
<key>zA53E</key><string>步</string>
<key>zA540</key><string>韛</string>
<key>zA541</key><string>丰</string>
<key>zA543</key><string>袘</string>
<key>zA544</key><string>福</string>
<key>zA545</key><string>麬</string>
<key>zA546</key><string>潭</string>
<key>zA547</key><string>橅</string>
<key>zA549</key><string>倂</string>
<key>zA54A</key><string>逬</string>
<key>zA54B</key><string>厴</string>
<key>zA54D</key><string>扌</string>
<key>zA553</key><string>騈</string>
<key>zA554</key><string>牓</string>
<key>zA555</key><string>餺</string>
<key>zA556</key><string>飥</string>
<key>zA557</key><string>孒</string>
<key>zA558</key><string>鮄</string>
<key>zA55B</key><string>埵</string>
<key>zA55C</key><string>枘</string>
<key>zA55E</key><string>￡</string>
<key>zA55F</key><string>每</string>
<key>zA560</key><string>鯧</string>
<key>zA561</key><string>眶</string>
<key>zA562</key><string>Ⓒ</string>
<key>zA563</key><string>㊙</string>
<key>zA564</key><string>裑</string>
<key>zA565</key><string>虯</string>
<key>zA566</key><string>鼯</string>
<key>zA567</key><string>挘</string>
<key>zA568</key><string>鯥</string>
<key>zA569</key><string>鋲</string>
<key>zA56A</key><string>晳</string>
<key>zA56B</key><string>眴</string>
<key>zA56D</key><string>踠</string>
<key>zA56E</key><string>捥</string>
<key>zA56F</key><string>鼹</string>
<key>zA570</key><string>蠆</string>
<key>zA571</key><string>簎</string>
<key>zA572</key><string>矠</string>
<key>zA573</key><string>簶</string>
<key>zA574</key><string>俏</string>
<key>zA575</key><string>梘</string>
<key>zA576</key><string>賴</string>
<key>zA577</key><string>欄</string>
<key>zA578</key><string>隆</string>
<key>zA579</key><string>虜</string>
<key>zA57A</key><string>摹</string>
<key>zA57B</key><string>類</string>
<key>zA57C</key><string>淚</string>
<key>zA57E</key><string>曆</string>
<key>zA621</key><string>歷</string>
<key>zA622</key><string>練</string>
<key>zA623</key><string>鍊</string>
<key>zA624</key><string>廊</string>
<key>zA625</key><string>郞</string>
<key>zA626</key><string>朗</string>
<key>zA627</key><string>痎</string>
<key>zA628</key><string>玕</string>
<key>zA629</key><string>Ⅳ</string>
<key>zA62A</key><string>Ⅴ</string>
<key>zA62B</key><string>Ⅹ</string>
<key>zA62D</key><string>錄</string>
<key>zA62E</key><string>鰙</string>
<key>zA64B</key><string>鷉</string>
<key>zA64C</key><string>兔</string>
<key>zA64D</key><string>鸟</string>
<key>zA64E</key><string>諛</string>
<key>zA64F</key><string>扁</string>
<key>zA650</key><string>溺</string>
<key>zA651</key><string>逢</string>
<key>zA652</key><string>瀕</string>
<key>zA653</key><string>翫</string>
<key>zA654</key><string>遜</string>
<key>zA655</key><string>鞘</string>
<key>zA656</key><string>槌</string>
<key>zA657</key><string>鎚</string>
<key>zA658</key><string>媾</string>
<key>zA659</key><string>挽</string>
<key>zA65A</key><string>牙</string>
<key>zA65B</key><string>噲</string>
<key>zA65C</key><string>餠</string>
<key>zA65D</key><string>煽</string>
<key>zA65E</key><string>汲</string>
<key>zA65F</key><string>鰯</string>
<key>zA660</key><string>捩</string>
<key>zA661</key><string>錆</string>
<key>zA662</key><string>翰</string>
<key>zA663</key><string>煎</string>
<key>zA664</key><string>薩</string>
<key>zA665</key><string>箸</string>
<key>zA666</key><string>襖</string>
<key>zA667</key><string>簾</string>
<key>zA668</key><string>晦</string>
<key>zA669</key><string>蓬</string>
<key>zA66A</key><string>芦</string>
<key>zA66B</key><string>摺</string>
<key>zA66C</key><string>巷</string>
<key>zA66D</key><string>娜</string>
<key>zA66E</key><string>逼</string>
<key>zA66F</key><string>葛</string>
<key>zA670</key><string>鱈</string>
<key>zA671</key><string>嫂</string>
<key>zA672</key><string>虻</string>
<key>zA673</key><string>溢</string>
<key>zA674</key><string>鴉</string>
<key>zA675</key><string>穿</string>
<key>zA676</key><string>迦</string>
<key>zA677</key><string>樋</string>
<key>zA678</key><string>餌</string>
<key>zA679</key><string>飴</string>
<key>zA67A</key><string>淫</string>
<key>zA67B</key><string>謬</string>
<key>zA67C</key><string>煉</string>
<key>zA67D</key><string>這</string>
<key>zA67E</key><string>堵</string>
<key>zA721</key><string>蛸</string>
<key>zA722</key><string>捲</string>
<key>zA723</key><string>兎</string>
<key>zA724</key><string>屑</string>
<key>zA725</key><string>瞥</string>
<key>zA726</key><string>屠</string>
<key>zA727</key><string>蔽</string>
<key>zA728</key><string>篇</string>
<key>zA729</key><string>謎</string>
<key>zA72A</key><string>歎</string>
<key>zA72B</key><string>艘</string>
<key>zA72C</key><string>牌</string>
<key>zA72D</key><string>訝</string>
<key>zA72E</key><string>薯</string>
<key>zA72F</key><string>藷</string>
<key>zA730</key><string>愈</string>
<key>zA731</key><string>遁</string>
<key>zA732</key><string>堙</string>
<key>zA733</key><string>湮</string>
<key>zA734</key><string>廟</string>
<key>zA735</key><string>迂</string>
<key>zA736</key><string>噂</string>
<key>zA737</key><string>菟</string>
<key>zA738</key><string>疼</string>
<key>zA739</key><string>腿</string>
<key>zA73A</key><string>諺</string>
<key>zA73B</key><string>蟒</string>
<key>zA73C</key><string>娩</string>
<key>zA73D</key><string>箙</string>
<key>zA73E</key><string>撰</string>
<key>zA73F</key><string>冤</string>
<key>zA740</key><string>鵠</string>
<key>zA741</key><string>笈</string>
<key>zA742</key><string>蝕</string>
<key>zA743</key><string>鯖</string>
<key>zA744</key><string>揃</string>
<key>zA745</key><string>鞄</string>
<key>zA746</key><string>秤</string>
<key>zA747</key><string>樽</string>
<key>zA748</key><string>綮</string>
<key>zA749</key><string>恢</string>
<key>zA74A</key><string>篝</string>
<key>zA74B</key><string>縢</string>
<key>zA74C</key><string>籐</string>
<key>zA74D</key><string>綛</string>
<key>zA74E</key><string>儲</string>
<key>zA74F</key><string>騙</string>
<key>zA750</key><string>簪</string>
<key>zA751</key><string>灘</string>
<key>zA752</key><string>祇</string>
<key>zA753</key><string>覯</string>
<key>zA754</key><string>箭</string>
<key>zA755</key><string>螽</string>
<key>zA756</key><string>僅</string>
<key>zA757</key><string>髯</string>
<key>zA758</key><string>扈</string>
<key>zA759</key><string>鑓</string>
<key>zA75A</key><string>廠</string>
<key>zA75B</key><string>芒</string>
<key>zA75C</key><string>蝙</string>
<key>zA75D</key><string>磔</string>
<key>zA75E</key><string>甑</string>
<key>zA75F</key><string>谺</string>
<key>zA760</key><string>鮗</string>
<key>zA761</key><string>榊</string>
<key>zA762</key><string>遡</string>
<key>zA763</key><string>漣</string>
<key>zA764</key><string>蠶</string>
<key>zA765</key><string>叟</string>
<key>zA766</key><string>硼</string>
<key>zA767</key><string>酋</string>
<key>zA768</key><string>哨</string>
<key>zA769</key><string>稱</string>
<key>zA76A</key><string>苒</string>
<key>zA76B</key><string>鱒</string>
<key>zA76C</key><string>稗</string>
<key>zA76D</key><string>搜</string>
<key>zA76E</key><string>逗</string>
<key>zA76F</key><string>辿</string>
<key>zA770</key><string>鄭</string>
<key>zA771</key><string>韜</string>
<key>zA772</key><string>擢</string>
<key>zA773</key><string>瀞</string>
<key>zA774</key><string>梛</string>
<key>zA775</key><string>楢</string>
<key>zA776</key><string>禰</string>
<key>zA777</key><string>榔</string>
<key>zA778</key><string>唳</string>
<key>zA779</key><string>翩</string>
<key>zA77A</key><string>繃</string>
<key>zA77B</key><string>喞</string>
<key>zA77C</key><string>迄</string>
<key>zA77D</key><string>餛</string>
</dict>
</plist>
