<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA121</key><string>Ä</string>
<key>hA122</key><string>É</string>
<key>hA123</key><string>Ⅰ</string>
<key>hA124</key><string>Ⅱ</string>
<key>hA125</key><string>Ⅲ</string>
<key>hA126</key><string>Ⅳ</string>
<key>hA127</key><string>Ⅴ</string>
<key>hA128</key><string>Ś</string>
<key>hA129</key><string>â</string>
<key>hA12A</key><string>à</string>
<key>hA12B</key><string>ā</string>
<key>hA12C</key><string>ã</string>
<key>hA12D</key><string>ä</string>
<key>hA12E</key><string>ç</string>
<key>hA12F</key><string>ḍ</string>
<key>hA130</key><string>é</string>
<key>hA131</key><string>ê</string>
<key>hA132</key><string>è</string>
<key>hA133</key><string>ë</string>
<key>hA135</key><string>ï</string>
<key>hA136</key><string>ṃ</string>
<key>hA138</key><string>ñ</string>
<key>hA139</key><string>ó</string>
<key>hA13A</key><string>ŏ</string>
<key>hA13B</key><string>ô</string>
<key>hA13C</key><string>œ</string>
<key>hA13D</key><string>ō</string>
<key>hA13E</key><string>ö</string>
<key>hA13F</key><string>ṣ</string>
<key>hA140</key><string>ß</string>
<key>hA141</key><string>ṭ</string>
<key>hA142</key><string>û</string>
<key>hA143</key><string>ù</string>
<key>hA144</key><string>ū</string>
<key>hA145</key><string>ü</string>
<key>zB121</key><string>❶</string>
<key>zB122</key><string>❷</string>
<key>zB123</key><string>❸</string>
<key>zB124</key><string>❹</string>
<key>zB125</key><string>❺</string>
<key>zB126</key><string>❻</string>
<key>zB127</key><string>❼</string>
<key>zB128</key><string>❽</string>
<key>zB129</key><string>❾</string>
<key>zB12A</key><string>❿</string>
<key>zB12B</key><string>⓫</string>
<key>zB12C</key><string>⓬</string>
<key>zB12D</key><string>⓭</string>
<key>zB12E</key><string>⓮</string>
<key>zB12F</key><string>⓯</string>
<key>zB130</key><string>ⓠ</string>
<key>zB131</key><string>ⓡ</string>
<key>zB132</key><string>ⓢ</string>
<key>zB133</key><string>ⓣ</string>
<key>zB134</key><string>ⓤ</string>
<key>zB176</key><string>①</string>
<key>zB177</key><string>②</string>
<key>zB178</key><string>③</string>
<key>zB179</key><string>④</string>
<key>zB17A</key><string>⑤</string>
<key>zB17B</key><string>⑥</string>
<key>zB17C</key><string>⑦</string>
<key>zB17D</key><string>⑧</string>
<key>zB17E</key><string>⑨</string>
<key>zB221</key><string>⑩</string>
<key>zB222</key><string>⑪</string>
<key>zB223</key><string>⑫</string>
<key>zB224</key><string>⑬</string>
<key>zB225</key><string>⑭</string>
<key>zB226</key><string>⑮</string>
<key>zB227</key><string>⑯</string>
<key>zB228</key><string>⑰</string>
<key>zB229</key><string>⑱</string>
<key>zB22A</key><string>⑲</string>
<key>zB22B</key><string>⑳</string>
<key>zB22C</key><string>㉑</string>
<key>zB22D</key><string>㉒</string>
<key>zB22E</key><string>㉓</string>
<key>zB22F</key><string>㉔</string>
<key>zB230</key><string>㉕</string>
<key>zB231</key><string>㉖</string>
<key>zB232</key><string>㉗</string>
<key>zB233</key><string>㉘</string>
<key>zB234</key><string>㉙</string>
<key>zB235</key><string>㉚</string>
<key>zB236</key><string>㉛</string>
<key>zB237</key><string>㉜</string>
<key>zB238</key><string>㉝</string>
<key>zB239</key><string>㉞</string>
<key>zB23A</key><string>㉟</string>
<key>zB23B</key><string>㊱</string>
<key>zB23C</key><string>㊲</string>
<key>zB23D</key><string>㊳</string>
<key>zB23E</key><string>㊴</string>
<key>zB23F</key><string>㊵</string>
<key>zB240</key><string>㊶</string>
<key>zB241</key><string>㊷</string>
<key>zB242</key><string>㊸</string>
<key>zB243</key><string>㊹</string>
<key>zB244</key><string>㊺</string>
<key>zB245</key><string>㊻</string>
<key>zB246</key><string>㊼</string>
<key>zB247</key><string>㊽</string>
<key>zB248</key><string>㊾</string>
<key>zB249</key><string>㊿</string>
<key>zB253</key><string>㋐</string>
<key>zB254</key><string>㋑</string>
<key>zB255</key><string>㋒</string>
<key>zB256</key><string>㋓</string>
<key>zB257</key><string>㋔</string>
<key>zB258</key><string>㋕</string>
<key>zB259</key><string>㋖</string>
<key>zB25A</key><string>㋗</string>
<key>zB25B</key><string>㋘</string>
<key>zB25C</key><string>㋙</string>
<key>zB25D</key><string>㋚</string>
<key>zB25E</key><string>㋛</string>
<key>zB25F</key><string>㋜</string>
<key>zB260</key><string>㋝</string>
<key>zB261</key><string>㋞</string>
<key>zB262</key><string>㋟</string>
<key>zB263</key><string>㋠</string>
<key>zB264</key><string>㋡</string>
<key>zB265</key><string>㋢</string>
<key>zB26A</key><string>啞</string>
<key>zB26B</key><string>綠</string>
<key>zB26C</key><string>吞</string>
<key>zB26F</key><string>↔</string>
<key>zB272</key><string>頰</string>
<key>zB273</key><string>呍</string>
<key>zB274</key><string>簞</string>
<key>zB275</key><string>噓</string>
<key>zB276</key><string>鱏</string>
<key>zB277</key><string>鱝</string>
<key>zB278</key><string>搔</string>
<key>zB279</key><string>剝</string>
<key>zB27A</key><string>腭</string>
<key>zB27B</key><string>婕</string>
<key>zB27C</key><string>妤</string>
<key>zB27D</key><string>倦</string>
<key>zB27E</key><string>偓</string>
<key>zB321</key><string>嘲</string>
<key>zB322</key><string>卿</string>
<key>zB323</key><string>灬</string>
<key>zB324</key><string>俱</string>
<key>zB325</key><string>塡</string>
<key>zB326</key><string>鹼</string>
<key>zB327</key><string>蟬</string>
<key>zB329</key><string>蜑</string>
<key>zB32A</key><string>醬</string>
<key>zB32B</key><string>筵</string>
<key>zB32D</key><string>蠟</string>
<key>zB32F</key><string>筕</string>
<key>zB330</key><string>篖</string>
<key>zB331</key><string>蜱</string>
<key>zB332</key><string>梂</string>
<key>zB333</key><string>蘞</string>
<key>zB334</key><string>熅</string>
<key>zB336</key><string>俠</string>
<key>zB337</key><string>庖</string>
<key>zB338</key><string>鶍</string>
<key>zB339</key><string>鷗</string>
<key>zB33A</key><string>煠</string>
<key>zB33B</key><string>囊</string>
<key>zB33C</key><string>嚙</string>
<key>zB33D</key><string>賭</string>
<key>zB33E</key><string>逸</string>
<key>zB33F</key><string>屛</string>
<key>zB340</key><string>籾</string>
<key>zB341</key><string>禱</string>
<key>zB342</key><string>螈</string>
<key>zB343</key><string>櫛</string>
<key>zB344</key><string>鯎</string>
<key>zB345</key><string>梲</string>
<key>zB346</key><string>麵</string>
<key>zB347</key><string>鱓</string>
<key>zB349</key><string>厩</string>
<key>zB34B</key><string>鱁</string>
<key>zB34C</key><string>鮧</string>
<key>zB34D</key><string>醞</string>
<key>zB34E</key><string>潑</string>
<key>zB34F</key><string>瘦</string>
<key>zB350</key><string>謁</string>
<key>zB352</key><string>饗</string>
<key>zB353</key><string>緣</string>
<key>zB354</key><string>焰</string>
<key>zB355</key><string>壔</string>
<key>zB356</key><string>橫</string>
<key>zB357</key><string>盬</string>
<key>zB358</key><string>尩</string>
<key>zB359</key><string>摑</string>
<key>zB35A</key><string>瀆</string>
<key>zB35B</key><string>噯</string>
<key>zB35C</key><string>粔</string>
<key>zB35D</key><string>籹</string>
<key>zB35E</key><string>鰧</string>
<key>zB35F</key><string>腊</string>
<key>zB363</key><string>繫</string>
<key>zB364</key><string>溫</string>
<key>zB36A</key><string>禍</string>
<key>zB36B</key><string>悔</string>
<key>zB36C</key><string>海</string>
<key>zB36F</key><string>鸊</string>
<key>zB370</key><string>洄</string>
<key>zB372</key><string>辻</string>
<key>zB373</key><string>櫧</string>
<key>zB375</key><string>檝</string>
<key>zB376</key><string>檞</string>
<key>zB377</key><string>桛</string>
<key>zB378</key><string>顚</string>
<key>zB379</key><string>渴</string>
<key>zB37A</key><string>喝</string>
<key>zB37B</key><string>褐</string>
<key>zB37D</key><string>蚉</string>
<key>zB37E</key><string>魳</string>
<key>zB421</key><string>擤</string>
<key>zB422</key><string>麴</string>
<key>zB423</key><string>鱲</string>
<key>zB424</key><string>軀</string>
<key>zB425</key><string>繇</string>
<key>zB426</key><string>蔲</string>
<key>zB427</key><string>漢</string>
<key>zB428</key><string>寬</string>
<key>zB429</key><string>窠</string>
<key>zB42A</key><string>樏</string>
<key>zB42D</key><string>艹</string>
<key>zB42E</key><string>祈</string>
<key>zB430</key><string>器</string>
<key>zB431</key><string>嘻</string>
<key>zB432</key><string>豇</string>
<key>zB434</key><string>徽</string>
<key>zB437</key><string>虛</string>
<key>zB43A</key><string>挍</string>
<key>zB43B</key><string>憍</string>
<key>zB43C</key><string>彔</string>
<key>zB43E</key><string>袪</string>
<key>zB43F</key><string>蟖</string>
<key>zB440</key><string>驎</string>
<key>zB441</key><string>勤</string>
<key>zB442</key><string>謹</string>
<key>zB443</key><string>繡</string>
<key>zB444</key><string>槶</string>
<key>zB445</key><string>栱</string>
<key>zB446</key><string>睺</string>
<key>zB448</key><string>痀</string>
<key>zB44A</key><string>薰</string>
<key>zB44B</key><string>揭</string>
<key>zB44C</key><string>雞</string>
<key>zB44D</key><string>擊</string>
<key>zB44E</key><string>姸</string>
<key>zB44F</key><string>硏</string>
<key>zB450</key><string>撿</string>
<key>zB452</key><string>黃</string>
<key>zB454</key><string>鯁</string>
<key>zB455</key><string>辦</string>
<key>zB456</key><string>蠊</string>
<key>zB457</key><string>黑</string>
<key>zB458</key><string>穀</string>
<key>zB459</key><string>柿</string>
<key>zB45B</key><string>矻</string>
<key>zB45C</key><string>鰶</string>
<key>zB45E</key><string>顬</string>
<key>zB462</key><string>榨</string>
<key>zB463</key><string>皂</string>
<key>zB464</key><string>殺</string>
<key>zB465</key><string>鱵</string>
<key>zB466</key><string>蝲</string>
<key>zB467</key><string>樝</string>
<key>zB468</key><string>仐</string>
<key>zB46A</key><string>攙</string>
<key>zB46B</key><string>舢</string>
<key>zB46C</key><string>祉</string>
<key>zB46D</key><string>視</string>
<key>zB46E</key><string>鱪</string>
<key>zB46F</key><string>鱰</string>
<key>zB470</key><string>笧</string>
<key>zB471</key><string>梻</string>
<key>zB472</key><string>絓</string>
<key>zB473</key><string>湑</string>
<key>zB474</key><string>硨</string>
<key>zB475</key><string>磲</string>
<key>zB476</key><string>糈</string>
<key>zB477</key><string>屢</string>
<key>zB478</key><string>痹</string>
<key>zB479</key><string>稭</string>
<key>zB47A</key><string>萊</string>
<key>zB47B</key><string>楉</string>
<key>zB47C</key><string>社</string>
<key>zB47D</key><string>者</string>
<key>zB47E</key><string>煮</string>
<key>zB521</key><string>噦</string>
<key>zB522</key><string>涮</string>
<key>zB523</key><string>臭</string>
<key>zB524</key><string>祝</string>
<key>zB525</key><string>驒</string>
<key>zB526</key><string>暑</string>
<key>zB527</key><string>署</string>
<key>zB528</key><string>緖</string>
<key>zB529</key><string>諸</string>
<key>zB52A</key><string>祥</string>
<key>zB52B</key><string>涉</string>
<key>zB52C</key><string>狀</string>
<key>zB52D</key><string>﨟</string>
<key>zB52E</key><string>弴</string>
<key>zB52F</key><string>胳</string>
<key>zB530</key><string>神</string>
<key>zB531</key><string>糝</string>
<key>zB532</key><string>籡</string>
<key>zB533</key><string>搢</string>
<key>zB535</key><string>捗</string>
<key>zB536</key><string>辶</string>
<key>zB537</key><string>涎</string>
<key>zB538</key><string>氵</string>
<key>zB53C</key><string>蜾</string>
<key>zB53D</key><string>蠃</string>
<key>zB53E</key><string>苆</string>
<key>zB540</key><string>腁</string>
<key>zB541</key><string>瀨</string>
<key>zB542</key><string>鮬</string>
<key>zB543</key><string>挵</string>
<key>zB545</key><string>萁</string>
<key>zB546</key><string>祖</string>
<key>zB547</key><string>僧</string>
<key>zB548</key><string>層</string>
<key>zB549</key><string>巢</string>
<key>zB54A</key><string>增</string>
<key>zB54B</key><string>憎</string>
<key>zB54C</key><string>贈</string>
<key>zB54D</key><string>蔣</string>
<key>zB54E</key><string>卽</string>
<key>zB54F</key><string>叛</string>
<key>zB550</key><string>麽</string>
<key>zB551</key><string>祆</string>
<key>zB552</key><string>瑇</string>
<key>zB554</key><string>炷</string>
<key>zB555</key><string>跑</string>
<key>zB556</key><string>鱮</string>
<key>zB557</key><string>蟎</string>
<key>zB558</key><string>毗</string>
<key>zB559</key><string>攩</string>
<key>zB55A</key><string>楤</string>
<key>zB55B</key><string>棰</string>
<key>zB55C</key><string>疒</string>
<key>zB55D</key><string>嘆</string>
<key>zB55E</key><string>著</string>
<key>zB55F</key><string>癤</string>
<key>zB560</key><string>徵</string>
<key>zB561</key><string>懲</string>
<key>zB562</key><string>都</string>
<key>zB563</key><string>塚</string>
<key>zB565</key><string>橐</string>
<key>zB566</key><string>彽</string>
<key>zB567</key><string>跆</string>
<key>zB568</key><string>鈸</string>
<key>zB569</key><string>鵇</string>
<key>zB56A</key><string>德</string>
<key>zB56B</key><string>蕺</string>
<key>zB56C</key><string>突</string>
<key>zB56D</key><string>縕</string>
<key>zB56E</key><string>梣</string>
<key>zB56F</key><string>蜓</string>
<key>zB573</key><string>難</string>
<key>zB574</key><string>你</string>
<key>zB575</key><string>鮸</string>
<key>zB576</key><string>鵼</string>
<key>zB577</key><string>邌</string>
<key>zB57A</key><string>蛽</string>
<key>zB57B</key><string>梅</string>
<key>zB57C</key><string>蘩</string>
<key>zB57D</key><string>蔞</string>
<key>zB57E</key><string>鱩</string>
<key>zB621</key><string>醱</string>
<key>zB622</key><string>糗</string>
<key>zB623</key><string>麨</string>
<key>zB624</key><string>鎺</string>
<key>zB625</key><string>魬</string>
<key>zB626</key><string>繁</string>
<key>zB627</key><string>晚</string>
<key>zB628</key><string>碑</string>
<key>zB629</key><string>卑</string>
<key>zB62A</key><string>穇</string>
<key>zB62B</key><string>骶</string>
<key>zB62C</key><string>篊</string>
<key>zB62D</key><string>瘭</string>
<key>zB62F</key><string>賓</string>
<key>zB630</key><string>頻</string>
<key>zB631</key><string>甁</string>
<key>zB632</key><string>敏</string>
<key>zB633</key><string>步</string>
<key>zB634</key><string>侮</string>
<key>zB635</key><string>韛</string>
<key>zB636</key><string>丰</string>
<key>zB638</key><string>袘</string>
<key>zB639</key><string>福</string>
<key>zB63A</key><string>麬</string>
<key>zB63C</key><string>橅</string>
<key>zB63D</key><string>塀</string>
<key>zB63E</key><string>倂</string>
<key>zB63F</key><string>逬</string>
<key>zB640</key><string>厴</string>
<key>zB642</key><string>扌</string>
<key>zB643</key><string>勉</string>
<key>zB648</key><string>騈</string>
<key>zB649</key><string>牓</string>
<key>zB64A</key><string>餺</string>
<key>zB64B</key><string>飥</string>
<key>zB64C</key><string>孒</string>
<key>zB64D</key><string>鮄</string>
<key>zB64E</key><string>墨</string>
<key>zB64F</key><string>濹</string>
<key>zB650</key><string>埵</string>
<key>zB651</key><string>枘</string>
<key>zB653</key><string>每</string>
<key>zB654</key><string>鯧</string>
<key>zB655</key><string>眶</string>
<key>zB658</key><string>裑</string>
<key>zB659</key><string>虯</string>
<key>zB65A</key><string>鼯</string>
<key>zB65B</key><string>挘</string>
<key>zB65C</key><string>鯥</string>
<key>zB65E</key><string>晳</string>
<key>zB65F</key><string>眴</string>
<key>zB660</key><string>免</string>
<key>zB661</key><string>踠</string>
<key>zB662</key><string>捥</string>
<key>zB663</key><string>鼹</string>
<key>zB664</key><string>蠆</string>
<key>zB665</key><string>簎</string>
<key>zB666</key><string>矠</string>
<key>zB667</key><string>簶</string>
<key>zB668</key><string>俏</string>
<key>zB669</key><string>梘</string>
<key>zB66A</key><string>賴</string>
<key>zB66B</key><string>欄</string>
<key>zB66C</key><string>隆</string>
<key>zB66D</key><string>虜</string>
<key>zB66E</key><string>摹</string>
<key>zB66F</key><string>類</string>
<key>zB670</key><string>淚</string>
<key>zB671</key><string>戾</string>
<key>zB672</key><string>曆</string>
<key>zB673</key><string>歷</string>
<key>zB674</key><string>練</string>
<key>zB675</key><string>鍊</string>
<key>zB676</key><string>廊</string>
<key>zB677</key><string>郞</string>
<key>zB678</key><string>膅</string>
<key>zB679</key><string>痎</string>
<key>zB67A</key><string>玕</string>
<key>zB67E</key><string>錄</string>
<key>zB721</key><string>鰙</string>
<key>zB722</key><string>鷉</string>
<key>zB726</key><string>扁</string>
<key>zB727</key><string>溺</string>
<key>zB728</key><string>逢</string>
<key>zB729</key><string>瀕</string>
<key>zB72A</key><string>翫</string>
<key>zB72B</key><string>遜</string>
<key>zB72C</key><string>鞘</string>
<key>zB72D</key><string>槌</string>
<key>zB72E</key><string>鎚</string>
<key>zB730</key><string>牙</string>
<key>zB731</key><string>噌</string>
<key>zB732</key><string>餅</string>
<key>zB733</key><string>煽</string>
<key>zB734</key><string>汲</string>
<key>zB735</key><string>鰯</string>
<key>zB737</key><string>錆</string>
<key>zB738</key><string>翰</string>
<key>zB739</key><string>煎</string>
<key>zB73A</key><string>薩</string>
<key>zB73B</key><string>箸</string>
<key>zB73C</key><string>襖</string>
<key>zB73D</key><string>簾</string>
<key>zB73E</key><string>晦</string>
<key>zB73F</key><string>蓬</string>
<key>zB740</key><string>芦</string>
<key>zB741</key><string>摺</string>
<key>zB742</key><string>巷</string>
<key>zB744</key><string>逼</string>
<key>zB745</key><string>葛</string>
<key>zB748</key><string>溢</string>
<key>zB749</key><string>鴉</string>
<key>zB74A</key><string>穿</string>
<key>zB74B</key><string>迦</string>
<key>zB74C</key><string>樋</string>
<key>zB74D</key><string>餌</string>
<key>zB74E</key><string>飴</string>
<key>zB74F</key><string>淫</string>
<key>zB750</key><string>謬</string>
<key>zB751</key><string>煉</string>
<key>zB752</key><string>這</string>
<key>zB753</key><string>堵</string>
<key>zB754</key><string>蛸</string>
<key>zB755</key><string>捲</string>
<key>zB756</key><string>兎</string>
<key>zB757</key><string>屑</string>
<key>zB758</key><string>瞥</string>
<key>zB759</key><string>屠</string>
<key>zB75A</key><string>蔽</string>
<key>zB75B</key><string>篇</string>
<key>zB75C</key><string>謎</string>
<key>zB75D</key><string>歎</string>
<key>zB75E</key><string>艘</string>
<key>zB75F</key><string>牌</string>
<key>zB760</key><string>訝</string>
<key>zB761</key><string>薯</string>
<key>zB762</key><string>藷</string>
<key>zB763</key><string>愈</string>
<key>zB764</key><string>遁</string>
<key>zB767</key><string>廟</string>
<key>zB768</key><string>迂</string>
<key>zB769</key><string>噂</string>
<key>zB76B</key><string>疼</string>
<key>zB76C</key><string>腿</string>
<key>zB76D</key><string>諺</string>
<key>zB76F</key><string>娩</string>
<key>zB771</key><string>撰</string>
<key>zB772</key><string>冤</string>
<key>zB773</key><string>鵠</string>
<key>zB774</key><string>笈</string>
<key>zB775</key><string>蝕</string>
<key>zB776</key><string>鯖</string>
<key>zB777</key><string>揃</string>
<key>zB778</key><string>鞄</string>
<key>zB779</key><string>秤</string>
<key>zB77A</key><string>樽</string>
<key>zB77C</key><string>恢</string>
<key>zB77D</key><string>篝</string>
<key>zB823</key><string>儲</string>
<key>zB824</key><string>騙</string>
<key>zB826</key><string>灘</string>
<key>zB827</key><string>祇</string>
<key>zB829</key><string>箭</string>
<key>zB82B</key><string>僅</string>
<key>zB82E</key><string>鑓</string>
<key>zB830</key><string>芒</string>
<key>zB833</key><string>甑</string>
<key>zB836</key><string>榊</string>
<key>zB837</key><string>遡</string>
<key>zB838</key><string>漣</string>
<key>zB83A</key><string>叟</string>
<key>zB83C</key><string>酋</string>
<key>zB83D</key><string>哨</string>
<key>zB840</key><string>鱒</string>
<key>zB841</key><string>稗</string>
<key>zB843</key><string>逗</string>
<key>zB844</key><string>辿</string>
<key>zB845</key><string>鄭</string>
<key>zB847</key><string>擢</string>
<key>zB848</key><string>瀞</string>
<key>zB84A</key><string>楢</string>
<key>zB84B</key><string>禰</string>
<key>zB84C</key><string>榔</string>
<key>zB851</key><string>迄</string>
<key>zB852</key><string>餛</string>
<key>zB853</key><string>蠔</string>
<key>zB854</key><string>蝤</string>
<key>zB855</key><string>蛑</string>
<key>zB856</key><string>坷</string>
<key>zB857</key><string>獱</string>
<key>zB858</key><string>唖</string>
<key>zB859</key><string>掻</string>
<key>zB85A</key><string>噛</string>
<key>zB85B</key><string>鴎</string>
<key>zB85C</key><string>祷</string>
<key>zB85D</key><string>麹</string>
<key>zB85E</key><string>繍</string>
<key>zB85F</key><string>醤</string>
<key>zB860</key><string>鹸</string>
<key>zB862</key><string>屏</string>
<key>zB863</key><string>犛</string>
<key>zB864</key><string>蝋</string>
<key>zB865</key><string>沪</string>
<key>zB86A</key><string>菇</string>
<key>zB86E</key><string>殂</string>
<key>zB87E</key><string>｟</string>
<key>zB921</key><string>｠</string>
<key>zB922</key><string>［</string>
<key>zB923</key><string>］</string>
<key>zB924</key><string>〖</string>
<key>zB925</key><string>〗</string>
<key>zB93F</key><string>〈</string>
<key>zB940</key><string>〉</string>
<key>hA134</key><string> </string>
<key>hA137</key><string> </string>
<key>zB135</key><string>㉑</string>
<key>zB136</key><string>㉒</string>
<key>zB137</key><string>㉓</string>
<key>zB138</key><string>㉔</string>
<key>zB139</key><string>㉕</string>
<key>zB13A</key><string>㉖</string>
<key>zB13B</key><string>㉗</string>
<key>zB13C</key><string>㉘</string>
<key>zB13D</key><string>㉙</string>
<key>zB13E</key><string>㉚</string>
<key>zB13F</key><string>㉫</string>
<key>zB140</key><string>㉼</string>
<key>zB141</key><string>㊍</string>
<key>zB142</key><string>㊞</string>
<key>zB143</key><string>㌏</string>
<key>zB144</key><string>㊱</string>
<key>zB145</key><string>㊲</string>
<key>zB146</key><string>㊳</string>
<key>zB147</key><string>㊴</string>
<key>zB148</key><string>㊵</string>
<key>zB149</key><string>㊶</string>
<key>zB14A</key><string>㊷</string>
<key>zB14B</key><string>㊸</string>
<key>zB14C</key><string>㊹</string>
<key>zB14D</key><string>㊺</string>
<key>zB14E</key><string>㊻</string>
<key>zB14F</key><string>㊼</string>
<key>zB150</key><string>㊽</string>
<key>zB151</key><string>㊾</string>
<key>zB152</key><string>㊿</string>
<key>zB153</key><string>51</string>
<key>zB154</key><string>52</string>
<key>zB155</key><string>53</string>
<key>zB156</key><string>54</string>
<key>zB157</key><string>55</string>
<key>zB158</key><string>56</string>
<key>zB159</key><string>57</string>
<key>zB15A</key><string>58</string>
<key>zB15B</key><string>59</string>
<key>zB15C</key><string>㋐</string>
<key>zB15D</key><string>㋑</string>
<key>zB15E</key><string>㋒</string>
<key>zB15F</key><string>㋓</string>
<key>zB160</key><string>㋔</string>
<key>zB161</key><string>㋕</string>
<key>zB162</key><string>㋖</string>
<key>zB163</key><string>㋗</string>
<key>zB164</key><string>㋘</string>
<key>zB165</key><string>㋙</string>
<key>zB166</key><string>㋚</string>
<key>zB167</key><string>㋛</string>
<key>zB168</key><string>㋜</string>
<key>zB169</key><string>㋝</string>
<key>zB16A</key><string>㋞</string>
<key>zB16B</key><string>㋟</string>
<key>zB16C</key><string>㋠</string>
<key>zB16D</key><string>㋡</string>
<key>zB16E</key><string>㋢</string>
<key>zB16F</key><string>㋣</string>
<key>zB170</key><string>㋤</string>
<key>zB171</key><string>㋥</string>
<key>zB172</key><string>㈠</string>
<key>zB173</key><string>㈡</string>
<key>zB174</key><string>㈢</string>
<key>zB175</key><string>㈣</string>
<key>zB24A</key><string>51</string>
<key>zB24B</key><string>52</string>
<key>zB24C</key><string>53</string>
<key>zB24D</key><string>54</string>
<key>zB24E</key><string>55</string>
<key>zB24F</key><string>56</string>
<key>zB250</key><string>57</string>
<key>zB251</key><string>58</string>
<key>zB252</key><string>59</string>
<key>zB266</key><string>㊀</string>
<key>zB267</key><string>㊁</string>
<key>zB268</key><string>㊂</string>
<key>zB269</key><string>㊃</string>
<key>zB26D</key><string>𠤎</string>
<key>zB26E</key><string>❖</string>
<key>zB270</key><string>〘</string>
<key>zB271</key><string>〙</string>
<key>zB328</key><string>蚜</string>
<key>zB32C</key><string>𩺊</string>
<key>zB32E</key><string>〓</string>
<key>zB335</key><string>嚮</string>
<key>zB348</key><string>叱</string>
<key>zB34A</key><string>√</string>
<key>zB360</key><string>〻</string>
<key>zB361</key><string>〳</string>
<key>zB362</key><string>〵</string>
<key>zB365</key><string>〝</string>
<key>zB366</key><string>゜</string>
<key>zB369</key><string>♩</string>
<key>zB36D</key><string>槪</string>
<key>zB36E</key><string>慨</string>
<key>zB374</key><string>℉</string>
<key>zB37C</key><string>₁</string>
<key>zB42B</key><string>车</string>
<key>zB42C</key><string>门</string>
<key>zB42F</key><string>旣</string>
<key>zB433</key><string>㐂</string>
<key>zB435</key><string>蕈</string>
<key>zB436</key><string>〻</string>
<key>zB438</key><string>鄕</string>
<key>zB439</key><string>響</string>
<key>zB43D</key><string>椂</string>
<key>zB447</key><string>♣</string>
<key>zB449</key><string>＜</string>
<key>zB453</key><string>筓</string>
<key>zB45A</key><string>𣏕</string>
<key>zB45D</key><string>©</string>
<key>zB45F</key><string>∛</string>
<key>zB460</key><string>∜</string>
<key>zB461</key><string>・</string>
<key>zB469</key><string>篡</string>
<key>zB534</key><string>邃</string>
<key>zB539</key><string>Ⅰ</string>
<key>zB53A</key><string>Ⅱ</string>
<key>zB53B</key><string>Ⅲ</string>
<key>zB53F</key><string>♠</string>
<key>zB544</key><string>節</string>
<key>zB553</key><string>♦</string>
<key>zB564</key><string>鐔</string>
<key>zB570</key><string>拋</string>
<key>zB571</key><string>♮</string>
<key>zB579</key><string>♥</string>
<key>zB62E</key><string>顖</string>
<key>zB641</key><string>木</string>
<key>zB652</key><string>𩸽</string>
<key>zB656</key><string>©</string>
<key>zB657</key><string>㊙</string>
<key>zB65D</key><string>鋲</string>
<key>zB67B</key><string>Ⅳ</string>
<key>zB67C</key><string>Ⅴ</string>
<key>zB67D</key><string>Ⅹ</string>
<key>zB724</key><string>鸟</string>
<key>zB725</key><string>諛</string>
<key>zB72F</key><string>媾</string>
<key>zB736</key><string>捩</string>
<key>zB743</key><string>娜</string>
<key>zB746</key><string>鱈</string>
<key>zB747</key><string>嫂</string>
<key>zB76A</key><string>菟</string>
<key>zB76E</key><string>蟒</string>
<key>zB770</key><string>箙</string>
<key>zB77B</key><string>綮</string>
<key>zB77E</key><string>縢</string>
<key>zB821</key><string>籐</string>
<key>zB822</key><string>綛</string>
<key>zB825</key><string>簪</string>
<key>zB828</key><string>覯</string>
<key>zB82A</key><string>螽</string>
<key>zB82C</key><string>髯</string>
<key>zB82D</key><string>扈</string>
<key>zB82F</key><string>廠</string>
<key>zB831</key><string>蝙</string>
<key>zB832</key><string>磔</string>
<key>zB834</key><string>谺</string>
<key>zB835</key><string>鮗</string>
<key>zB839</key><string>蠺</string>
<key>zB83B</key><string>硼</string>
<key>zB83E</key><string>稱</string>
<key>zB83F</key><string>苒</string>
<key>zB842</key><string>搜</string>
<key>zB846</key><string>韜</string>
<key>zB849</key><string>梛</string>
<key>zB84D</key><string>唳</string>
<key>zB84E</key><string>翩</string>
<key>zB84F</key><string>繃</string>
<key>zB850</key><string>喞</string>
<key>zB861</key><string>莽</string>
<key>zB866</key><string>餌</string>
<key>zB867</key><string>牙</string>
<key>zB868</key><string>遡</string>
<key>zB869</key><string>遜</string>
<key>zB86B</key><string>謎</string>
<key>zB86C</key><string>𩊠</string>
<key>zB86D</key><string>餅</string>
<key>zB86F</key><string>＞</string>
<key>zB870</key><string>⅓</string>
<key>zB871</key><string>¼</string>
<key>zB873</key><string>√-1</string>
<key>zB87B</key><string>a/b</string>
<key>zB87C</key><string>　</string>
<key>zB87D</key><string>　</string>
<key>zB926</key><string>⑴</string>
<key>zB927</key><string>⑵</string>
<key>zB928</key><string>⑶</string>
<key>zB929</key><string>⑷</string>
<key>zB92A</key><string>⑸</string>
<key>zB92B</key><string>⑹</string>
<key>zB92C</key><string>⑺</string>
<key>zB92D</key><string>表記</string>
<key>zB92E</key><string>語法</string>
<key>zB92F</key><string>表現</string>
<key>zB930</key><string>　</string>
<key>zB931</key><string>語源</string>
<key>zB932</key><string>注意</string>
<key>zB933</key><string>[数]</string>
<key>zB934</key><string>[文]</string>
<key>zB935</key><string>可能</string>
<key>zB936</key><string>派生</string>
<key>zB937</key><string>[名]</string>
<key>zB938</key><string>[動]</string>
<key>zB939</key><string>[旧]</string>
<key>zB93A</key><string>識別</string>
<key>zB93B</key><string>早引き</string>
<key>zB93C</key><string>[誤]</string>
<key>zB93D</key><string>[敬]</string>
<key>zB93E</key><string>[気]</string>
<key>zB941</key><string>〘</string>
<key>zB942</key><string>〙</string>
<key>zC121</key><string>識別</string>
<key>zC122</key><string></string>
<key>zC123</key><string></string>
<key>zC124</key><string>早引き</string>
<key>zC125</key><string></string>
<key>zC126</key><string></string>
</dict>
</plist>
