<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA12D</key><string>Á</string>
<key>hA12E</key><string>á</string>
<key>hA12F</key><string>À</string>
<key>hA130</key><string>à</string>
<key>hA131</key><string>Ā</string>
<key>hA132</key><string>ā</string>
<key>hA133</key><string>Â</string>
<key>hA134</key><string>â</string>
<key>hA136</key><string>Ä</string>
<key>hA137</key><string>ä</string>
<key>hA138</key><string>Ã</string>
<key>hA139</key><string>ã</string>
<key>hA13A</key><string>Å</string>
<key>hA13B</key><string>å</string>
<key>hA13C</key><string>Æ</string>
<key>hA13D</key><string>æ</string>
<key>hA13E</key><string>Ą</string>
<key>hA13F</key><string>ą</string>
<key>hA140</key><string>Ć</string>
<key>hA141</key><string>ć</string>
<key>hA142</key><string>Č</string>
<key>hA143</key><string>č</string>
<key>hA146</key><string>Ç</string>
<key>hA147</key><string>ç</string>
<key>hA14A</key><string>Đ</string>
<key>hA14B</key><string>đ</string>
<key>hA14D</key><string>É</string>
<key>hA14E</key><string>é</string>
<key>hA14F</key><string>È</string>
<key>hA150</key><string>è</string>
<key>hA151</key><string>Ē</string>
<key>hA152</key><string>ē</string>
<key>hA153</key><string>Ê</string>
<key>hA154</key><string>ê</string>
<key>hA155</key><string>Ě</string>
<key>hA156</key><string>ě</string>
<key>hA157</key><string>Ë</string>
<key>hA158</key><string>ë</string>
<key>hA15D</key><string>ħ</string>
<key>hA160</key><string>Í</string>
<key>hA161</key><string>í</string>
<key>hA162</key><string>Ì</string>
<key>hA163</key><string>ì</string>
<key>hA164</key><string>Ī</string>
<key>hA165</key><string>ī</string>
<key>hA166</key><string>Î</string>
<key>hA167</key><string>î</string>
<key>hA168</key><string>Ï</string>
<key>hA169</key><string>ï</string>
<key>hA16A</key><string>I</string>
<key>hA16B</key><string>ı</string>
<key>hA16C</key><string>Ĺ</string>
<key>hA16D</key><string>ĺ</string>
<key>hA16E</key><string>Ł</string>
<key>hA16F</key><string>ł</string>
<key>hA172</key><string>Ń</string>
<key>hA173</key><string>ń</string>
<key>hA176</key><string>Ñ</string>
<key>hA177</key><string>ñ</string>
<key>hA17A</key><string>Ó</string>
<key>hA17B</key><string>ó</string>
<key>hA17C</key><string>Ò</string>
<key>hA17D</key><string>ò</string>
<key>hA17E</key><string>Ō</string>
<key>hA221</key><string>ō</string>
<key>hA222</key><string>Ô</string>
<key>hA223</key><string>ô</string>
<key>hA224</key><string>Ö</string>
<key>hA225</key><string>ö</string>
<key>hA226</key><string>Õ</string>
<key>hA227</key><string>õ</string>
<key>hA228</key><string>Ø</string>
<key>hA229</key><string>ø</string>
<key>hA22A</key><string>Ő</string>
<key>hA22B</key><string>ő</string>
<key>hA22E</key><string>Œ</string>
<key>hA22F</key><string>œ</string>
<key>hA230</key><string>Ŕ</string>
<key>hA231</key><string>ŕ</string>
<key>hA232</key><string>Ř</string>
<key>hA233</key><string>ŕ</string>
<key>hA235</key><string>Ś</string>
<key>hA236</key><string>ś</string>
<key>hA237</key><string>Š</string>
<key>hA238</key><string>š</string>
<key>hA239</key><string>Ş</string>
<key>hA23A</key><string>ş</string>
<key>hA23D</key><string>Ţ</string>
<key>hA23E</key><string>ţ</string>
<key>hA241</key><string>Ú</string>
<key>hA242</key><string>ú</string>
<key>hA243</key><string>Ù</string>
<key>hA244</key><string>ù</string>
<key>hA245</key><string>Ū</string>
<key>hA246</key><string>ū</string>
<key>hA247</key><string>Ü</string>
<key>hA248</key><string>ü</string>
<key>hA249</key><string>Ů</string>
<key>hA24A</key><string>ů</string>
<key>hA24B</key><string>Ű</string>
<key>hA24C</key><string>ű</string>
<key>hA24E</key><string>Ý</string>
<key>hA24F</key><string>ý</string>
<key>hA251</key><string>Ź</string>
<key>hA252</key><string>ź</string>
<key>hA254</key><string>Ž</string>
<key>hA255</key><string>ž</string>
<key>zA73A</key><string>Ⅳ</string>
<key>zA73B</key><string>Ⅱ</string>
<key>zA73C</key><string>Ⅴ</string>
<key>zA73D</key><string>Ⅲ</string>
<key>zA73E</key><string>Ⅰ</string>
<key>zA741</key><string>Ⅻ</string>
<key>zA742</key><string>Ⅹ</string>
<key>zA743</key><string>Ⅷ</string>
<key>zA744</key><string>Ⅵ</string>
<key>zA747</key><string>Ⅺ</string>
<key>zA748</key><string>Ⅸ</string>
<key>zA749</key><string>Ⅶ</string>
</dict>
</plist>
