<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA121</key><string>ː</string>
<key>hA122</key><string>Á</string>
<key>hA123</key><string>À</string>
<key>hA124</key><string>ă</string>
<key>hA125</key><string>á</string>
<key>hA126</key><string>à</string>
<key>hA127</key><string>ä</string>
<key>hA128</key><string>â</string>
<key>hA129</key><string>ā</string>
<key>hA12A</key><string>ã</string>
<key>hA12B</key><string>É</string>
<key>hA12C</key><string>È</string>
<key>hA12D</key><string>é</string>
<key>hA12E</key><string>è</string>
<key>hA12F</key><string>ë</string>
<key>hA130</key><string>ê</string>
<key>hA131</key><string>ē</string>
<key>hA132</key><string>Í</string>
<key>hA133</key><string>Ì</string>
<key>hA134</key><string>ı</string>
<key>hA135</key><string>í</string>
<key>hA136</key><string>ì</string>
<key>hA137</key><string>ï</string>
<key>hA138</key><string>î</string>
<key>hA139</key><string>ī</string>
<key>hA13A</key><string>Ḿ</string>
<key>hA13B</key><string>M̀</string>
<key>hA13C</key><string>m̥</string>
<key>hA13D</key><string>ñ</string>
<key>hA13E</key><string>Ó</string>
<key>hA13F</key><string>Ò</string>
<key>hA140</key><string>Ō</string>
<key>hA141</key><string>ó</string>
<key>hA142</key><string>ò</string>
<key>hA143</key><string>ö</string>
<key>hA144</key><string>ô</string>
<key>hA145</key><string>ō</string>
<key>hA146</key><string>T́</string>
<key>hA147</key><string>Ú</string>
<key>hA148</key><string>Ù</string>
<key>hA149</key><string>ú</string>
<key>hA14A</key><string>ù</string>
<key>hA14B</key><string>ü</string>
<key>hA14C</key><string>ū</string>
<key>hA14D</key><string>V́</string>
<key>hA14E</key><string>V̀</string>
<key>hA14F</key><string>ý</string>
<key>hA150</key><string>ỳ</string>
<key>hA152</key><string>ɑ</string>
<key>hA153</key><string>ɑ́</string>
<key>hA154</key><string>ɑ̀</string>
<key>hA156</key><string>ɑ̃</string>
<key>hA157</key><string>ɔ</string>
<key>hA158</key><string>ɔ́</string>
<key>hA159</key><string>ɔ̀</string>
<key>hA15A</key><string>ɔ̃</string>
<key>hA15C</key><string>ʌ</string>
<key>hA15D</key><string>ʌ́</string>
<key>hA15E</key><string>ʌ̀</string>
<key>hA15F</key><string>ʌ̃</string>
<key>hA160</key><string>ə</string>
<key>hA161</key><string>ə́</string>
<key>hA162</key><string>ə̀</string>
<key>hA163</key><string>ə̃</string>
<key>hA164</key><string>ɛ</string>
<key>hA165</key><string>ɛ́</string>
<key>hA166</key><string>ɛ̀</string>
<key>hA167</key><string>ɡ</string>
<key>hA168</key><string>θ</string>
<key>hA169</key><string>ð</string>
<key>hA16A</key><string>ʃ</string>
<key>hA16B</key><string>ʒ</string>
<key>hA16C</key><string>ŋ</string>
<key>hA16D</key><string>ɚ</string>
<key>hA16E</key><string>ɯ</string>
<key>hA171</key><string>~</string>
<key>hA172</key><string>'</string>
<key>hA174</key><string>ˉ</string>
<key>zA123</key><string>〖</string>
<key>zA124</key><string>〗</string>
<key>zA12A</key><string>＜</string>
<key>zA12B</key><string>＞</string>
<key>zA12D</key><string>♭</string>
<key>zA12F</key><string>¶</string>
<key>zA134</key><string>√</string>
<key>zA13A</key><string>∧</string>
<key>zA13D</key><string>Æ</string>
<key>zA140</key><string>æ</string>
<key>zA141</key><string>ǽ</string>
<key>zA142</key><string>æ̀</string>
<key>zA143</key><string>æ̃</string>
<key>zA145</key><string>œ</string>
<key>zA146</key><string>ʧ</string>
<key>zA147</key><string>ʤ</string>
<key>zA14B</key><string>©</string>
<key>zA175</key><string>―</string>
<key>zA176</key><string>‐</string>
<key>zA177</key><string>Ⅰ</string>
<key>zA178</key><string>Ⅱ</string>
<key>zA179</key><string>Ⅲ</string>
<key>zA17A</key><string>Ⅳ</string>
<key>zA17B</key><string>Ⅴ</string>
<key>zA17C</key><string>Ⅵ</string>
<key>zA17D</key><string>Ⅶ</string>
<key>zA17E</key><string>Ⅷ</string>
</dict>
</plist>
