<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA121</key><string>Ā</string>
<key>hA122</key><string>ǎ</string>
<key>hA123</key><string>à</string>
<key>hA124</key><string>ā</string>
<key>hA125</key><string>á</string>
<key>hA126</key><string>ã</string>
<key>hA127</key><string>é</string>
<key>hA128</key><string>ě</string>
<key>hA129</key><string>ē</string>
<key>hA12A</key><string>è</string>
<key>hA12B</key><string>ë</string>
<key>hA12C</key><string>ề</string>
<key>hA12D</key><string>ī</string>
<key>hA12E</key><string>ì</string>
<key>hA12F</key><string>í</string>
<key>hA130</key><string>ǐ</string>
<key>hA131</key><string>ç</string>
<key>hA132</key><string>ḍ</string>
<key>hA133</key><string>ṇ</string>
<key>hA134</key><string>ñ</string>
<key>hA135</key><string>ū</string>
<key>hA136</key><string>ǔ</string>
<key>hA137</key><string>ù</string>
<key>hA138</key><string>ú</string>
<key>hA139</key><string>ǜ</string>
<key>hA13A</key><string>ǚ</string>
<key>hA13B</key><string>ǘ</string>
<key>hA13C</key><string>ü</string>
<key>hA13D</key><string>ó</string>
<key>hA13E</key><string>ò</string>
<key>hA13F</key><string>ō</string>
<key>hA140</key><string>ǒ</string>
<key>hA141</key><string>ṅ</string>
<key>hA142</key><string>ḥ</string>
<key>hA143</key><string>ṃ</string>
<key>hA144</key><string>ṛ</string>
<key>hA145</key><string>ṣ</string>
<key>hA146</key><string>ṭ</string>
<key>hA147</key><string>ś</string>
<key>hA148</key><string>ə</string>
<key>zC73F</key><string>☰</string>
<key>zC740</key><string>☴</string>
<key>zC741</key><string>☲</string>
<key>zC742</key><string>☶</string>
<key>zC743</key><string>☱</string>
<key>zC744</key><string>☵</string>
<key>zC745</key><string>☳</string>
<key>zC746</key><string>☷</string>
</dict>
</plist>
