<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>ha128</key><string>~</string>
<key>ha12c</key><string>ʤ</string>
<key>ha12d</key><string>-</string>
<key>ha132</key><string>̄</string>
<key>ha135</key><string>*</string>
<key>ha138</key><string>Á</string>
<key>ha139</key><string>É</string>
<key>ha13a</key><string>Í</string>
<key>ha13b</key><string>Ó</string>
<key>ha13c</key><string>Ú</string>
<key>ha13d</key><string>Ý</string>
<key>ha13e</key><string>á</string>
<key>ha13f</key><string>é</string>
<key>ha140</key><string>í</string>
<key>ha141</key><string>ó</string>
<key>ha142</key><string>ú</string>
<key>ha143</key><string>ý</string>
<key>ha144</key><string>Á</string>
<key>ha145</key><string>É</string>
<key>ha146</key><string>Í</string>
<key>ha147</key><string>Ó</string>
<key>ha148</key><string>Ú</string>
<key>ha14a</key><string>á</string>
<key>ha14b</key><string>é</string>
<key>ha14c</key><string>í</string>
<key>ha14d</key><string>ó</string>
<key>ha14e</key><string>ú</string>
<key>ha14f</key><string>ý</string>
<key>ha161</key><string>À</string>
<key>ha162</key><string>È</string>
<key>ha167</key><string>à</string>
<key>ha168</key><string>è</string>
<key>ha169</key><string>ì</string>
<key>ha16a</key><string>ò</string>
<key>ha16b</key><string>ù</string>
<key>ha16e</key><string>À</string>
<key>ha16f</key><string>È</string>
<key>ha170</key><string>Ì</string>
<key>ha171</key><string>Ò</string>
<key>ha172</key><string>Ù</string>
<key>ha174</key><string>à</string>
<key>ha175</key><string>è</string>
<key>ha176</key><string>ì</string>
<key>ha177</key><string>ò</string>
<key>ha178</key><string>ù</string>
<key>ha17c</key><string>Ä</string>
<key>ha221</key><string>Ö</string>
<key>ha222</key><string>Ü</string>
<key>ha224</key><string>ä</string>
<key>ha225</key><string>ë</string>
<key>ha226</key><string>ï</string>
<key>ha227</key><string>ö</string>
<key>ha228</key><string>ü</string>
<key>ha229</key><string>ÿ</string>
<key>ha22b</key><string>Â</string>
<key>ha22c</key><string>Ê</string>
<key>ha22d</key><string>Î</string>
<key>ha230</key><string>â</string>
<key>ha231</key><string>ê</string>
<key>ha232</key><string>î</string>
<key>ha233</key><string>ô</string>
<key>ha234</key><string>û</string>
<key>ha235</key><string>ā</string>
<key>ha236</key><string>ē</string>
<key>ha237</key><string>ī</string>
<key>ha238</key><string>ō</string>
<key>ha239</key><string>ū</string>
<key>ha23b</key><string>̧</string>
<key>ha23c</key><string>Ç</string>
<key>ha23d</key><string>ç</string>
<key>ha259</key><string>̃</string>
<key>ha25e</key><string>ã</string>
<key>ha26d</key><string>ʌ</string>
<key>ha26e</key><string>ø</string>
<key>ha26f</key><string>ə</string>
<key>ha270</key><string>ɚ</string>
<key>ha271</key><string>ɛ</string>
<key>ha272</key><string>ɪ</string>
<key>ha273</key><string>ɔ</string>
<key>ha274</key><string>ʊ</string>
<key>ha275</key><string>θ</string>
<key>ha276</key><string>ð</string>
<key>ha277</key><string>∫</string>
<key>ha278</key><string>ʒ</string>
<key>ha27a</key><string>ː</string>
<key>ha27b</key><string>ɑ</string>
<key>ha27c</key><string>φ</string>
<key>ha27e</key><string>↙</string>
<key>ha321</key><string>̆</string>
<key>ha322</key><string>\</string>
<key>ha328</key><string>˘</string>
<key>ha32d</key><string>Ǔ</string>
<key>ha32f</key><string>ă</string>
<key>ha334</key><string>ŭ</string>
<key>ha336</key><string>̌</string>
<key>ha338</key><string>Č</string>
<key>ha33c</key><string>Š</string>
<key>ha33d</key><string>Ž</string>
<key>ha33e</key><string>ǎ</string>
<key>ha33f</key><string>č</string>
<key>ha340</key><string>ě</string>
<key>ha341</key><string>ľ</string>
<key>ha342</key><string>ň</string>
<key>ha343</key><string>ř</string>
<key>ha344</key><string>š</string>
<key>ha345</key><string>ž</string>
<key>ha348</key><string>̨</string>
<key>ha34c</key><string>ą</string>
<key>ha34d</key><string>ę</string>
<key>ha353</key><string>ş</string>
<key>ha354</key><string>ţ</string>
<key>ha35d</key><string>Ć</string>
<key>ha35e</key><string>Ś</string>
<key>ha35f</key><string>ć</string>
<key>ha361</key><string>ś</string>
<key>ha362</key><string>ź</string>
<key>ha447</key><string>ʏ</string>
<key>ha448</key><string>ɥ</string>
<key>ha44c</key><string>đ</string>
<key>ha44e</key><string>¹</string>
<key>ha44f</key><string>Ł</string>
<key>ha450</key><string>ɲ</string>
<key>ha452</key><string>¿</string>
<key>ha453</key><string>i</string>
<key>ha454</key><string>ł</string>
<key>ha457</key><string>õ</string>
<key>ha45a</key><string>ő</string>
<key>ha45b</key><string>Å</string>
<key>ha45c</key><string>å</string>
<key>ha471</key><string>˙</string>
<key>ha524</key><string>ħ</string>
<key>ha526</key><string>ƒ</string>
<key>ha527</key><string>ʊ</string>
<key>ha528</key><string>ʎ</string>
<key>ha52a</key><string>þ</string>
<key>ha52b</key><string>ƿ</string>
<key>ha547</key><string>Ē</string>
<key>ha549</key><string>Ī</string>
<key>ha54e</key><string>Ū</string>
<key>ha55b</key><string>ς</string>
<key>ha56c</key><string>S</string>
<key>ha574</key><string>ǔ</string>
<key>zb25b</key><string>惲</string>
<key>zb25c</key><string>稞</string>
<key>zb25e</key><string>嗉</string>
<key>zb25f</key><string>噶</string>
<key>zb260</key><string>噠</string>
<key>zb261</key><string>圳</string>
<key>zb262</key><string>拼</string>
<key>zb264</key><string>洱</string>
<key>zb265</key><string>灤</string>
<key>zb266</key><string>炅</string>
<key>zb267</key><string>烤</string>
<key>zb268</key><string>犍</string>
<key>zb269</key><string>玢</string>
<key>zb26a</key><string>癤</string>
<key>zb26b</key><string>皶</string>
<key>zb26c</key><string>磠</string>
<key>zb26d</key><string>稃</string>
<key>zb26f</key><string>芾</string>
<key>zb270</key><string>莆</string>
<key>zb272</key><string>蘄</string>
<key>zb273</key><string>蹰</string>
<key>zb276</key><string>閒</string>
<key>zb27a</key><string>侗</string>
<key>zb27b</key><string>傈</string>
<key>zb27c</key><string>僳</string>
<key>zb27d</key><string>傣</string>
<key>zb27e</key><string>佤</string>
<key>zb321</key><string>倻</string>
<key>zb322</key><string>侊</string>
<key>zb324</key><string>儋</string>
<key>zb325</key><string>勰</string>
<key>zb326</key><string>兗</string>
<key>zb327</key><string>凴</string>
<key>zb328</key><string>勐</string>
<key>zb329</key><string>卡</string>
<key>zb32a</key><string>厴</string>
<key>zb32b</key><string>唵</string>
<key>zb32c</key><string>嘎</string>
<key>zb32d</key><string>嚈</string>
<key>zb32f</key><string>埵</string>
<key>zb330</key><string>圩</string>
<key>zb331</key><string>坻</string>
<key>zb333</key><string>墊</string>
<key>zb334</key><string>垜</string>
<key>zb335</key><string>壢</string>
<key>zb336</key><string>壩</string>
<key>zb337</key><string>奭</string>
<key>zb339</key><string>媧</string>
<key>zb33d</key><string>嶗</string>
<key>zb33e</key><string>嵊</string>
<key>zb33f</key><string>岢</string>
<key>zb340</key><string>嶴</string>
<key>zb341</key><string>崍</string>
<key>zb343</key><string>嵆</string>
<key>zb344</key><string>秭</string>
<key>zb346</key><string>帕</string>
<key>zb347</key><string>拖</string>
<key>zb348</key><string>庾</string>
<key>zb349</key><string>悝</string>
<key>zb34a</key><string>愷</string>
<key>zb34f</key><string>昕</string>
<key>zb351</key><string>曺</string>
<key>zb352</key><string>晷</string>
<key>zb354</key><string>枓</string>
<key>zb355</key><string>柄</string>
<key>zb357</key><string>棰</string>
<key>zb358</key><string>棱</string>
<key>zb359</key><string>楣</string>
<key>zb35b</key><string>郴</string>
<key>zb35d</key><string>楲</string>
<key>zb362</key><string>橅</string>
<key>zb363</key><string>檉</string>
<key>zb364</key><string>歆</string>
<key>zb365</key><string>氐</string>
<key>zb366</key><string>沅</string>
<key>zb367</key><string>汶</string>
<key>zb368</key><string>洮</string>
<key>zb369</key><string>涇</string>
<key>zb36a</key><string>漯</string>
<key>zb36b</key><string>涪</string>
<key>zb36c</key><string>滎</string>
<key>zb36d</key><string>淄</string>
<key>zb36e</key><string>涿</string>
<key>zb36f</key><string>湄</string>
<key>zb370</key><string>濰</string>
<key>zb372</key><string>滇</string>
<key>zb374</key><string>澶</string>
<key>zb375</key><string>淖</string>
<key>zb376</key><string>滹</string>
<key>zb377</key><string>漵</string>
<key>zb378</key><string>漳</string>
<key>zb379</key><string>溧</string>
<key>zb37a</key><string>滁</string>
<key>zb37b</key><string>潞</string>
<key>zb37c</key><string>浹</string>
<key>zb37d</key><string>沭</string>
<key>zb421</key><string>涮</string>
<key>zb422</key><string>潢</string>
<key>zb423</key><string>沔</string>
<key>zb424</key><string>潽</string>
<key>zb425</key><string>澠</string>
<key>zb426</key><string>濉</string>
<key>zb427</key><string>澧</string>
<key>zb428</key><string>漪</string>
<key>zb429</key><string>濞</string>
<key>zb42b</key><string>炕</string>
<key>zb42c</key><string>炻</string>
<key>zb42d</key><string>煆</string>
<key>zb42e</key><string>燁</string>
<key>zb430</key><string>燾</string>
<key>zb431</key><string>犛</string>
<key>zb432</key><string>犰</string>
<key>zb433</key><string>狳</string>
<key>zb435</key><string>琫</string>
<key>zb436</key><string>珙</string>
<key>zb437</key><string>珅</string>
<key>zb439</key><string>琛</string>
<key>zb43b</key><string>畬</string>
<key>zb43c</key><string>瘙</string>
<key>zb43d</key><string>痤</string>
<key>zb43e</key><string>癭</string>
<key>zb43f</key><string>瘭</string>
<key>zb440</key><string>眙</string>
<key>zb442</key><string>睢</string>
<key>zb443</key><string>碭</string>
<key>zb444</key><string>礱</string>
<key>zb445</key><string>祜</string>
<key>zb446</key><string>禛</string>
<key>zb447</key><string>窣</string>
<key>zb448</key><string>窠</string>
<key>zb449</key><string>贛</string>
<key>zb44a</key><string>笯</string>
<key>zb44b</key><string>筠</string>
<key>zb44e</key><string>緙</string>
<key>zb44f</key><string>絇</string>
<key>zb450</key><string>綦</string>
<key>zb451</key><string>翟</string>
<key>zb453</key><string>翮</string>
<key>zb454</key><string>翺</string>
<key>zb455</key><string>胊</string>
<key>zb458</key><string>舢</string>
<key>zb459</key><string>芷</string>
<key>zb45a</key><string>芮</string>
<key>zb45b</key><string>荔</string>
<key>zb45c</key><string>莒</string>
<key>zb45d</key><string>莘</string>
<key>zb45e</key><string>菇</string>
<key>zb460</key><string>菉</string>
<key>zb461</key><string>蒴</string>
<key>zb462</key><string>蒗</string>
<key>zb464</key><string>菏</string>
<key>zb465</key><string>蕙</string>
<key>zb467</key><string>茌</string>
<key>zb469</key><string>虢</string>
<key>zb46a</key><string>蘑</string>
<key>zb46b</key><string>荗</string>
<key>zb46c</key><string>閩</string>
<key>zb46f</key><string>蝲</string>
<key>zb472</key><string>褲</string>
<key>zb473</key><string>襀</string>
<key>zb474</key><string>訢</string>
<key>zb476</key><string>跑</string>
<key>zb478</key><string>跗</string>
<key>zb479</key><string>跆</string>
<key>zb47b</key><string>邛</string>
<key>zb47c</key><string>邢</string>
<key>zb47d</key><string>郝</string>
<key>zb47e</key><string>郟</string>
<key>zb521</key><string>郯</string>
<key>zb522</key><string>鄞</string>
<key>zb523</key><string>邗</string>
<key>zb524</key><string>鄱</string>
<key>zb526</key><string>鄧</string>
<key>zb527</key><string>鄄</string>
<key>zb528</key><string>邕</string>
<key>zb529</key><string>邡</string>
<key>zb52a</key><string>邳</string>
<key>zb52b</key><string>郫</string>
<key>zb52c</key><string>郾</string>
<key>zb52d</key><string>酈</string>
<key>zb52e</key><string>鄆</string>
<key>zb52f</key><string>鄖</string>
<key>zb530</key><string>鄢</string>
<key>zb531</key><string>鄯</string>
<key>zb532</key><string>鉸</string>
<key>zb533</key><string>錕</string>
<key>zb535</key><string>錟</string>
<key>zb537</key><string>鈹</string>
<key>zb538</key><string>鐖</string>
<key>zb539</key><string>鑲</string>
<key>zb53a</key><string>閬</string>
<key>zb53c</key><string>陘</string>
<key>zb53d</key><string>顗</string>
<key>zb53e</key><string>顥</string>
<key>zb53f</key><string>頫</string>
<key>zb541</key><string>驊</string>
<key>zb542</key><string>駢</string>
<key>zb543</key><string>騶</string>
<key>zb544</key><string>駃</string>
<key>zb545</key><string>騠</string>
<key>zb546</key><string>髁</string>
<key>zb547</key><string>骹</string>
<key>zb548</key><string>鬐</string>
<key>zb557</key><string>鱵</string>
<key>zb55b</key><string>黟</string>
<key>zb55d</key><string>麞</string>
<key>zb55e</key><string>浠</string>
<key>zb562</key><string>齰</string>
<key>zb563</key><string>鏞</string>
<key>zb564</key><string>匀</string>
<key>zb826</key><string>佬</string>
<key>zb827</key><string>蓍</string>
<key>ha150</key><string>ʌ́</string>
<key>ha151</key><string>ɸ́</string>
<key>ha160</key><string>ʌ́</string>
<key>ha16c</key><string>ỳ</string>
<key>ha179</key><string>ỳ</string>
<key>ha17a</key><string>ʌ̀</string>
<key>ha17b</key><string>ɸ̀</string>
<key>ha23a</key><string>ȳ</string>
<key>ha23e</key><string>ə́</string>
<key>ha240</key><string>ɛ́</string>
<key>ha242</key><string>ɔ́</string>
<key>ha244</key><string>ɯ́</string>
<key>ha245</key><string>ʏ́</string>
<key>ha246</key><string>ɑ́</string>
<key>ha249</key><string>ɛ́</string>
<key>ha24a</key><string>ɪ́</string>
<key>ha24b</key><string>ɔ́</string>
<key>ha24c</key><string>ʊ́</string>
<key>ha24f</key><string>ɑ́</string>
<key>ha250</key><string>ə̀</string>
<key>ha252</key><string>ɛ̀</string>
<key>ha253</key><string>ɪ̀</string>
<key>ha254</key><string>ɔ̀</string>
<key>ha255</key><string>ʊ̀</string>
<key>ha258</key><string>ɑ̀</string>
<key>ha25a</key><string>ɛ̃</string>
<key>ha25b</key><string>ɪ̃</string>
<key>ha25c</key><string>ɔ̃</string>
<key>ha25d</key><string>ɑ̃</string>
<key>ha25f</key><string>ñ</string>
<key>ha261</key><string>ɛ̃́</string>
<key>ha262</key><string>ɪ̃́</string>
<key>ha263</key><string>ɔ̃́</string>
<key>ha264</key><string>ɑ̃́</string>
<key>ha265</key><string>ã́</string>
<key>ha266</key><string>ʌ̃́</string>
<key>ha267</key><string>ɔ̃̀</string>
<key>ha26a</key><string>ɑ̃̀</string>
<key>ha26c</key><string>ʌ̃̀</string>
<key>ha279</key><string>ŋ</string>
<key>ha27d</key><string>ṭ</string>
<key>ha326</key><string>ṓ</string>
<key>ha331</key><string>ğ</string>
<key>ha333</key><string>ŏ</string>
<key>ha346</key><string>ḵ</string>
<key>ha347</key><string>ṯ</string>
<key>ha34e</key><string>ǫ</string>
<key>ha357</key><string>H̥</string>
<key>ha358</key><string>h̥</string>
<key>ha359</key><string>m̥</string>
<key>ha35a</key><string>n̥</string>
<key>ha35c</key><string>ḿ</string>
<key>ha360</key><string>ń</string>
<key>ha426</key><string>ŕ</string>
<key>ha445</key><string>ʇ</string>
<key>ha44b</key><string>Ɖ</string>
<key>ha44d</key><string>‘</string>
<key>ha45d</key><string>ů</string>
<key>ha45e</key><string>ẙ</string>
<key>ha45f</key><string>ὡ</string>
<key>ha461</key><string>Ḥ</string>
<key>ha466</key><string>Ṣ</string>
<key>ha467</key><string>Ṭ</string>
<key>ha469</key><string>ḍ</string>
<key>ha46a</key><string>ḥ</string>
<key>ha46b</key><string>ḳ</string>
<key>ha46c</key><string>ṃ</string>
<key>ha46d</key><string>ṇ</string>
<key>ha46e</key><string>ṛ</string>
<key>ha46f</key><string>ṣ</string>
<key>ha470</key><string>ẓ</string>
<key>ha476</key><string>İ</string>
<key>ha478</key><string>Ż</string>
<key>ha47a</key><string>ė</string>
<key>ha47b</key><string>ġ</string>
<key>ha47c</key><string>ṁ</string>
<key>ha47d</key><string>ṅ</string>
<key>ha52e</key><string>$</string>
<key>ha530</key><string>ḿ̥</string>
<key>ha543</key><string>Ā</string>
<key>ha621</key><string>ô</string>
<key>ha62e</key><string>ŏ</string>
<key>ha678</key><string>ᾳ</string>
<key>ha679</key><string>ῃ</string>
<key>ha67a</key><string>ῳ</string>
<key>ha67b</key><string>ə̃</string>
<key>ha921</key><string>《</string>
<key>ha922</key><string>》</string>
<key>ha925</key><string>〘</string>
<key>ha926</key><string>〙</string>
<key>zb144</key><string>☞</string>
<key>zb14e</key><string>ǽ</string>
<key>zb14f</key><string>æ̀</string>
<key>zb150</key><string>ǽ</string>
<key>zb151</key><string>ǣ</string>
<key>zb152</key><string>æ̃́</string>
<key>zb153</key><string>æ̃̀</string>
<key>zb154</key><string>æ̃</string>
<key>zb155</key><string>æ</string>
<key>zb156</key><string>œ́</string>
<key>zb157</key><string>œ̀</string>
<key>zb158</key><string>œ́</string>
<key>zb158</key><string>œ̃</string>
<key>zb158</key><string>œ</string>
<key>zb15E</key><string>Æ</string>
<key>zb15f</key><string>↔</string>
<key>zb168</key><string>o͠ʊ́</string>
<key>zb169</key><string>o͠ʊ̀</string>
<key>zb16b</key><string>o͠ʊ</string>
<key>zb16c</key><string>e͠ɪ́</string>
<key>zb16f</key><string>e͠ɪ</string>
<key>zb170</key><string>a͠ʊ́</string>
<key>zb171</key><string>a͠ʊ̀</string>
<key>zb173</key><string>a͠ʊ</string>
<key>zb175</key><string>©</string>
<key>zb176</key><string>®</string>
<key>zb22f</key><string>o͠ú</string>
<key>zb230</key><string>o͠u</string>
<key>zb73d</key><string>œ</string>
<key>zb939</key><string>►</string>
<key>zb924</key><string> </string>
<key>zb925</key><string> </string>
<key>zb926</key><string> </string>
<key>zb927</key><string> </string>
<key>zb928</key><string> </string>
<key>zb929</key><string> </string>
<key>zb92a</key><string> </string>
<key>zb92b</key><string> </string>
<key>zb92c</key><string> </string>
<key>zb92d</key><string> </string>
<key>zb92e</key><string> </string>
<key>zb92f</key><string> </string>
<key>zb931</key><string> </string>
<key>zb932</key><string> </string>
<key>zb933</key><string> </string>
<key>zb934</key><string> </string>
<key>zb935</key><string> </string>
<key>zb936</key><string> </string>
<key>zb937</key><string> </string>
<key>zb938</key><string> </string>
</dict>
</plist>
