<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA121</key><string>↙</string>
<key>hA122</key><string>~</string>
<key>hA12A</key><string>＊</string>
<key>hA12D</key><string>ă</string>
<key>hA12F</key><string>č</string>
<key>hA130</key><string>š</string>
<key>hA131</key><string>ş</string>
<key>hA133</key><string>ç</string>
<key>hA134</key><string>Á</string>
<key>hA135</key><string>É</string>
<key>hA136</key><string>Í</string>
<key>hA137</key><string>Ó</string>
<key>hA138</key><string>Ú</string>
<key>hA139</key><string>á</string>
<key>hA13A</key><string>é</string>
<key>hA13B</key><string>í</string>
<key>hA13C</key><string>ó</string>
<key>hA13D</key><string>ú</string>
<key>hA13E</key><string>ý</string>
<key>hA13F</key><string>À</string>
<key>hA140</key><string>È</string>
<key>hA141</key><string>Ì</string>
<key>hA142</key><string>Ò</string>
<key>hA143</key><string>Ù</string>
<key>hA144</key><string>à</string>
<key>hA145</key><string>è</string>
<key>hA146</key><string>ì</string>
<key>hA147</key><string>ò</string>
<key>hA148</key><string>ù</string>
<key>hA14A</key><string>ə́</string>
<key>hA14B</key><string>ə̀</string>
<key>hA14C</key><string>ə</string>
<key>hA14D</key><string>ɔ́</string>
<key>hA14E</key><string>ɔ̀</string>
<key>hA152</key><string>ɔ</string>
<key>hA153</key><string>έ</string>
<key>hA154</key><string>ὲ</string>
<key>hA156</key><string>ε</string>
<key>hA157</key><string>θ</string>
<key>hA158</key><string>ð</string>
<key>hA159</key><string>ŋ</string>
<key>hA15A</key><string>ɥ</string>
<key>hA15B</key><string>ǽ</string>
<key>hA15C</key><string></string>
<key>hA15D</key><string>æ̀</string>
<key>hA15E</key><string></string>
<key>hA167</key><string>æ</string>
<key>hA168</key><string></string>
<key>hA16F</key><string>œ</string>
<key>hA170</key><string></string>
<key>hA171</key><string>ά</string>
<key>hA172</key><string>ὰ</string>
<key>hA176</key><string>α</string>
<key>hA177</key><string>ː</string>
<key>hA178</key><string>ɲ</string>
<key>hA179</key><string>ʒ</string>
<key>hA17A</key><string>ʃ</string>
<key>hA17B</key><string>ł</string>
<key>hA17C</key><string>ã</string>
<key>hA17D</key><string>ñ</string>
<key>hA17E</key><string>ũ</string>
<key>hA221</key><string>Å</string>
<key>hA222</key><string>å</string>
<key>hA223</key><string>É</string>
<key>hA224</key><string>Ó</string>
<key>hA225</key><string>á</string>
<key>hA226</key><string>é</string>
<key>hA227</key><string>í</string>
<key>hA228</key><string>ń</string>
<key>hA229</key><string>ó</string>
<key>hA22A</key><string>ú</string>
<key>hA22B</key><string>ý</string>
<key>hA22C</key><string>ǿ</string>
<key>hA22D</key><string>À</string>
<key>hA22E</key><string>à</string>
<key>hA22F</key><string>è</string>
<key>hA230</key><string>ì</string>
<key>hA231</key><string>ò</string>
<key>hA232</key><string>ù</string>
<key>hA233</key><string>ʌ́</string>
<key>hA234</key><string>ʌ̀</string>
<key>hA236</key><string>ʌ̃</string>
<key>hA237</key><string>ʌ</string>
<key>hA238</key><string>Ö</string>
<key>hA239</key><string>Ü</string>
<key>hA23A</key><string>ä</string>
<key>hA23B</key><string>ë</string>
<key>hA23C</key><string>ï</string>
<key>hA23D</key><string>ö</string>
<key>hA23E</key><string>ü</string>
<key>hA23F</key><string>Î</string>
<key>hA240</key><string>â</string>
<key>hA241</key><string>ê</string>
<key>hA242</key><string>î</string>
<key>hA243</key><string>ô</string>
<key>hA244</key><string>û</string>
<key>hA245</key><string>ā</string>
<key>hA246</key><string>ē</string>
<key>hA247</key><string>ī</string>
<key>hA248</key><string>ō</string>
<key>hA249</key><string>ū</string>
<key>hA24B</key><string>Ý</string>
<key>hA24D</key><string>Á</string>
<key>hA24E</key><string>ć</string>
<key>hA24F</key><string>ś</string>
<key>hA250</key><string>ỳ</string>
<key>hA251</key><string>ḿ</string>
<key>hA252</key><string>Ć</string>
<key>hA253</key><string>Í</string>
<key>hA254</key><string>Ś</string>
<key>hA255</key><string>Ú</string>
<key>hA256</key><string>Ý</string>
<key>hA257</key><string>Ź</string>
<key>hA258</key><string>ź</string>
<key>hA259</key><string>È</string>
<key>hA25A</key><string>Ì</string>
<key>hA25B</key><string>ø̀</string>
<key>hA25C</key><string>Ä</string>
<key>hA25D</key><string>Ë</string>
<key>hA25E</key><string>Ï</string>
<key>hA25F</key><string>ÿ</string>
<key>hA260</key><string>Â</string>
<key>hA261</key><string>Ê</string>
<key>hA262</key><string>Ô</string>
<key>hA263</key><string>Û</string>
<key>hA264</key><string>Ā</string>
<key>hA265</key><string>Ē</string>
<key>hA266</key><string>Ī</string>
<key>hA267</key><string>Ō</string>
<key>hA268</key><string>Ū</string>
<key>hA270</key><string>˘</string>
<key>hA271</key><string>Ğ</string>
<key>hA272</key><string>Ŭ</string>
<key>hA274</key><string>ŭ</string>
<key>hA275</key><string>ˇ</string>
<key>hA276</key><string>č</string>
<key>hA277</key><string>Ě</string>
<key>hA278</key><string>Ř</string>
<key>hA279</key><string>Š</string>
<key>hA27A</key><string>Ž</string>
<key>hA27B</key><string>ě</string>
<key>hA27C</key><string>ǐ</string>
<key>hA27D</key><string>ň</string>
<key>hA27E</key><string>ř</string>
<key>hA321</key><string>ž</string>
<key>hA322</key><string>k̠</string>
<key>hA323</key><string>t̠</string>
<key>hA324</key><string>Ą</string>
<key>hA325</key><string>Ę</string>
<key>hA326</key><string>ą</string>
<key>hA327</key><string>ę</string>
<key>hA328</key><string>ǫ</string>
<key>hA329</key><string>Ş</string>
<key>hA32A</key><string>Ţ</string>
<key>hA32B</key><string>ţ</string>
<key>hA32F</key><string>¸</string>
<key>hA330</key><string>Ç</string>
<key>hA331</key><string>Ý</string>
<key>hA332</key><string>ɚ</string>
<key>hA334</key><string>Ð</string>
<key>hA335</key><string>đ</string>
<key>hA336</key><string>ʻ</string>
<key>hA337</key><string>ı</string>
<key>hA338</key><string>Ł</string>
<key>hA339</key><string>¿</string>
<key>hA33A</key><string>¡</string>
<key>hA33B</key><string>˜</string>
<key>hA33C</key><string>Ã</string>
<key>hA33D</key><string>Ñ</string>
<key>hA33E</key><string>ẽ</string>
<key>hA33F</key><string>ĩ</string>
<key>hA340</key><string>õ</string>
<key>hA341</key><string>ɨ</string>
<key>hA342</key><string>Ø</string>
<key>hA343</key><string>Ő</string>
<key>hA344</key><string>ő</string>
<key>hA345</key><string>ů</string>
<key>hA348</key><string>Ḥ</string>
<key>hA349</key><string>Ṇ</string>
<key>hA34A</key><string>Ṣ</string>
<key>hA34B</key><string>Ṭ</string>
<key>hA34C</key><string>ḍ</string>
<key>hA34D</key><string>ḥ</string>
<key>hA34E</key><string>ṃ</string>
<key>hA34F</key><string>ṇ</string>
<key>hA350</key><string>r</string>
<key>hA351</key><string>ṣ</string>
<key>hA352</key><string>ṭ</string>
<key>hA353</key><string>ẓ</string>
<key>hA354</key><string>˙</string>
<key>hA355</key><string>İ</string>
<key>hA356</key><string>Ż</string>
<key>hA357</key><string>ġ</string>
<key>hA358</key><string>ṁ</string>
<key>hA359</key><string>ṅ</string>
<key>hA35B</key><string>ς</string>
<key>hA35F</key><string>ħ</string>
<key>hA360</key><string>ʊ</string>
<key>hA361</key><string>ʎ</string>
<key>hA369</key><string>Ń</string>
<key>zB122</key><string>[P]</string>
<key>zB123</key><string>[R]</string>
<key>zB142</key><string>漳</string>
<key>zB15C</key><string>拼</string>
<key>zB151</key><string>鄱</string>
</dict>
</plist>
