<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA121</key><string>á</string>
<key>hA122</key><string>à</string>
<key>hA123</key><string>â</string>
<key>hA124</key><string>ä</string>
<key>hA126</key><string>ã</string>
<key>hA128</key><string>ć</string>
<key>hA129</key><string>č</string>
<key>hA12B</key><string>é</string>
<key>hA12C</key><string>è</string>
<key>hA12D</key><string>ê</string>
<key>hA12E</key><string>ë</string>
<key>hA12F</key><string>ē</string>
<key>hA133</key><string>î</string>
<key>hA134</key><string>ï</string>
<key>hA135</key><string>ī</string>
<key>hA138</key><string>ń</string>
<key>hA13C</key><string>ó</string>
<key>hA13E</key><string>ô</string>
<key>hA13F</key><string>ö</string>
<key>hA141</key><string>ō</string>
<key>hA149</key><string>ú</string>
<key>hA14A</key><string>û</string>
<key>hA14B</key><string>ü</string>
<key>hA14C</key><string>ū</string>
<key>hA155</key><string>ç</string>
<key>hA162</key><string>ø</string>
<key>hA173</key><string>Ö</string>
<key>hA176</key><string>Ü</string>
<key>hA17E</key><string>É</string>
<key>hA221</key><string>Ä</string>
<key>hA224</key><string>Å</string>
<key>hA225</key><string>[</string>
<key>hA226</key><string>]</string>
<key>hA22B</key><string>Ō</string>
<key>hA22F</key><string>Č</string>
<key>hA238</key><string>ý</string>
<key>hA23D</key><string>å</string>
<key>hA249</key><string>·</string>
<key>hA24E</key><string>Ø</string>
<key>hA324</key><string>ž</string>
<key>hA325</key><string>æ</string>
<key>hA32E</key><string>ů</string>
<key>hB55C</key><string>œ</string>
<key>hDE32</key><string>Ċ</string>
<key>hDF31</key><string>А</string>
<key>hDF32</key><string>Б</string>
<key>hDF33</key><string>В</string>
<key>hDF34</key><string>Г</string>
<key>hDF35</key><string>Д</string>
<key>hDF36</key><string>Е</string>
<key>hDF38</key><string>Ж</string>
<key>hDF39</key><string>З</string>
<key>hDF3A</key><string>И</string>
<key>hDF3B</key><string>Й</string>
<key>hDF3C</key><string>К</string>
<key>hDF3D</key><string>Л</string>
<key>hDF3E</key><string>М</string>
<key>hDF3F</key><string>Н</string>
<key>hDF40</key><string>О</string>
<key>hDF41</key><string>П</string>
<key>hDF42</key><string>Р</string>
<key>hDF43</key><string>С</string>
<key>hDF44</key><string>Т</string>
<key>hDF45</key><string>У</string>
<key>hDF46</key><string>Ф</string>
<key>hDF47</key><string>Х</string>
<key>hDF48</key><string>Ц</string>
<key>hDF4A</key><string>Ш</string>
<key>hDF4B</key><string>Щ</string>
<key>hDF4F</key><string>Э</string>
<key>hDF50</key><string>Ю</string>
<key>hDF51</key><string>Я</string>
<key>hDF52</key><string>а</string>
<key>hDF53</key><string>б</string>
<key>hDF54</key><string>в</string>
<key>hDF55</key><string>г</string>
<key>hDF56</key><string>д</string>
<key>hDF57</key><string>е</string>
<key>hDF58</key><string>ё</string>
<key>hDF59</key><string>ж</string>
<key>hDF5A</key><string>з</string>
<key>hDF5B</key><string>и</string>
<key>hDF5C</key><string>й</string>
<key>hDF5D</key><string>к</string>
<key>hDF5E</key><string>л</string>
<key>hDF5F</key><string>м</string>
<key>hDF60</key><string>н</string>
<key>hDF61</key><string>о</string>
<key>hDF62</key><string>п</string>
<key>hDF63</key><string>р</string>
<key>hDF64</key><string>с</string>
<key>hDF65</key><string>т</string>
<key>hDF66</key><string>у</string>
<key>hDF67</key><string>ф</string>
<key>hDF68</key><string>х</string>
<key>hDF69</key><string>ц</string>
<key>hDF6A</key><string>ч</string>
<key>hDF6B</key><string>ш</string>
<key>hDF6C</key><string>щ</string>
<key>hDF6D</key><string>ъ</string>
<key>hDF6E</key><string>ы</string>
<key>hDF6F</key><string>ь</string>
<key>hDF70</key><string>э</string>
<key>hDF71</key><string>ю</string>
<key>hDF72</key><string>я</string>
<key>hE02C</key><string>°</string>
<key>hE06E</key><string>≡</string>
<key>hE075</key><string>↦</string>
<key>hE07E</key><string>↑</string>
<key>hE121</key><string>↓</string>
<key>hE12E</key><string>Ω</string>
<key>hE12F</key><string>⋂</string>
<key>hE130</key><string>∆</string>
<key>hE131</key><string>⋃</string>
<key>hE132</key><string>ß</string>
<key>hE133</key><string>∅</string>
<key>hE135</key><string>∓</string>
<key>hE138</key><string>Λ</string>
<key>hE139</key><string>Σ</string>
<key>hE13A</key><string>Ξ</string>
<key>hE149</key><string>⁰</string>
<key>hE14A</key><string>¹</string>
<key>hE14B</key><string>²</string>
<key>hE14C</key><string>³</string>
<key>hE14D</key><string>⁴</string>
<key>hE14E</key><string>⁵</string>
<key>hE14F</key><string>⁶</string>
<key>hE150</key><string>⁷</string>
<key>hE151</key><string>⁸</string>
<key>hE152</key><string>⁹</string>
<key>hE153</key><string>₀</string>
<key>hE154</key><string>₁</string>
<key>hE155</key><string>₂</string>
<key>hE156</key><string>₃</string>
<key>hE157</key><string>₄</string>
<key>hE158</key><string>₅</string>
<key>hE159</key><string>₆</string>
<key>hE15A</key><string>₇</string>
<key>hE15B</key><string>₈</string>
<key>hE15C</key><string>₉</string>
<key>hE52D</key><string>⁽</string>
<key>hE52E</key><string>⁾</string>
<key>hE531</key><string>⁺</string>
<key>hE532</key><string>⁻</string>
<key>hE540</key><string>′</string>
<key>hE541</key><string>″</string>
<key>hE62D</key><string>₍</string>
<key>hE62E</key><string>₎</string>
<key>hE631</key><string>₊</string>
<key>hE632</key><string>₋</string>
<key>hE635</key><string>₌</string>
<key>hE63A</key><string>≦</string>
<key>hE63B</key><string>≧</string>
<key>hE63C</key><string>∊</string>
<key>hE63E</key><string>∞</string>
<key>hE63F</key><string>⊥</string>
<key>hE648</key><string>⋯</string>
<key>zA173</key><string>Ö</string>
<key>zA17E</key><string>É</string>
<key>zA224</key><string>Å</string>
<key>zA225</key><string>[</string>
<key>zA226</key><string>]</string>
<key>zA23D</key><string>å</string>
<key>zA421</key><string>↔</string>
<key>zA44F</key><string>癭</string>
<key>zA47D</key><string>鈹</string>
<key>zA527</key><string>炻</string>
<key>zA631</key><string>⇀</string>
<key>zB366</key><string>∏</string>
<key>zB37E</key><string>∑</string>
<key>zB536</key><string>①</string>
<key>zB537</key><string>②</string>
<key>zB538</key><string>③</string>
<key>zB539</key><string>④</string>
<key>zB53A</key><string>⑤</string>
<key>zB53B</key><string>⑥</string>
<key>zB53C</key><string>⑦</string>
<key>zB555</key><string>Ⅰ</string>
<key>zB556</key><string>Ⅱ</string>
<key>zB559</key><string>Ⅲ</string>
<key>zB55A</key><string>Ⅳ</string>
<key>zB55D</key><string>Ⅵ</string>
<key>zB67A</key><string>Ⅴ</string>
<key>zB67B</key><string>Ⅶ</string>
<key>zB67C</key><string>Ⅷ</string>
<key>zB67D</key><string>Ⅸ</string>
<key>zB67E</key><string>Ⅹ</string>
<key>zB775</key><string>≈</string>
<key>zB776</key><string>≃</string>
<key>zB777</key><string>Ⓟ</string>
<key>zB77D</key><string>⊕</string>
<key>zB822</key><string>⇄</string>
<key>zB823</key><string>Ⅺ</string>
<key>zB824</key><string>Ⅻ</string>
<key>zDD23</key><string>⇌</string>
<key>zDD25</key><string>‹</string>
<key>zDD27</key><string>›</string>
<key>zDD29</key><string>↔</string>
<key>zDD2B</key><string>∖</string>
<key>zDD2D</key><string>≥</string>
<key>zDD2E</key><string>≤</string>
<key>zDD2F</key><string>≌</string>
<key>zDD30</key><string>≳</string>
<key>zDD31</key><string>≲</string>
<key>zDD36</key><string>∉</string>
<key>zDD37</key><string>⊕</string>
<key>zDD38</key><string>⇨</string>
</dict>
</plist>
