<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<!-- zenkaku -->
<key>zB021</key><string>&#x9127;</string>
<key>zB024</key><string>&#x00E6;</string>
<key>zB025</key><string>&#xE001;</string>
<key>zB026</key><string>&#x01FD;</string>

<!-- hankaku -->

<key>hA121</key><string>&#x00A0;</string>
<key>hA122</key><string>&#x00A1;</string>
<key>hA123</key><string>&#x00A2;</string>
<key>hA124</key><string>&#x00A3;</string>
<key>hA125</key><string>&#x00A4;</string>
<key>hA126</key><string>&#x00A5;</string>
<key>hA127</key><string>&#x00A6;</string>
<key>hA128</key><string>&#x00A7;</string>
<key>hA129</key><string>&#x00A8;</string>
<key>hA12A</key><string>&#x00A9;</string>
<key>hA12B</key><string>&#x00AA;</string>
<key>hA12C</key><string>&#x00AB;</string>
<key>hA12D</key><string>&#x00AC;</string>
<key>hA12E</key><string>&#x00AD;</string>
<key>hA12F</key><string>&#x00AE;</string>
<key>hA130</key><string>&#x00AF;</string>

<key>hA131</key><string>&#x00B0;</string>
<key>hA132</key><string>&#x00B1;</string>
<key>hA133</key><string>&#x00B2;</string>
<key>hA134</key><string>&#x00B3;</string>
<key>hA135</key><string>&#x00B4;</string>
<key>hA136</key><string>&#x00B5;</string>
<key>hA137</key><string>&#x00B6;</string>
<key>hA138</key><string>&#x00B7;</string>
<key>hA139</key><string>&#x00B8;</string>
<key>hA13A</key><string>&#x00B9;</string>
<key>hA13B</key><string>&#x00BA;</string>
<key>hA13C</key><string>&#x00BB;</string>
<key>hA13D</key><string>&#x00BC;</string>
<key>hA13E</key><string>&#x00BD;</string>
<key>hA13F</key><string>&#x00BE;</string>
<key>hA140</key><string>&#x00BF;</string>

<key>hA141</key><string>&#x00C0;</string>
<key>hA142</key><string>&#x00C1;</string>
<key>hA143</key><string>&#x00C2;</string>
<key>hA144</key><string>&#x00C3;</string>
<key>hA145</key><string>&#x00C4;</string>
<key>hA146</key><string>&#x00C5;</string>
<key>hA147</key><string>&#x00C6;</string>
<key>hA148</key><string>&#x00C7;</string>
<key>hA149</key><string>&#x00C8;</string>
<key>hA14A</key><string>&#x00C9;</string>
<key>hA14B</key><string>&#x00CA;</string>
<key>hA14C</key><string>&#x00CB;</string>
<key>hA14D</key><string>&#x00CC;</string>
<key>hA14E</key><string>&#x00CD;</string>
<key>hA14F</key><string>&#x00CE;</string>
<key>hA150</key><string>&#x00CF;</string>

<key>hA151</key><string>&#x00D0;</string>
<key>hA152</key><string>&#x00D1;</string>
<key>hA153</key><string>&#x00D2;</string>
<key>hA154</key><string>&#x00D3;</string>
<key>hA155</key><string>&#x00D4;</string>
<key>hA156</key><string>&#x00D5;</string>
<key>hA157</key><string>&#x00D6;</string>
<key>hA158</key><string>&#x00D7;</string>
<key>hA159</key><string>&#x00D8;</string>
<key>hA15A</key><string>&#x00D9;</string>
<key>hA15B</key><string>&#x00DA;</string>
<key>hA15C</key><string>&#x00DB;</string>
<key>hA15D</key><string>&#x00DC;</string>
<key>hA15E</key><string>&#x00DD;</string>
<key>hA15F</key><string>&#x00DE;</string>
<key>hA160</key><string>&#x00DF;</string>

<key>hA161</key><string>&#x00E0;</string>
<key>hA162</key><string>&#x00E1;</string>
<key>hA163</key><string>&#x00E2;</string>
<key>hA164</key><string>&#x00E3;</string>
<key>hA165</key><string>&#x00E4;</string>
<key>hA166</key><string>&#x00E5;</string>
<key>hA167</key><string>&#x00E6;</string>
<key>hA168</key><string>&#x00E7;</string>
<key>hA169</key><string>&#x00E8;</string>
<key>hA16A</key><string>&#x00E9;</string>
<key>hA16B</key><string>&#x00EA;</string>
<key>hA16C</key><string>&#x00EB;</string>
<key>hA16D</key><string>&#x00EC;</string>
<key>hA16E</key><string>&#x00ED;</string>
<key>hA16F</key><string>&#x00EE;</string>
<key>hA170</key><string>&#x00EF;</string>

<key>hA171</key><string>&#x00F0;</string>
<key>hA172</key><string>&#x00F1;</string>
<key>hA173</key><string>&#x00F2;</string>
<key>hA174</key><string>&#x00F3;</string>
<key>hA175</key><string>&#x00F4;</string>
<key>hA176</key><string>&#x00F5;</string>
<key>hA177</key><string>&#x00F6;</string>
<key>hA178</key><string>&#x00F7;</string>
<key>hA179</key><string>&#x00F8;</string>
<key>hA17A</key><string>&#x00F9;</string>
<key>hA17B</key><string>&#x00FA;</string>
<key>hA17C</key><string>&#x00FB;</string>
<key>hA17D</key><string>&#x00FC;</string>
<key>hA17E</key><string>&#x00FD;</string>
<key>hA221</key><string>&#x00FE;</string>
<key>hA222</key><string>&#x00FF;</string>

<key>hA223</key><string>&#x0100;</string>
<key>hA224</key><string>&#x0101;</string>
<key>hA225</key><string>&#x0102;</string>
<key>hA226</key><string>&#x0103;</string>
<key>hA227</key><string>&#x0104;</string>
<key>hA228</key><string>&#x0105;</string>
<key>hA229</key><string>&#x0106;</string>
<key>hA22A</key><string>&#x0107;</string>
<key>hA22B</key><string>&#x0108;</string>
<key>hA22C</key><string>&#x0109;</string>
<key>hA22D</key><string>&#x010A;</string>
<key>hA22E</key><string>&#x010B;</string>
<key>hA22F</key><string>&#x010C;</string>
<key>hA230</key><string>&#x010D;</string>
<key>hA231</key><string>&#x010E;</string>
<key>hA232</key><string>&#x010F;</string>

<key>hA233</key><string>&#x0110;</string>
<key>hA234</key><string>&#x0111;</string>
<key>hA235</key><string>&#x0112;</string>
<key>hA236</key><string>&#x0113;</string>
<key>hA237</key><string>&#x0114;</string>
<key>hA238</key><string>&#x0115;</string>
<key>hA239</key><string>&#x0116;</string>
<key>hA23A</key><string>&#x0117;</string>
<key>hA23B</key><string>&#x0118;</string>
<key>hA23C</key><string>&#x0119;</string>
<key>hA23D</key><string>&#x011A;</string>
<key>hA23E</key><string>&#x011B;</string>
<key>hA23F</key><string>&#x011C;</string>
<key>hA240</key><string>&#x011D;</string>
<key>hA241</key><string>&#x011E;</string>
<key>hA242</key><string>&#x011F;</string>

<key>hA243</key><string>&#x0120;</string>
<key>hA244</key><string>&#x0121;</string>
<key>hA245</key><string>&#x0122;</string>
<key>hA246</key><string>&#x0123;</string>
<key>hA247</key><string>&#x0124;</string>
<key>hA248</key><string>&#x0125;</string>
<key>hA249</key><string>&#x0126;</string>
<key>hA24A</key><string>&#x0127;</string>
<key>hA24B</key><string>&#x0128;</string>
<key>hA24C</key><string>&#x0129;</string>
<key>hA24D</key><string>&#x012A;</string>
<key>hA24E</key><string>&#x012B;</string>
<key>hA24F</key><string>&#x012C;</string>
<key>hA250</key><string>&#x012D;</string>
<key>hA251</key><string>&#x012E;</string>
<key>hA252</key><string>&#x012F;</string>

<key>hA253</key><string>&#x0130;</string>
<key>hA254</key><string>&#x0131;</string>
<key>hA255</key><string>&#x0132;</string>
<key>hA256</key><string>&#x0133;</string>
<key>hA257</key><string>&#x0134;</string>
<key>hA258</key><string>&#x0135;</string>
<key>hA259</key><string>&#x0136;</string>
<key>hA25A</key><string>&#x0137;</string>
<key>hA25B</key><string>&#x0138;</string>
<key>hA25C</key><string>&#x0139;</string>
<key>hA25D</key><string>&#x013A;</string>
<key>hA25E</key><string>&#x013B;</string>
<key>hA25F</key><string>&#x013C;</string>
<key>hA260</key><string>&#x013D;</string>
<key>hA261</key><string>&#x013E;</string>
<key>hA262</key><string>&#x013F;</string>

<key>hA263</key><string>&#x0140;</string>
<key>hA264</key><string>&#x0141;</string>
<key>hA265</key><string>&#x0142;</string>
<key>hA266</key><string>&#x0143;</string>
<key>hA267</key><string>&#x0144;</string>
<key>hA268</key><string>&#x0145;</string>
<key>hA269</key><string>&#x0146;</string>
<key>hA26A</key><string>&#x0147;</string>
<key>hA26B</key><string>&#x0148;</string>
<key>hA26C</key><string>&#x0149;</string>
<key>hA26D</key><string>&#x014A;</string>
<key>hA26E</key><string>&#x014B;</string>
<key>hA26F</key><string>&#x014C;</string>
<key>hA270</key><string>&#x014D;</string>
<key>hA271</key><string>&#x014E;</string>
<key>hA272</key><string>&#x014F;</string>

<key>hA273</key><string>&#x0150;</string>
<key>hA274</key><string>&#x0151;</string>
<key>hA275</key><string>&#x0152;</string>
<key>hA276</key><string>&#x0153;</string>
<key>hA277</key><string>&#x0154;</string>
<key>hA278</key><string>&#x0155;</string>
<key>hA279</key><string>&#x0156;</string>
<key>hA27A</key><string>&#x0157;</string>
<key>hA27B</key><string>&#x0158;</string>
<key>hA27C</key><string>&#x0159;</string>
<key>hA27D</key><string>&#x015A;</string>
<key>hA27E</key><string>&#x015B;</string>
<key>hA321</key><string>&#x015C;</string>
<key>hA322</key><string>&#x015D;</string>
<key>hA323</key><string>&#x015E;</string>
<key>hA324</key><string>&#x015F;</string>

<key>hA325</key><string>&#x0160;</string>
<key>hA326</key><string>&#x0161;</string>
<key>hA327</key><string>&#x0162;</string>
<key>hA328</key><string>&#x0163;</string>
<key>hA329</key><string>&#x0164;</string>
<key>hA32A</key><string>&#x0165;</string>
<key>hA32B</key><string>&#x0166;</string>
<key>hA32C</key><string>&#x0167;</string>
<key>hA32D</key><string>&#x0168;</string>
<key>hA32E</key><string>&#x0169;</string>
<key>hA32F</key><string>&#x016A;</string>
<key>hA330</key><string>&#x016B;</string>
<key>hA331</key><string>&#x016C;</string>
<key>hA332</key><string>&#x016D;</string>
<key>hA333</key><string>&#x016E;</string>
<key>hA334</key><string>&#x016F;</string>

<key>hA335</key><string>&#x0170;</string>
<key>hA336</key><string>&#x0171;</string>
<key>hA337</key><string>&#x0172;</string>
<key>hA338</key><string>&#x0173;</string>
<key>hA339</key><string>&#x0174;</string>
<key>hA33A</key><string>&#x0175;</string>
<key>hA33B</key><string>&#x0176;</string>
<key>hA33C</key><string>&#x0177;</string>
<key>hA33D</key><string>&#x0178;</string>
<key>hA33E</key><string>&#x0179;</string>
<key>hA33F</key><string>&#x017A;</string>
<key>hA340</key><string>&#x017B;</string>
<key>hA341</key><string>&#x017C;</string>
<key>hA342</key><string>&#x017D;</string>
<key>hA343</key><string>&#x017E;</string>
<key>hA344</key><string>&#x017F;</string>

<key>hA345</key><string>&#x01CD;</string>
<key>hA346</key><string>&#x01CE;</string>
<key>hA347</key><string>&#x01CF;</string>
<key>hA348</key><string>&#x01D0;</string>
<key>hA349</key><string>&#x01D1;</string>
<key>hA34A</key><string>&#x01D2;</string>
<key>hA34B</key><string>&#x01D3;</string>
<key>hA34C</key><string>&#x01D4;</string>

<key>hA34D</key><string>&#x0192;</string>
<key>hA34E</key><string>&#x02C6;</string>
<key>hA34F</key><string>&#x02DC;</string>

<key>hA350</key><string>&#x0254;</string>
<key>hA351</key><string>&#xE002;</string>
<key>hA352</key><string>&#xE003;</string>
<key>hA353</key><string>&#x0259;</string>
<key>hA354</key><string>&#xE004;</string>
<key>hA355</key><string>&#xE005;</string>
<key>hA356</key><string>&#x028C;</string>
<key>hA357</key><string>&#xE006;</string>
<key>hA358</key><string>&#xE007;</string>
<key>hA359</key><string>&#x02D0;</string>
<key>hA35A</key><string>&#x0251;</string>
<key>hA35B</key><string>&#xE008;</string>
<key>hA35C</key><string>&#xE009;</string>
<key>hA35D</key><string>&#x0283;</string>
<key>hA35E</key><string>&#x028A;</string>
<key>hA35F</key><string>&#x03B8;</string>
<key>hA360</key><string>&#x0292;</string>
<key>hA361</key><string>&#x0252;</string>
<key>hA362</key><string>&#x025B;</string>
<key>hA363</key><string>&#x025C;</string>
<key>hA364</key><string>&#x028E;</string>

</dict>
</plist>
