<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>hA121</key><string>É</string>
<key>hA122</key><string>à</string>
<key>hA123</key><string>ä</string>
<key>hA124</key><string>ç</string>
<key>hA125</key><string>é</string>
<key>hA126</key><string>è</string>
<key>hA128</key><string>ü</string>
<key>hA129</key><string>–</string>
<key>hA12A</key><string>=</string>
<key>hA12B</key><string>(</string>
<key>hA12C</key><string>)</string>
<key>hA12D</key><string>'</string>
<key>hA12E</key><string>“</string>
<key>hA12F</key><string>”</string>
<key>hA130</key><string>§</string>
<key>zB157</key><string>㉑</string>
<key>zB158</key><string>㉒</string>
<key>zB159</key><string>㉓</string>
<key>zB15A</key><string>㉔</string>
<key>zB15B</key><string>㉕</string>
<key>zB15C</key><string>㉖</string>
<key>zB15D</key><string>㉘</string>
<key>zB15E</key><string>㉛</string>
<key>zB15F</key><string>㉞</string>
<key>zB160</key><string>㉟</string>
<key>zB161</key><string>ⓐ</string>
<key>zB162</key><string>ⓑ</string>
<key>zB163</key><string>ⓒ</string>
<key>zB164</key><string>ⓓ</string>
<key>zB165</key><string>㋑</string>
<key>zB166</key><string>㋺</string>
<key>zB167</key><string>©</string>
<key>zB168</key><string>⑴</string>
<key>zB169</key><string>⒜</string>
<key>zB16A</key><string>⒝</string>
<key>zB16B</key><string>⒞</string>
<key>zB16C</key><string>⒠</string>
<key>zB16D</key><string>㈠</string>
<key>zB16F</key><string>；</string>
<key>zB170</key><string>○</string>
<key>zB171</key><string>●</string>
<key>zB172</key><string>弊</string>
<key>zB173</key><string>幫</string>
<key>zB174</key><string>瘖</string>
<key>zB175</key><string>迅</string>
<key>zB176</key><string>轄</string>
<key>zB177</key><string>閏</string>
<key>zB178</key><string>〻</string>
<key>zB17A</key><string>於</string>
<key>zB17B</key><string>諮</string>
<key>zB17C</key><string>謄</string>
<key>zB17D</key><string>逐</string>
<key>zB17E</key><string>騙</string>
<key>zB221</key><string>啞</string>
<key>zB222</key><string>溢</string>
<key>zB223</key><string>淫</string>
<key>zB224</key><string>迂</string>
<key>zB225</key><string>噓</string>
<key>zB226</key><string>牙</string>
<key>zB227</key><string>徽</string>
<key>zB228</key><string>祇</string>
<key>zB229</key><string>卿</string>
<key>zB22A</key><string>僅</string>
<key>zB22B</key><string>屑</string>
<key>zB22C</key><string>繫</string>
<key>zB22D</key><string>諺</string>
<key>zB22E</key><string>鞘</string>
<key>zB22F</key><string>撰</string>
<key>zB230</key><string>煽</string>
<key>zB231</key><string>遡</string>
<key>zB232</key><string>蛸</string>
<key>zB233</key><string>塡</string>
<key>zB234</key><string>顚</string>
<key>zB235</key><string>賭</string>
<key>zB236</key><string>禱</string>
<key>zB237</key><string>瀆</string>
<key>zB238</key><string>囊</string>
<key>zB239</key><string>剝</string>
<key>zB23A</key><string>叛</string>
<key>zB23B</key><string>挽</string>
<key>zB23C</key><string>謬</string>
<key>zB23D</key><string>蔽</string>
<key>zB23E</key><string>篇</string>
<key>zB23F</key><string>娩</string>
<key>zB240</key><string>簾</string>
<key>zB241</key><string>冤</string>
<key>zB242</key><string>吞</string>
<key>zB244</key><string>逼</string>
</dict>
</plist>
